
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/attica-5.20.0.tar.xz">attica-5.20.0</a></td>
   <td align="right">58kB</td>
   <td><tt>f17368ed0a92d2b78b08e839f0ad4462264664be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/baloo-5.20.0.tar.xz">baloo-5.20.0</a></td>
   <td align="right">179kB</td>
   <td><tt>7d78987c7edf4e0dd9d612aa4efb1c3d608e1b44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/bluez-qt-5.20.0.tar.xz">bluez-qt-5.20.0</a></td>
   <td align="right">71kB</td>
   <td><tt>1069bd4928194458e7dfeb744ca10849e689d849</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/breeze-icons-5.20.0.tar.xz">breeze-icons-5.20.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>1294d28604504c5fce9c393d7233a576c97fae1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/extra-cmake-modules-5.20.0.tar.xz">extra-cmake-modules-5.20.0</a></td>
   <td align="right">278kB</td>
   <td><tt>8c9b0141d72f5501cfb206d9f15e20f9f1ea3c33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/frameworkintegration-5.20.0.tar.xz">frameworkintegration-5.20.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>728cf6db93be6d15745e16ff6b41f74a8cc125f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kactivities-5.20.0.tar.xz">kactivities-5.20.0</a></td>
   <td align="right">65kB</td>
   <td><tt>8404e358cda38e9802c0ab9e42c930802b3b440e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kapidox-5.20.0.tar.xz">kapidox-5.20.0</a></td>
   <td align="right">129kB</td>
   <td><tt>205d8ac3313743e3bdb618bc91f770aafca15caf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/karchive-5.20.0.tar.xz">karchive-5.20.0</a></td>
   <td align="right">106kB</td>
   <td><tt>054819f750827a8f08cca392d2987a83e5d9bee7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kauth-5.20.0.tar.xz">kauth-5.20.0</a></td>
   <td align="right">80kB</td>
   <td><tt>fb4548ee31be8ad091366b59b555541ecbd740e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kbookmarks-5.20.0.tar.xz">kbookmarks-5.20.0</a></td>
   <td align="right">112kB</td>
   <td><tt>3a34ed3476b4f44ea0945f1222cc0dbbb7f7db85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kcmutils-5.20.0.tar.xz">kcmutils-5.20.0</a></td>
   <td align="right">229kB</td>
   <td><tt>0051fceb09795043bf3ce77ef43fb16d83e91816</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kcodecs-5.20.0.tar.xz">kcodecs-5.20.0</a></td>
   <td align="right">212kB</td>
   <td><tt>58c9a6d6872c6ff5177f9cb04579a12078b8ef19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kcompletion-5.20.0.tar.xz">kcompletion-5.20.0</a></td>
   <td align="right">113kB</td>
   <td><tt>c48e9bb198a30f0ae9d16ef412c04c0da0666b2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kconfig-5.20.0.tar.xz">kconfig-5.20.0</a></td>
   <td align="right">219kB</td>
   <td><tt>21d233891442df88cc257a42e67c821021c2d91a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kconfigwidgets-5.20.0.tar.xz">kconfigwidgets-5.20.0</a></td>
   <td align="right">350kB</td>
   <td><tt>72768f281d8da7bb45da8fe0bea36efe573b92df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kcoreaddons-5.20.0.tar.xz">kcoreaddons-5.20.0</a></td>
   <td align="right">305kB</td>
   <td><tt>a2b91156da08352fa3f509c179e05d4d931141a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kcrash-5.20.0.tar.xz">kcrash-5.20.0</a></td>
   <td align="right">19kB</td>
   <td><tt>fd1e3e10addbefeef360a6b4458708a1cb67e9d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kdbusaddons-5.20.0.tar.xz">kdbusaddons-5.20.0</a></td>
   <td align="right">33kB</td>
   <td><tt>d850f849a3904d515574abe77071c2c058e0e09d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kdeclarative-5.20.0.tar.xz">kdeclarative-5.20.0</a></td>
   <td align="right">163kB</td>
   <td><tt>dc54dde88b69d0c357d0fd4eb5c1de2998923013</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kded-5.20.0.tar.xz">kded-5.20.0</a></td>
   <td align="right">35kB</td>
   <td><tt>66e046b151adc0a5db7dd57d949c176cdd5b0854</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kdesignerplugin-5.20.0.tar.xz">kdesignerplugin-5.20.0</a></td>
   <td align="right">85kB</td>
   <td><tt>dae431b5d50fe8109cee3c7c30197ddca139e092</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kdesu-5.20.0.tar.xz">kdesu-5.20.0</a></td>
   <td align="right">43kB</td>
   <td><tt>c8d3cb6c32abccd2c68250b67497f1c949addbcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kdewebkit-5.20.0.tar.xz">kdewebkit-5.20.0</a></td>
   <td align="right">28kB</td>
   <td><tt>fc6fc73102be9c0e7d93ca12dfdd98f8bf916a65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kdnssd-5.20.0.tar.xz">kdnssd-5.20.0</a></td>
   <td align="right">55kB</td>
   <td><tt>ff8c738d8e873b9e34d617029372f0ea5826a1e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kdoctools-5.20.0.tar.xz">kdoctools-5.20.0</a></td>
   <td align="right">398kB</td>
   <td><tt>8462ef5b3701ce63c3320681a6de697a74f94bee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kemoticons-5.20.0.tar.xz">kemoticons-5.20.0</a></td>
   <td align="right">211kB</td>
   <td><tt>cdaa6ef0a34496cf72690b60474150f1fd64521d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kfilemetadata-5.20.0.tar.xz">kfilemetadata-5.20.0</a></td>
   <td align="right">122kB</td>
   <td><tt>46ed45e1032b74f6954ba59cf12de7a774dc6b10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kglobalaccel-5.20.0.tar.xz">kglobalaccel-5.20.0</a></td>
   <td align="right">79kB</td>
   <td><tt>21e1ce82d42a4e76045db02533b9eadb9b3bbe05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kguiaddons-5.20.0.tar.xz">kguiaddons-5.20.0</a></td>
   <td align="right">38kB</td>
   <td><tt>b5eaa180b5a1652fccd9445f260ed81bcc1f9913</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/ki18n-5.20.0.tar.xz">ki18n-5.20.0</a></td>
   <td align="right">589kB</td>
   <td><tt>d32b8f0fb6766bfd7f161d266b2cdd7f5bad1033</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kiconthemes-5.20.0.tar.xz">kiconthemes-5.20.0</a></td>
   <td align="right">191kB</td>
   <td><tt>272337964a77f0ed20e2c8fa5c41b9a8e389c41f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kidletime-5.20.0.tar.xz">kidletime-5.20.0</a></td>
   <td align="right">25kB</td>
   <td><tt>dc16c494109e80d4a40b6ff256563fce42d6e2f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kimageformats-5.20.0.tar.xz">kimageformats-5.20.0</a></td>
   <td align="right">199kB</td>
   <td><tt>880afc813d174afb39fd1331c854f89ec9cbe3e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kinit-5.20.0.tar.xz">kinit-5.20.0</a></td>
   <td align="right">114kB</td>
   <td><tt>4bd5282199b3db846f94c0daafed41cde1108f25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kio-5.20.0.tar.xz">kio-5.20.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>94f909a437b62a13a783a8f5a2123096f72f9056</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kitemmodels-5.20.0.tar.xz">kitemmodels-5.20.0</a></td>
   <td align="right">376kB</td>
   <td><tt>ab6d6bc23ee502ec807e9466065e75ebbed8393d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kitemviews-5.20.0.tar.xz">kitemviews-5.20.0</a></td>
   <td align="right">72kB</td>
   <td><tt>0f0bbe9ec9936d75055a85450edbb141264b2f1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kjobwidgets-5.20.0.tar.xz">kjobwidgets-5.20.0</a></td>
   <td align="right">86kB</td>
   <td><tt>866ba61fc374591f8fbab73bf599b015c1a033e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/knewstuff-5.20.0.tar.xz">knewstuff-5.20.0</a></td>
   <td align="right">839kB</td>
   <td><tt>1e8f41b451a4f42d23ed264962e34c97d7fa7cb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/knotifications-5.20.0.tar.xz">knotifications-5.20.0</a></td>
   <td align="right">91kB</td>
   <td><tt>357d6bc7a57bddb3cea60006e8fefc23c86f5ff5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/knotifyconfig-5.20.0.tar.xz">knotifyconfig-5.20.0</a></td>
   <td align="right">81kB</td>
   <td><tt>9def8edb094f05afc0b334b25705fe3ea9bbfa6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kpackage-5.20.0.tar.xz">kpackage-5.20.0</a></td>
   <td align="right">105kB</td>
   <td><tt>2d045f05f88129dd2912a4f57461d8346fc2d54a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kparts-5.20.0.tar.xz">kparts-5.20.0</a></td>
   <td align="right">150kB</td>
   <td><tt>a56c28f7d8a9712423b4f013833165f2c4929729</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kpeople-5.20.0.tar.xz">kpeople-5.20.0</a></td>
   <td align="right">56kB</td>
   <td><tt>df1112ea56a7809868c5afcc3dfce3dddbe32f11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kplotting-5.20.0.tar.xz">kplotting-5.20.0</a></td>
   <td align="right">28kB</td>
   <td><tt>7dedb60b81eecaa4a6964aece3eb2ca6d62be0a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kpty-5.20.0.tar.xz">kpty-5.20.0</a></td>
   <td align="right">55kB</td>
   <td><tt>2d21dc3447703c1fd35c8d5270ccd483d15e65a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kservice-5.20.0.tar.xz">kservice-5.20.0</a></td>
   <td align="right">262kB</td>
   <td><tt>0fa3fb1f82a32ad4c301dbff49e7f5949be75a32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/ktexteditor-5.20.0.tar.xz">ktexteditor-5.20.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>1662e841e44b173777d415287c2e4a4d7eac26b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/ktextwidgets-5.20.0.tar.xz">ktextwidgets-5.20.0</a></td>
   <td align="right">299kB</td>
   <td><tt>e89a772c801ca08101f3ccb0e6b56aa241536faf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kunitconversion-5.20.0.tar.xz">kunitconversion-5.20.0</a></td>
   <td align="right">603kB</td>
   <td><tt>97075435178a22b84d163b7e1302ef233ab3e950</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kwallet-5.20.0.tar.xz">kwallet-5.20.0</a></td>
   <td align="right">281kB</td>
   <td><tt>508b124b60807aa530bf4ec170c1430ace97748f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kwidgetsaddons-5.20.0.tar.xz">kwidgetsaddons-5.20.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>f64fbfaaa47edd199f8aa31864a86044beddf9b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kwindowsystem-5.20.0.tar.xz">kwindowsystem-5.20.0</a></td>
   <td align="right">159kB</td>
   <td><tt>518fbc3cf988b7bde7ede8ec6639ffc15bb49125</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kxmlgui-5.20.0.tar.xz">kxmlgui-5.20.0</a></td>
   <td align="right">847kB</td>
   <td><tt>3d12cff76cf387c6e8b5807f23797f1382348f50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/kxmlrpcclient-5.20.0.tar.xz">kxmlrpcclient-5.20.0</a></td>
   <td align="right">27kB</td>
   <td><tt>d62040ca9ef0ed67dc39c003e6eb36d104f17a15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/modemmanager-qt-5.20.0.tar.xz">modemmanager-qt-5.20.0</a></td>
   <td align="right">96kB</td>
   <td><tt>621cb746a10a6087ccce41ef3af9b2428b575e73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/networkmanager-qt-5.20.0.tar.xz">networkmanager-qt-5.20.0</a></td>
   <td align="right">152kB</td>
   <td><tt>639bbe47414bd1521be8adcea44fce3bd8252725</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/oxygen-icons5-5.20.0.tar.xz">oxygen-icons5-5.20.0</a></td>
   <td align="right">222MB</td>
   <td><tt>8f40a33adca0e71e5ff2ba809f39d76540378c09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/plasma-framework-5.20.0.tar.xz">plasma-framework-5.20.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>ab2c7d245b968116cad66e3d9f739b1fef595742</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/solid-5.20.0.tar.xz">solid-5.20.0</a></td>
   <td align="right">261kB</td>
   <td><tt>4f0dc1d879e7756069b37c57f3848ef66eabd109</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/sonnet-5.20.0.tar.xz">sonnet-5.20.0</a></td>
   <td align="right">275kB</td>
   <td><tt>9eab719ae5bb8998d686bbf3d3de645f1a81074c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.20/threadweaver-5.20.0.tar.xz">threadweaver-5.20.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>14ba9c393a0a08aa4b6f6fba0943b08ab1feace0</tt></td>
</tr>

</table>
