<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/bluedevil-5.24.7.tar.xz">bluedevil-5.24.7</a></td>
   <td align="right">171kB</td>
   <td><tt>427c1c759dbd677512286495617a3e1d4d07f81ef4eca4e25990f2b8899a1d77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/breeze-5.24.7.tar.xz">breeze-5.24.7</a></td>
   <td align="right">41MB</td>
   <td><tt>69fa571f5640a14d42b2680ebae2000e27f80f0406501528b306770b94a0ff5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/breeze-grub-5.24.7.tar.xz">breeze-grub-5.24.7</a></td>
   <td align="right">2.9MB</td>
   <td><tt>592c5268be3e78f757598216f12b471d2fc55b859a6c6bf87e16560fac437861</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/breeze-gtk-5.24.7.tar.xz">breeze-gtk-5.24.7</a></td>
   <td align="right">42kB</td>
   <td><tt>949f4798f2314bf3772980010f93c8a6dfcd5a9133d3dc2004bee9974347d46e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/breeze-plymouth-5.24.7.tar.xz">breeze-plymouth-5.24.7</a></td>
   <td align="right">108kB</td>
   <td><tt>dfc1706b5db886f71bbc0ba5e820137769109e2221ac9c7c18f97f7ce028f9b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/discover-5.24.7.tar.xz">discover-5.24.7</a></td>
   <td align="right">7.8MB</td>
   <td><tt>e90e65743afdfece88cd6244feb6e9f44b8260bb3439a79cdd62442b61b0c3d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/drkonqi-5.24.7.tar.xz">drkonqi-5.24.7</a></td>
   <td align="right">782kB</td>
   <td><tt>12f58b4da6dfa9b8e5cbac1a627aa7a9e47f0ee8c802bcee7e3d59a534d3783c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/kactivitymanagerd-5.24.7.tar.xz">kactivitymanagerd-5.24.7</a></td>
   <td align="right">103kB</td>
   <td><tt>0515f4257dded6ecdd9d330dc89c79a1965ee1f237865e2c1d2373e46989b907</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/kde-cli-tools-5.24.7.tar.xz">kde-cli-tools-5.24.7</a></td>
   <td align="right">620kB</td>
   <td><tt>4e86e11c3c71d9780fcf65b3c4703c8a75064cf9fd791e8d5f4bcb6659ce3572</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/kdecoration-5.24.7.tar.xz">kdecoration-5.24.7</a></td>
   <td align="right">48kB</td>
   <td><tt>9b0c675f01d9cd4cea746e0658b6ff1b64339dd3df71efe7fcdd9b73545245fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/kde-gtk-config-5.24.7.tar.xz">kde-gtk-config-5.24.7</a></td>
   <td align="right">69kB</td>
   <td><tt>cd49c848f187b07d9ca5556ec9598cab60df1e96bc77e80d56241808de0da1c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/kdeplasma-addons-5.24.7.tar.xz">kdeplasma-addons-5.24.7</a></td>
   <td align="right">631kB</td>
   <td><tt>7fb9dfb7a0ae5790b6d70c6065267526f39dddd22741fe3503dfa236181a3d96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/kgamma5-5.24.7.tar.xz">kgamma5-5.24.7</a></td>
   <td align="right">81kB</td>
   <td><tt>f7f6519918f06185fb4da3e7a19f2408d22ea87406c116fddb464873c3c64ebf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/khotkeys-5.24.7.tar.xz">khotkeys-5.24.7</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2b9294086f11af9805463d0b4d7e4319b3aff9f1cf0bc6865323bb033f185fde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/kinfocenter-5.24.7.tar.xz">kinfocenter-5.24.7</a></td>
   <td align="right">705kB</td>
   <td><tt>00ef0741fb883f2e567628e65b93c640d756421f163908e22c8c347f1ad200c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/kmenuedit-5.24.7.tar.xz">kmenuedit-5.24.7</a></td>
   <td align="right">880kB</td>
   <td><tt>4e10ff18ba18cf520e4b36ac5674475c34e360948acd8ef519b3d011bcb5cfd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/kscreen-5.24.7.tar.xz">kscreen-5.24.7</a></td>
   <td align="right">136kB</td>
   <td><tt>8030c7e6464bb0a8da620b552716e3bfd46fd475b190cc3e6e54b969d75010b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/kscreenlocker-5.24.7.tar.xz">kscreenlocker-5.24.7</a></td>
   <td align="right">118kB</td>
   <td><tt>ef4d44d5b51b61a079999b1f671169c14b21553db0155689cfe22a7649c4feac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/ksshaskpass-5.24.7.tar.xz">ksshaskpass-5.24.7</a></td>
   <td align="right">24kB</td>
   <td><tt>20f76f66955d56f10cc17cb3c656536ce5b323f08e43a771a32e626c640f4b83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/ksystemstats-5.24.7.tar.xz">ksystemstats-5.24.7</a></td>
   <td align="right">93kB</td>
   <td><tt>8bab74baaa86e994bf6d7520449fec5cf4ea3bb19b8cc2173cfb1ec7210d0995</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/kwallet-pam-5.24.7.tar.xz">kwallet-pam-5.24.7</a></td>
   <td align="right">20kB</td>
   <td><tt>5839c16e96c2bb1709eb5ef09aca317e26f0f59c0f92d9bf417ace2b0801a3f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/kwayland-integration-5.24.7.tar.xz">kwayland-integration-5.24.7</a></td>
   <td align="right">24kB</td>
   <td><tt>8014375c2de0a98a3d6b128319bc72e41dff45090e339a8208531dfd3f90702c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/kwayland-server-5.24.7.tar.xz">kwayland-server-5.24.7</a></td>
   <td align="right">216kB</td>
   <td><tt>0091fa0179aae49d1b84fd4b9e4d4ab159eb13d6051c680174bd01ac70a3f84d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/kwin-5.24.7.tar.xz">kwin-5.24.7</a></td>
   <td align="right">6.1MB</td>
   <td><tt>9f8318633e1662c6e32ca447c16257c043a40c1777acaa41464640cbda9b0725</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/kwrited-5.24.7.tar.xz">kwrited-5.24.7</a></td>
   <td align="right">20kB</td>
   <td><tt>6728263778dac8b81a2d0e19933872525ac2232b65dfe039ad5db3cb71003995</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/layer-shell-qt-5.24.7.tar.xz">layer-shell-qt-5.24.7</a></td>
   <td align="right">17kB</td>
   <td><tt>1edd0986c256d98f65a13dc97e35bfa2ddf43a965d78bd41e99aa9aff30c1d18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/libkscreen-5.24.7.tar.xz">libkscreen-5.24.7</a></td>
   <td align="right">97kB</td>
   <td><tt>b399ca4a345973d20f1dbd3318b1c41faf148f97cd60ae7a16267009d2d0f2ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/libksysguard-5.24.7.tar.xz">libksysguard-5.24.7</a></td>
   <td align="right">760kB</td>
   <td><tt>fec8ad5b5e4e9d74d7f466d44348d81bbe9122c1228fc0a76da6e2ccc9ef1043</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/milou-5.24.7.tar.xz">milou-5.24.7</a></td>
   <td align="right">47kB</td>
   <td><tt>0d89b531cf95b7c09bd592bbc9262a53a91484743021aa3312e9d54e03eed9c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/oxygen-5.24.7.tar.xz">oxygen-5.24.7</a></td>
   <td align="right">4.4MB</td>
   <td><tt>a709b36d993f739bca1ede7be4fb9284a8c65bac225aa3aeb0498ff5d8fc1fcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/plasma-browser-integration-5.24.7.tar.xz">plasma-browser-integration-5.24.7</a></td>
   <td align="right">223kB</td>
   <td><tt>b79b44750b433fdcde4eac71b12689c3a53d48ea3addae80d2272feea18d5f57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/plasma-desktop-5.24.7.tar.xz">plasma-desktop-5.24.7</a></td>
   <td align="right">5.9MB</td>
   <td><tt>77c998a9d7a08d2c5070ae01c25134a2f6f271520d756d96bd81f60af60cfdf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/plasma-disks-5.24.7.tar.xz">plasma-disks-5.24.7</a></td>
   <td align="right">87kB</td>
   <td><tt>5afbf7e34686e0d581cf0bda5f0c1d79baf40d652aee5e9cb853949c4c741a1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/plasma-firewall-5.24.7.tar.xz">plasma-firewall-5.24.7</a></td>
   <td align="right">340kB</td>
   <td><tt>874f4c63b6b3611f442728043379595c7498bc8fc40936ce62c565b43f71b280</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/plasma-integration-5.24.7.tar.xz">plasma-integration-5.24.7</a></td>
   <td align="right">82kB</td>
   <td><tt>07a09f09baa1ccf98a4d3729aacc7cda512f365b23fc5957d454111cf38b8006</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/plasma-mobile-5.24.7.tar.xz">plasma-mobile-5.24.7</a></td>
   <td align="right">115kB</td>
   <td><tt>5c665e47681f2149b417724130326c231c5149b1bb85636a8a2243dd8461e108</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/plasma-nano-5.24.7.tar.xz">plasma-nano-5.24.7</a></td>
   <td align="right">64kB</td>
   <td><tt>6caf0ac9ea1dcacfea30a1938f37b940b8432761d5dad31da6e839f28d3ee36d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/plasma-nm-5.24.7.tar.xz">plasma-nm-5.24.7</a></td>
   <td align="right">917kB</td>
   <td><tt>a8c23688f56ccfbf68586cd5a45bd58db6f03258f42eb23456c0787fc0401b27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/plasma-pa-5.24.7.tar.xz">plasma-pa-5.24.7</a></td>
   <td align="right">131kB</td>
   <td><tt>781e4adf47040c4073d3bc819b3b51eaf9ea7c60655eaed18b9dea2807f0a34f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/plasma-sdk-5.24.7.tar.xz">plasma-sdk-5.24.7</a></td>
   <td align="right">258kB</td>
   <td><tt>fc9692921df85f2c65a5d372098500f1a3d4ccbcb0573518a2cbc3c9463b3aef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/plasma-systemmonitor-5.24.7.tar.xz">plasma-systemmonitor-5.24.7</a></td>
   <td align="right">151kB</td>
   <td><tt>a7bac465a9ba97f2ae2116166df09469f3687a65a129ad804d3bee70bebcc634</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/plasma-tests-5.24.7.tar.xz">plasma-tests-5.24.7</a></td>
   <td align="right">1kB</td>
   <td><tt>8701a5eb7e50207f475ca89da12e8a6c683e182bec463e7b607ca819de78ec8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/plasma-thunderbolt-5.24.7.tar.xz">plasma-thunderbolt-5.24.7</a></td>
   <td align="right">66kB</td>
   <td><tt>8ab4782f148c00510d19b070a179c971c805db3ebf917b4fb640f15f1d8e9538</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/plasma-vault-5.24.7.tar.xz">plasma-vault-5.24.7</a></td>
   <td align="right">177kB</td>
   <td><tt>0257aede1067217f4ef4a062004ec9b11c0492524159f221fa57c4b41ad1efd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/plasma-workspace-5.24.7.tar.xz">plasma-workspace-5.24.7</a></td>
   <td align="right">17MB</td>
   <td><tt>d0903656b7b20cbb5af422250d435ceacbfa72785169453e9e84a45509704c45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/plasma-workspace-wallpapers-5.24.7.tar.xz">plasma-workspace-wallpapers-5.24.7</a></td>
   <td align="right">69MB</td>
   <td><tt>802d4d1223f3a7cb3ab41f8f5219b847b43c77f42697b8bed76d5ff8a0cca6b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/plymouth-kcm-5.24.7.tar.xz">plymouth-kcm-5.24.7</a></td>
   <td align="right">40kB</td>
   <td><tt>2ff5156cdf7ef9e41c565b10d587067d07acac9b938103205b6c7de4604cdeae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/polkit-kde-agent-1-5.24.7.tar.xz">polkit-kde-agent-1-5.24.7</a></td>
   <td align="right">47kB</td>
   <td><tt>e821267042d6a56d4603b4269e770aaf86f18ebda3210e82630a2451448f3fcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/powerdevil-5.24.7.tar.xz">powerdevil-5.24.7</a></td>
   <td align="right">620kB</td>
   <td><tt>30db90cc6d5e17071b657b155e0072a3db3c61d59ed4a99b4be0ed266a87d670</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/qqc2-breeze-style-5.24.7.tar.xz">qqc2-breeze-style-5.24.7</a></td>
   <td align="right">65kB</td>
   <td><tt>988e2b5e2f29e30c499b26b537438500643ec50142dcd36aeffd952625d0851d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/sddm-kcm-5.24.7.tar.xz">sddm-kcm-5.24.7</a></td>
   <td align="right">80kB</td>
   <td><tt>6e4cad739fa4c5f4f0a4074cb465120a505c13cb581ef275e3b4f5e955071fb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/systemsettings-5.24.7.tar.xz">systemsettings-5.24.7</a></td>
   <td align="right">201kB</td>
   <td><tt>49526048163064be475aee9b6231f3a13a761744dce2a89194a35fb5e3296ab3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.7/xdg-desktop-portal-kde-5.24.7.tar.xz">xdg-desktop-portal-kde-5.24.7</a></td>
   <td align="right">87kB</td>
   <td><tt>7a2a80efa44b060ba56741dd7bb05668e290fce78685e985ea0cccb3c061b830</tt></td>
</tr>

</table>
