
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/attica-5.105.0.tar.xz">attica-5.105.0</a></td>
   <td align="right">67kB</td>
   <td><tt>e9250a66ea2942689d10fd1507a4ac4b43a3b40c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/baloo-5.105.0.tar.xz">baloo-5.105.0</a></td>
   <td align="right">298kB</td>
   <td><tt>91e5d3d30f0e2c917dbb863b46ae5dc3893c76ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/bluez-qt-5.105.0.tar.xz">bluez-qt-5.105.0</a></td>
   <td align="right">111kB</td>
   <td><tt>1bfa8c8a01d6c8e1852b914486f2f97f0bcb57a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/breeze-icons-5.105.0.tar.xz">breeze-icons-5.105.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>012b5c2f6cedcbce999f3f950c30defdb28c4c24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/extra-cmake-modules-5.105.0.tar.xz">extra-cmake-modules-5.105.0</a></td>
   <td align="right">323kB</td>
   <td><tt>89991d0cb92a3fdf91f696fdd14af653854ca2d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/frameworkintegration-5.105.0.tar.xz">frameworkintegration-5.105.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d9a4c1318d1dee4465d180f8641ac39efc3f6845</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kactivities-5.105.0.tar.xz">kactivities-5.105.0</a></td>
   <td align="right">71kB</td>
   <td><tt>e71165300f2b62e5dfe1a128cfa52402d643680e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kactivities-stats-5.105.0.tar.xz">kactivities-stats-5.105.0</a></td>
   <td align="right">82kB</td>
   <td><tt>5cb7c74708f4d46ef69e6b532dcd606f0c9b0364</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kapidox-5.105.0.tar.xz">kapidox-5.105.0</a></td>
   <td align="right">194kB</td>
   <td><tt>37d03996e65c34dba8a675c2850d9ee0c4c97d1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/karchive-5.105.0.tar.xz">karchive-5.105.0</a></td>
   <td align="right">991kB</td>
   <td><tt>f19b4e94782bd0cf52b8dfbe838d1879752fb0aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kauth-5.105.0.tar.xz">kauth-5.105.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>89536b3a43bfc9ead1a7879c4b19ee1f5d3ea0fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kbookmarks-5.105.0.tar.xz">kbookmarks-5.105.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>62b08af1fae31988f138172066da1af66f576d29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kcalendarcore-5.105.0.tar.xz">kcalendarcore-5.105.0</a></td>
   <td align="right">262kB</td>
   <td><tt>139e421838d33a779d1bd929dcc7f3a00c80d266</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kcmutils-5.105.0.tar.xz">kcmutils-5.105.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>802a208f662957de5d9c09241f63ea5ce8806a7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kcodecs-5.105.0.tar.xz">kcodecs-5.105.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>a08263db7f5ebe20f80dae5150f5a51a0c2b50d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kcompletion-5.105.0.tar.xz">kcompletion-5.105.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>0e4c1a46b68b36a4dadeb9bd38fce45468b242ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kconfig-5.105.0.tar.xz">kconfig-5.105.0</a></td>
   <td align="right">286kB</td>
   <td><tt>04e0bb8dd89405a9c1bca05e186f7309d04b7b6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kconfigwidgets-5.105.0.tar.xz">kconfigwidgets-5.105.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>d5103afc5966e52e7c1a746e0944f0c6290b4426</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kcontacts-5.105.0.tar.xz">kcontacts-5.105.0</a></td>
   <td align="right">208kB</td>
   <td><tt>e469ca58c3fef79d494e3c2ed02d6e1dde193923</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kcoreaddons-5.105.0.tar.xz">kcoreaddons-5.105.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>8c06a07491589950aff73cac2bee09f8b8c0a5db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kcrash-5.105.0.tar.xz">kcrash-5.105.0</a></td>
   <td align="right">27kB</td>
   <td><tt>0be69274849f582bb3572fd77ad8e406b68ba087</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kdav-5.105.0.tar.xz">kdav-5.105.0</a></td>
   <td align="right">64kB</td>
   <td><tt>bd63e84d14680204a6f3e52ae7d59b06fa40b61f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kdbusaddons-5.105.0.tar.xz">kdbusaddons-5.105.0</a></td>
   <td align="right">47kB</td>
   <td><tt>7a00b230bb98fdeff09f50a1700000da37b118f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kdeclarative-5.105.0.tar.xz">kdeclarative-5.105.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>b57acc397213a3a3facaff57048ad9ba8f25cb7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kded-5.105.0.tar.xz">kded-5.105.0</a></td>
   <td align="right">40kB</td>
   <td><tt>5dd05248ae0d788757fe2e2426f525a2763a6017</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kdesu-5.105.0.tar.xz">kdesu-5.105.0</a></td>
   <td align="right">55kB</td>
   <td><tt>1819de32550f55a272df131b0f8c849fe3391146</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kdnssd-5.105.0.tar.xz">kdnssd-5.105.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>994cc967b6f12dff433c62dd245a5fc58d7893cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kdoctools-5.105.0.tar.xz">kdoctools-5.105.0</a></td>
   <td align="right">452kB</td>
   <td><tt>5e3c15f0fc2b55f69647d04f8afe988047304db6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kemoticons-5.105.0.tar.xz">kemoticons-5.105.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8013ee788d2b43a8d315094d85d7e2a852b53157</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kfilemetadata-5.105.0.tar.xz">kfilemetadata-5.105.0</a></td>
   <td align="right">458kB</td>
   <td><tt>913139e690979776c5d11497b0aae8abe39782fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kglobalaccel-5.105.0.tar.xz">kglobalaccel-5.105.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>fd6947ad0b06b00f75be4c71e588fc45df4d7a67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kguiaddons-5.105.0.tar.xz">kguiaddons-5.105.0</a></td>
   <td align="right">76kB</td>
   <td><tt>58955427f3e2bc5b6a8c51e41d65e0dfb592a648</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kholidays-5.105.0.tar.xz">kholidays-5.105.0</a></td>
   <td align="right">248kB</td>
   <td><tt>7b31949bf719edac24763a633dd05b0925a60d99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/ki18n-5.105.0.tar.xz">ki18n-5.105.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>08a13f254bb3f9e90b53ebd7118c5f1d899e40d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kiconthemes-5.105.0.tar.xz">kiconthemes-5.105.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>52e6b764567b02ee7a29b3dbc7161fb02f5a1130</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kidletime-5.105.0.tar.xz">kidletime-5.105.0</a></td>
   <td align="right">30kB</td>
   <td><tt>9084f4db91bc3ae893a10c171565bda019db2b58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kimageformats-5.105.0.tar.xz">kimageformats-5.105.0</a></td>
   <td align="right">12MB</td>
   <td><tt>8ef8436d120f0953435d3a974586a8da7073b935</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kinit-5.105.0.tar.xz">kinit-5.105.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>6769af07ec5ae1f3d40a14b6012e60d86a52233d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kio-5.105.0.tar.xz">kio-5.105.0</a></td>
   <td align="right">3.5MB</td>
   <td><tt>7db7adcd3b2bc922de0339c5edd9338ebb5335b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kirigami2-5.105.0.tar.xz">kirigami2-5.105.0</a></td>
   <td align="right">365kB</td>
   <td><tt>14ea021508f8b5a4f3eb7db5dcb79da2362b659f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kitemmodels-5.105.0.tar.xz">kitemmodels-5.105.0</a></td>
   <td align="right">397kB</td>
   <td><tt>ba5777ec73198dca3d7a4e565032b4d98a039f80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kitemviews-5.105.0.tar.xz">kitemviews-5.105.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>ea01887f7e052a5f921d73749cb48635b5baad51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kjobwidgets-5.105.0.tar.xz">kjobwidgets-5.105.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>fe773eeedf9c21a09b8bd5c8029335a8adf2513b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/knewstuff-5.105.0.tar.xz">knewstuff-5.105.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>f31ac922bf3e1d2bf09658c93dc0647259c04fb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/knotifications-5.105.0.tar.xz">knotifications-5.105.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>e06dfa4b3eb990da37d584a192159d2b1a97ea5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/knotifyconfig-5.105.0.tar.xz">knotifyconfig-5.105.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>a25dac572e9d175a212787b143074172510314f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kpackage-5.105.0.tar.xz">kpackage-5.105.0</a></td>
   <td align="right">182kB</td>
   <td><tt>2ea7712a555fb1cba530b72debcfce97fe5e5078</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kparts-5.105.0.tar.xz">kparts-5.105.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>f8034a126118a6e9954414272865491583301e71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kpeople-5.105.0.tar.xz">kpeople-5.105.0</a></td>
   <td align="right">61kB</td>
   <td><tt>c2ddf6e099e13489d3a8ca4e4cb3593ed202866d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kplotting-5.105.0.tar.xz">kplotting-5.105.0</a></td>
   <td align="right">32kB</td>
   <td><tt>1d49ff8fb799c129a5ec85506ca27a1018ded0f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kpty-5.105.0.tar.xz">kpty-5.105.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>8e3973e3b4c50f1f5ac4045e7d982961034e0ddc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kquickcharts-5.105.0.tar.xz">kquickcharts-5.105.0</a></td>
   <td align="right">110kB</td>
   <td><tt>edc1848b70ff23ab80e8a31893a32f258b9dff50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/krunner-5.105.0.tar.xz">krunner-5.105.0</a></td>
   <td align="right">86kB</td>
   <td><tt>6b8d7cde421b8b2be26152b1f43de5a30f8d44cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kservice-5.105.0.tar.xz">kservice-5.105.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>e6a94abebd4558388eafab78ceeb2d81c1aaf3ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/ktexteditor-5.105.0.tar.xz">ktexteditor-5.105.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>40300e2e30f994e7920b739957d91464b3ae53ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/ktextwidgets-5.105.0.tar.xz">ktextwidgets-5.105.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>f063e4a42dd1305628698689424f16ee28c7c375</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kunitconversion-5.105.0.tar.xz">kunitconversion-5.105.0</a></td>
   <td align="right">910kB</td>
   <td><tt>42a85f0cbccb542cb94375d33028600892d03175</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kwallet-5.105.0.tar.xz">kwallet-5.105.0</a></td>
   <td align="right">338kB</td>
   <td><tt>d38c21690d440917706fca8dae44cab2db6aec16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kwayland-5.105.0.tar.xz">kwayland-5.105.0</a></td>
   <td align="right">328kB</td>
   <td><tt>9a093de746c5981c84386f440581eaafd6fae645</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kwidgetsaddons-5.105.0.tar.xz">kwidgetsaddons-5.105.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>05e975bab9894df2b16b99cfb05cc226c9bb6561</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kwindowsystem-5.105.0.tar.xz">kwindowsystem-5.105.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>d4dd219638d965ad84ce8b41b3eb63935612a4f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/kxmlgui-5.105.0.tar.xz">kxmlgui-5.105.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>ff293bb626640f06bd76532ffdadbf99be6cd1e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/modemmanager-qt-5.105.0.tar.xz">modemmanager-qt-5.105.0</a></td>
   <td align="right">118kB</td>
   <td><tt>8c72b98198ff9c09353a76d13024f414955282c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/networkmanager-qt-5.105.0.tar.xz">networkmanager-qt-5.105.0</a></td>
   <td align="right">193kB</td>
   <td><tt>a52a889a40cd83953be1b2bf3188fb4626035f14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/oxygen-icons5-5.105.0.tar.xz">oxygen-icons5-5.105.0</a></td>
   <td align="right">227MB</td>
   <td><tt>a6e1c04acfb8a191bfaab69a7d04fa344d3615ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/plasma-framework-5.105.0.tar.xz">plasma-framework-5.105.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>cbe35710b6546b0f9d95c6f2c8384a2e38f66d36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/prison-5.105.0.tar.xz">prison-5.105.0</a></td>
   <td align="right">53kB</td>
   <td><tt>35334e7838c0717b700e6dffa79daa481f6d630d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/purpose-5.105.0.tar.xz">purpose-5.105.0</a></td>
   <td align="right">173kB</td>
   <td><tt>dbb4a52ab8c44e6328e572117c3e39a615ed5cac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/qqc2-desktop-style-5.105.0.tar.xz">qqc2-desktop-style-5.105.0</a></td>
   <td align="right">67kB</td>
   <td><tt>a156b9c3a0706bf3d8d98e40cc054b13be06cb60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/solid-5.105.0.tar.xz">solid-5.105.0</a></td>
   <td align="right">297kB</td>
   <td><tt>c4231abb296b53974d274b2c6705d5933f446e2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/sonnet-5.105.0.tar.xz">sonnet-5.105.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>b9ccb769904013e9e3d4097494596bd898eb276f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/syndication-5.105.0.tar.xz">syndication-5.105.0</a></td>
   <td align="right">498kB</td>
   <td><tt>bf0da1f354915ee51c7cb29eef14f5ace5119f81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/syntax-highlighting-5.105.0.tar.xz">syntax-highlighting-5.105.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>d8f032b433515b1d4dd2cde3beef96e5c3a53721</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.105/threadweaver-5.105.0.tar.xz">threadweaver-5.105.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>accd7f756e7361f2583d4705d48941a51d7ea98c</tt></td>
</tr>

</table>
