<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/akonadi-22.04.1.tar.xz">akonadi-22.04.1</a></td>
   <td align="right">1574kB</td>
   <td><tt>1c82ee5efb2c1f69ee4492e32358cf082825b81d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/akonadi-calendar-22.04.1.tar.xz">akonadi-calendar-22.04.1</a></td>
   <td align="right">356kB</td>
   <td><tt>29c54b5fc37ba9e43d42a29b16eb9ace61e367db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/akonadi-calendar-tools-22.04.1.tar.xz">akonadi-calendar-tools-22.04.1</a></td>
   <td align="right">231kB</td>
   <td><tt>9940759381276811aba339c86e2ef60767f2afe8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/akonadiconsole-22.04.1.tar.xz">akonadiconsole-22.04.1</a></td>
   <td align="right">196kB</td>
   <td><tt>21097b6f2942caedc329d2cf47c449c5055a6caa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/akonadi-contacts-22.04.1.tar.xz">akonadi-contacts-22.04.1</a></td>
   <td align="right">416kB</td>
   <td><tt>38bd12d4fcaec253707d77b71f4747288ce372dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/akonadi-import-wizard-22.04.1.tar.xz">akonadi-import-wizard-22.04.1</a></td>
   <td align="right">499kB</td>
   <td><tt>143e27290927b05f6bea763a09ca23882cd6aa91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/akonadi-mime-22.04.1.tar.xz">akonadi-mime-22.04.1</a></td>
   <td align="right">141kB</td>
   <td><tt>7c595b918ba3ca1317e5981bfc3562494bd55ec2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/akonadi-notes-22.04.1.tar.xz">akonadi-notes-22.04.1</a></td>
   <td align="right">26kB</td>
   <td><tt>45c31c6989d69a0be814ce7169bdd44a8aa4f626</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/akonadi-search-22.04.1.tar.xz">akonadi-search-22.04.1</a></td>
   <td align="right">97kB</td>
   <td><tt>081da2fef7bfc70dbda49a6644f6ed2c24029fa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/akregator-22.04.1.tar.xz">akregator-22.04.1</a></td>
   <td align="right">2200kB</td>
   <td><tt>1974428efbd752d03a9fc6f72621c2a38e0413aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/analitza-22.04.1.tar.xz">analitza-22.04.1</a></td>
   <td align="right">341kB</td>
   <td><tt>1cca4381a85b708222f65e94c2fb77b0b38322fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/ark-22.04.1.tar.xz">ark-22.04.1</a></td>
   <td align="right">2715kB</td>
   <td><tt>6fd39ae5315783f2451ec8ccb563b5bad3f5c1b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/artikulate-22.04.1.tar.xz">artikulate-22.04.1</a></td>
   <td align="right">1068kB</td>
   <td><tt>337d1bbee18a57009076d43f905cc7acb42c81bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/audiocd-kio-22.04.1.tar.xz">audiocd-kio-22.04.1</a></td>
   <td align="right">514kB</td>
   <td><tt>14e27c32e9cb4d6dd29c4a7ade75653568872b1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/baloo-widgets-22.04.1.tar.xz">baloo-widgets-22.04.1</a></td>
   <td align="right">264kB</td>
   <td><tt>e4f30b1fd621c39f86491a78467d77e56abcac3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/blinken-22.04.1.tar.xz">blinken-22.04.1</a></td>
   <td align="right">2651kB</td>
   <td><tt>abf958b1a6202aff5e9afd03900ab218403e8401</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/bomber-22.04.1.tar.xz">bomber-22.04.1</a></td>
   <td align="right">814kB</td>
   <td><tt>7b62286203b9d22d9a91f20df9e4bc89e247627f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/bovo-22.04.1.tar.xz">bovo-22.04.1</a></td>
   <td align="right">205kB</td>
   <td><tt>b229f9cd68c3132daa3e8b8834ffa7c9c19c5003</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/calendarsupport-22.04.1.tar.xz">calendarsupport-22.04.1</a></td>
   <td align="right">749kB</td>
   <td><tt>f8107ef0ff0f74b80efec63579af82f1ce948cd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/cantor-22.04.1.tar.xz">cantor-22.04.1</a></td>
   <td align="right">8980kB</td>
   <td><tt>2973dfb3ce2be6b5e836948a1cabccb0ca46a495</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/cervisia-22.04.1.tar.xz">cervisia-22.04.1</a></td>
   <td align="right">1868kB</td>
   <td><tt>7641c45303abf8b5fa6b25dce7f63b1b6e7bceab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/dolphin-22.04.1.tar.xz">dolphin-22.04.1</a></td>
   <td align="right">5204kB</td>
   <td><tt>9666946d0d988355d3a8f15ef8f6b59f5acfbab1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/dolphin-plugins-22.04.1.tar.xz">dolphin-plugins-22.04.1</a></td>
   <td align="right">250kB</td>
   <td><tt>6ee7f3f93ebfc92dd15972fe730c1d1cc08054dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/dragon-22.04.1.tar.xz">dragon-22.04.1</a></td>
   <td align="right">1627kB</td>
   <td><tt>d2d3424ef4acc8ec9e847ef28b7b19ca009ad5bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/elisa-22.04.1.tar.xz">elisa-22.04.1</a></td>
   <td align="right">1706kB</td>
   <td><tt>324bddcf0d05802472452adef6d4d233c834faee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/eventviews-22.04.1.tar.xz">eventviews-22.04.1</a></td>
   <td align="right">445kB</td>
   <td><tt>a3ff6f01c2867c8d52e7ecbe477d2a3b6c7374bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/falkon-22.04.1.tar.xz">falkon-22.04.1</a></td>
   <td align="right">2433kB</td>
   <td><tt>fb34a7d50d0aedf9aea9c8932ae74269fe02f444</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/ffmpegthumbs-22.04.1.tar.xz">ffmpegthumbs-22.04.1</a></td>
   <td align="right">29kB</td>
   <td><tt>a98d621e78b1bd73dee2e30fb95d65f59808aff2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/filelight-22.04.1.tar.xz">filelight-22.04.1</a></td>
   <td align="right">676kB</td>
   <td><tt>7f92fcc0f0089cc55db364217259d95b4b680377</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/granatier-22.04.1.tar.xz">granatier-22.04.1</a></td>
   <td align="right">2053kB</td>
   <td><tt>dd0fafd3c08c6d5fca588be75fc5605a7b1179c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/grantlee-editor-22.04.1.tar.xz">grantlee-editor-22.04.1</a></td>
   <td align="right">109kB</td>
   <td><tt>e9425d9fc8d9703019ce405bdc575fa8f402a89b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/grantleetheme-22.04.1.tar.xz">grantleetheme-22.04.1</a></td>
   <td align="right">60kB</td>
   <td><tt>1549a540d05eb3be829e54295b54ae5d26f9e471</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/gwenview-22.04.1.tar.xz">gwenview-22.04.1</a></td>
   <td align="right">6659kB</td>
   <td><tt>d21f7bb94852553bc40874eea38005355dbf8510</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/incidenceeditor-22.04.1.tar.xz">incidenceeditor-22.04.1</a></td>
   <td align="right">535kB</td>
   <td><tt>0fca405f33f843921185fd1c60d79a665360a921</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/itinerary-22.04.1.tar.xz">itinerary-22.04.1</a></td>
   <td align="right">487kB</td>
   <td><tt>062a677e2ef1776da74ae4f96fcd7b401b28d501</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/juk-22.04.1.tar.xz">juk-22.04.1</a></td>
   <td align="right">1968kB</td>
   <td><tt>a6d0bab722e64eca2809fab58c10b9fe96259cab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/k3b-22.04.1.tar.xz">k3b-22.04.1</a></td>
   <td align="right">10493kB</td>
   <td><tt>bcdacbe91462eb9c79a90f033c291c0888c62ae8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kaccounts-integration-22.04.1.tar.xz">kaccounts-integration-22.04.1</a></td>
   <td align="right">85kB</td>
   <td><tt>345f0204d623af59daf6c542346fcac0776d38d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kaccounts-providers-22.04.1.tar.xz">kaccounts-providers-22.04.1</a></td>
   <td align="right">62kB</td>
   <td><tt>ce8ff63537107752e0386901f3ccaf864e212d1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kaddressbook-22.04.1.tar.xz">kaddressbook-22.04.1</a></td>
   <td align="right">3271kB</td>
   <td><tt>da74b4a60792c8a7b76d22d20b1836000e0957df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kajongg-22.04.1.tar.xz">kajongg-22.04.1</a></td>
   <td align="right">4459kB</td>
   <td><tt>0b650bb598a32e26fba8061df8d76ef3c60d4e04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kalarm-22.04.1.tar.xz">kalarm-22.04.1</a></td>
   <td align="right">2264kB</td>
   <td><tt>51943b837bb70600a1d5f47f14e54e52756cc752</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kalendar-22.04.1.tar.xz">kalendar-22.04.1</a></td>
   <td align="right">253kB</td>
   <td><tt>12ace262bbd976b785faf9b0b2c13131ea1bf556</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kalgebra-22.04.1.tar.xz">kalgebra-22.04.1</a></td>
   <td align="right">1008kB</td>
   <td><tt>3d6d5d13fcd0cc41cff1eae7df8e27a86837757d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kalzium-22.04.1.tar.xz">kalzium-22.04.1</a></td>
   <td align="right">23901kB</td>
   <td><tt>235e5ea4814028f3e73be6e51d9c2ca29b1688e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kamera-22.04.1.tar.xz">kamera-22.04.1</a></td>
   <td align="right">116kB</td>
   <td><tt>812e15cf32aa07697ee7f0838f8f946255f27cbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kamoso-22.04.1.tar.xz">kamoso-22.04.1</a></td>
   <td align="right">220kB</td>
   <td><tt>7a395eda0cddda8e081191eefc2bdd7310c84a7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kanagram-22.04.1.tar.xz">kanagram-22.04.1</a></td>
   <td align="right">7857kB</td>
   <td><tt>764126103bdeb13d4887b18cdcac7b60f90127f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kapman-22.04.1.tar.xz">kapman-22.04.1</a></td>
   <td align="right">2417kB</td>
   <td><tt>9356f54dce45003cb6db586cbd1bbd885671a503</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kapptemplate-22.04.1.tar.xz">kapptemplate-22.04.1</a></td>
   <td align="right">326kB</td>
   <td><tt>c27ed348d609ac0b48e1bd31315560cda6716826</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kate-22.04.1.tar.xz">kate-22.04.1</a></td>
   <td align="right">7396kB</td>
   <td><tt>318fd5409a9bdc1254dabb9549a5b445cad40823</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/katomic-22.04.1.tar.xz">katomic-22.04.1</a></td>
   <td align="right">1404kB</td>
   <td><tt>438a6be656337408fd6c4652b7c5601001f256e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kbackup-22.04.1.tar.xz">kbackup-22.04.1</a></td>
   <td align="right">380kB</td>
   <td><tt>2acf19efcb0cbee85c314ecf5a35386b04bac24a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kblackbox-22.04.1.tar.xz">kblackbox-22.04.1</a></td>
   <td align="right">515kB</td>
   <td><tt>beda1dea2900f4199d2f596a4e6fa26440926c50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kblocks-22.04.1.tar.xz">kblocks-22.04.1</a></td>
   <td align="right">2052kB</td>
   <td><tt>c8e934325a45c62cc45b2fd5240f278eb0be821c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kbounce-22.04.1.tar.xz">kbounce-22.04.1</a></td>
   <td align="right">3448kB</td>
   <td><tt>5c04e21bd6682e178cf1c64a94e956176090f530</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kbreakout-22.04.1.tar.xz">kbreakout-22.04.1</a></td>
   <td align="right">2497kB</td>
   <td><tt>1b37369401e3187cf2561473eee44b6a93f8c637</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kbruch-22.04.1.tar.xz">kbruch-22.04.1</a></td>
   <td align="right">5501kB</td>
   <td><tt>f8c08863457c86f53d2e134307b785b91a2ffb79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kcachegrind-22.04.1.tar.xz">kcachegrind-22.04.1</a></td>
   <td align="right">849kB</td>
   <td><tt>81bfb43d8ead21f094bd4cad880e48117eb296c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kcalc-22.04.1.tar.xz">kcalc-22.04.1</a></td>
   <td align="right">379kB</td>
   <td><tt>9ff99a758ae6d030863caa2862542d13bd8d4c38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kcalutils-22.04.1.tar.xz">kcalutils-22.04.1</a></td>
   <td align="right">332kB</td>
   <td><tt>657fb15c0e4d2a4f3d6f4bd3334f3e9fcf9493e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kcharselect-22.04.1.tar.xz">kcharselect-22.04.1</a></td>
   <td align="right">365kB</td>
   <td><tt>95e0e13b0aa9f5092f7c2c26b18fb32f61edc6d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kcolorchooser-22.04.1.tar.xz">kcolorchooser-22.04.1</a></td>
   <td align="right">29kB</td>
   <td><tt>387316d62c8c859a4def04e209ce94feced941ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kcron-22.04.1.tar.xz">kcron-22.04.1</a></td>
   <td align="right">894kB</td>
   <td><tt>83d6822adbd57ad186e3c1974740b3dcc43e83ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kdebugsettings-22.04.1.tar.xz">kdebugsettings-22.04.1</a></td>
   <td align="right">90kB</td>
   <td><tt>eac822918ec54deadcc0d489959c05866ce3521c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kdeconnect-kde-22.04.1.tar.xz">kdeconnect-kde-22.04.1</a></td>
   <td align="right">594kB</td>
   <td><tt>c687851031232b97f94ea18556c14e02c16c201f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kde-dev-scripts-22.04.1.tar.xz">kde-dev-scripts-22.04.1</a></td>
   <td align="right">357kB</td>
   <td><tt>7569bc55c7576b3a1fc0cac5fbc83dd35400565b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kde-dev-utils-22.04.1.tar.xz">kde-dev-utils-22.04.1</a></td>
   <td align="right">66kB</td>
   <td><tt>670a74e90af4e1c69b3d2ede8564374b0c80d998</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kdeedu-data-22.04.1.tar.xz">kdeedu-data-22.04.1</a></td>
   <td align="right">328kB</td>
   <td><tt>357bdd457a73fc58fd4fd9f818715fb5ab0d4f68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kdegraphics-mobipocket-22.04.1.tar.xz">kdegraphics-mobipocket-22.04.1</a></td>
   <td align="right">12kB</td>
   <td><tt>67c8a0b26614dd89f5ae912b6d8f856a704c7246</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kdegraphics-thumbnailers-22.04.1.tar.xz">kdegraphics-thumbnailers-22.04.1</a></td>
   <td align="right">47kB</td>
   <td><tt>f4bbcda54ce433ecd4d622b68a1cb4a252768164</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kdenetwork-filesharing-22.04.1.tar.xz">kdenetwork-filesharing-22.04.1</a></td>
   <td align="right">373kB</td>
   <td><tt>74f7efcbb011920ab5189f5eeb12c138a41b013a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kdenlive-22.04.1.tar.xz">kdenlive-22.04.1</a></td>
   <td align="right">12122kB</td>
   <td><tt>4312beedaeb939f951f258163c89e77faf87a8bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kdepim-addons-22.04.1.tar.xz">kdepim-addons-22.04.1</a></td>
   <td align="right">2256kB</td>
   <td><tt>512f1bb38590150022d4824e1c33aa89f0acc4a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kdepim-runtime-22.04.1.tar.xz">kdepim-runtime-22.04.1</a></td>
   <td align="right">1729kB</td>
   <td><tt>a3fadb0fb91848914c8f2506351e2321d0bbc2aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kdesdk-kioslaves-22.04.1.tar.xz">kdesdk-kioslaves-22.04.1</a></td>
   <td align="right">38kB</td>
   <td><tt>0f17e7241a2c85b631cb48737c16d96f6c62f745</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kdesdk-thumbnailers-22.04.1.tar.xz">kdesdk-thumbnailers-22.04.1</a></td>
   <td align="right">25kB</td>
   <td><tt>7a0b420c271073bfee66ec877178a6ec7ad107d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kdevelop-22.04.1.tar.xz">kdevelop-22.04.1</a></td>
   <td align="right">8224kB</td>
   <td><tt>068148f3d5e82b7dd5212477f3e955fc83d263e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kdev-php-22.04.1.tar.xz">kdev-php-22.04.1</a></td>
   <td align="right">1055kB</td>
   <td><tt>80475369a92fba78fae6fa394cf04b8ec5e59963</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kdev-python-22.04.1.tar.xz">kdev-python-22.04.1</a></td>
   <td align="right">1065kB</td>
   <td><tt>c598110ef81ce4a21c2134e9254c5e2d065782b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kdf-22.04.1.tar.xz">kdf-22.04.1</a></td>
   <td align="right">465kB</td>
   <td><tt>c3cd2b14dbababf5fa95b393abcc9d69d51649e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kdialog-22.04.1.tar.xz">kdialog-22.04.1</a></td>
   <td align="right">113kB</td>
   <td><tt>2d32319e1cfa378a6ba7bb08ed9b8fd579c0f9d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kdiamond-22.04.1.tar.xz">kdiamond-22.04.1</a></td>
   <td align="right">4593kB</td>
   <td><tt>22b05cd87407c9b310293a059a8eb7a413dd76f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/keditbookmarks-22.04.1.tar.xz">keditbookmarks-22.04.1</a></td>
   <td align="right">198kB</td>
   <td><tt>1496e8dffe4d921c85441eab78accca77183c185</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kfind-22.04.1.tar.xz">kfind-22.04.1</a></td>
   <td align="right">280kB</td>
   <td><tt>78a10426ca3a3a57218a43a1608ef471e3e29158</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kfloppy-22.04.1.tar.xz">kfloppy-22.04.1</a></td>
   <td align="right">208kB</td>
   <td><tt>588f158a3ef2a7a92094eed61a20cbfcd056d653</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kfourinline-22.04.1.tar.xz">kfourinline-22.04.1</a></td>
   <td align="right">705kB</td>
   <td><tt>bd06138c3fab5ec82e0af3d41edc0c78084b4b35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kgeography-22.04.1.tar.xz">kgeography-22.04.1</a></td>
   <td align="right">10826kB</td>
   <td><tt>fb6b1178ae044687ae8072bc256c389c396367eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kget-22.04.1.tar.xz">kget-22.04.1</a></td>
   <td align="right">5314kB</td>
   <td><tt>18632347f094a8e85a7ae665380f06cb13cfb6e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kgoldrunner-22.04.1.tar.xz">kgoldrunner-22.04.1</a></td>
   <td align="right">4672kB</td>
   <td><tt>d9ca9394ebe53c6385128565ea4380ac5de0c7b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kgpg-22.04.1.tar.xz">kgpg-22.04.1</a></td>
   <td align="right">2886kB</td>
   <td><tt>8209c7e7e5fe3f483a305a040f47fd71ae74d01f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/khangman-22.04.1.tar.xz">khangman-22.04.1</a></td>
   <td align="right">7255kB</td>
   <td><tt>40e161f6f4d725b2e85d72b7769ecac755e517d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/khelpcenter-22.04.1.tar.xz">khelpcenter-22.04.1</a></td>
   <td align="right">4192kB</td>
   <td><tt>043f3fe6221c14e98568713d436c8f73549c0468</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kidentitymanagement-22.04.1.tar.xz">kidentitymanagement-22.04.1</a></td>
   <td align="right">155kB</td>
   <td><tt>0e97d2500ce356aeaeecc8352237d4cb0cdcf187</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kig-22.04.1.tar.xz">kig-22.04.1</a></td>
   <td align="right">3110kB</td>
   <td><tt>a196726dba1aa6135f8079da4be733a49b567a17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kigo-22.04.1.tar.xz">kigo-22.04.1</a></td>
   <td align="right">5130kB</td>
   <td><tt>f4d6ed32b8bb43602b9c817d93fcb3b524e7cde4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/killbots-22.04.1.tar.xz">killbots-22.04.1</a></td>
   <td align="right">1169kB</td>
   <td><tt>0ef170a6ac84b64d680ece449021236331363d50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kimagemapeditor-22.04.1.tar.xz">kimagemapeditor-22.04.1</a></td>
   <td align="right">1063kB</td>
   <td><tt>8e6d6e2004a6d0709ba04c72fb73766c95a60f2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kimap-22.04.1.tar.xz">kimap-22.04.1</a></td>
   <td align="right">127kB</td>
   <td><tt>23a0a8e51af3b79930997fab7ee2935df6ef2abb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kio-extras-22.04.1.tar.xz">kio-extras-22.04.1</a></td>
   <td align="right">626kB</td>
   <td><tt>84ae5180a9e1943f431f5ba33f45c2c52051d23c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kio-gdrive-22.04.1.tar.xz">kio-gdrive-22.04.1</a></td>
   <td align="right">70kB</td>
   <td><tt>fc66a2b0d3b2b81ac471c6ec4816c181b5096d8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kipi-plugins-22.04.1.tar.xz">kipi-plugins-22.04.1</a></td>
   <td align="right">1487kB</td>
   <td><tt>69263c257b3d05f1a8abd9c449edda1290d84409</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kirigami-gallery-22.04.1.tar.xz">kirigami-gallery-22.04.1</a></td>
   <td align="right">330kB</td>
   <td><tt>f02dc0e2430dd1050726640898d250bd6f184638</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kiriki-22.04.1.tar.xz">kiriki-22.04.1</a></td>
   <td align="right">357kB</td>
   <td><tt>4b6fb09f73abd733f3015ed12379a6025835e75a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kiten-22.04.1.tar.xz">kiten-22.04.1</a></td>
   <td align="right">11051kB</td>
   <td><tt>f5ba545a7a9397d57c9083328116d6350a5bdaea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kitinerary-22.04.1.tar.xz">kitinerary-22.04.1</a></td>
   <td align="right">1496kB</td>
   <td><tt>1b02e15f44f77538e841034a9121c2c6671423fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kjumpingcube-22.04.1.tar.xz">kjumpingcube-22.04.1</a></td>
   <td align="right">318kB</td>
   <td><tt>58a53d7f3554272cbe0268277ad4f8f02137bfd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kldap-22.04.1.tar.xz">kldap-22.04.1</a></td>
   <td align="right">168kB</td>
   <td><tt>717f44ece250a3634d5090066b28acee85e3361b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kleopatra-22.04.1.tar.xz">kleopatra-22.04.1</a></td>
   <td align="right">2183kB</td>
   <td><tt>ffa0fe5b688fabfb3d82042c62cf1a899c1d9b79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/klettres-22.04.1.tar.xz">klettres-22.04.1</a></td>
   <td align="right">46037kB</td>
   <td><tt>d487e71ddb180c2672ead910ad8a36a4c45663b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/klickety-22.04.1.tar.xz">klickety-22.04.1</a></td>
   <td align="right">1460kB</td>
   <td><tt>e9d7dc1fc530ea19efd1e91110587361c8901916</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/klines-22.04.1.tar.xz">klines-22.04.1</a></td>
   <td align="right">1686kB</td>
   <td><tt>4fe42a65ba0899724b5b6ece87346ba47f31905e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kmag-22.04.1.tar.xz">kmag-22.04.1</a></td>
   <td align="right">691kB</td>
   <td><tt>3cbbb7da371148f5089e7f9248a8a90940315d4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kmahjongg-22.04.1.tar.xz">kmahjongg-22.04.1</a></td>
   <td align="right">3975kB</td>
   <td><tt>0088a5fae3a17be52c9b7d2563f710a94e2c5f5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kmail-22.04.1.tar.xz">kmail-22.04.1</a></td>
   <td align="right">6984kB</td>
   <td><tt>46dcdc02a62ff6deba2dfdbabebd6d0897efd043</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kmail-account-wizard-22.04.1.tar.xz">kmail-account-wizard-22.04.1</a></td>
   <td align="right">167kB</td>
   <td><tt>e25f97c04240d48840aceee143863ca8821f4535</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kmailtransport-22.04.1.tar.xz">kmailtransport-22.04.1</a></td>
   <td align="right">170kB</td>
   <td><tt>d022657c79a511d7ea84f3cf0c3e65a1a32e5d85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kmbox-22.04.1.tar.xz">kmbox-22.04.1</a></td>
   <td align="right">28kB</td>
   <td><tt>69249589ad9e0671fb87051e6302ef8413eefd22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kmime-22.04.1.tar.xz">kmime-22.04.1</a></td>
   <td align="right">152kB</td>
   <td><tt>d0d791bef2738b8cc81112cefa5b311a0794700d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kmines-22.04.1.tar.xz">kmines-22.04.1</a></td>
   <td align="right">971kB</td>
   <td><tt>d860622fbcbfa1a317e0ea3a165954f4d7e4c33d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kmix-22.04.1.tar.xz">kmix-22.04.1</a></td>
   <td align="right">1136kB</td>
   <td><tt>99c96b0e9de626c9d4262889559f9bf16e8fa9b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kmousetool-22.04.1.tar.xz">kmousetool-22.04.1</a></td>
   <td align="right">118kB</td>
   <td><tt>297f2efbcf8395a7d8e0b81e492aca92ad2c5e93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kmouth-22.04.1.tar.xz">kmouth-22.04.1</a></td>
   <td align="right">2055kB</td>
   <td><tt>7cc932ec2031b2596ddb4b9bf5cdec88fe9ecaf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kmplot-22.04.1.tar.xz">kmplot-22.04.1</a></td>
   <td align="right">2973kB</td>
   <td><tt>6130a9f1450778143e5d8bef5d6d3368919cb5dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/knavalbattle-22.04.1.tar.xz">knavalbattle-22.04.1</a></td>
   <td align="right">1347kB</td>
   <td><tt>6ebb2df124166d0704d31a9f496a298772d16f71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/knetwalk-22.04.1.tar.xz">knetwalk-22.04.1</a></td>
   <td align="right">1068kB</td>
   <td><tt>861feea52facbb4a1d9b5cf614d79c915ea665f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/knights-22.04.1.tar.xz">knights-22.04.1</a></td>
   <td align="right">3245kB</td>
   <td><tt>8cef87f40bf412530a93c574390ae2818c66127f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/knotes-22.04.1.tar.xz">knotes-22.04.1</a></td>
   <td align="right">332kB</td>
   <td><tt>869be116c59fe9b69bb29c4496c83dd7cc422977</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kolf-22.04.1.tar.xz">kolf-22.04.1</a></td>
   <td align="right">1025kB</td>
   <td><tt>06e8bfec61436b42ba02324599193c6530e0c6a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kollision-22.04.1.tar.xz">kollision-22.04.1</a></td>
   <td align="right">295kB</td>
   <td><tt>b7d30d5bc60a0643d75333d40d7667a8bc05c624</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kolourpaint-22.04.1.tar.xz">kolourpaint-22.04.1</a></td>
   <td align="right">5582kB</td>
   <td><tt>61f30b9e6285fd7a7cf246558893154309e0b4e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kompare-22.04.1.tar.xz">kompare-22.04.1</a></td>
   <td align="right">921kB</td>
   <td><tt>cb26730479e5a24ea6c0bffe042273a6c89dc7c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/konqueror-22.04.1.tar.xz">konqueror-22.04.1</a></td>
   <td align="right">7503kB</td>
   <td><tt>b1446fc837603e3d4c1d243c6558fc9ff38f3c37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/konquest-22.04.1.tar.xz">konquest-22.04.1</a></td>
   <td align="right">843kB</td>
   <td><tt>30a6a73d4fe3e6dba727cbcf7d0c0ba69f82bb7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/konsole-22.04.1.tar.xz">konsole-22.04.1</a></td>
   <td align="right">1431kB</td>
   <td><tt>fb4bef7f88bb92f38a41206169cdecc0c0161175</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kontact-22.04.1.tar.xz">kontact-22.04.1</a></td>
   <td align="right">806kB</td>
   <td><tt>48df33b6115026a3aedf699c53e08a4042604c67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kontactinterface-22.04.1.tar.xz">kontactinterface-22.04.1</a></td>
   <td align="right">39kB</td>
   <td><tt>da86bcca60d498fea269179ce82c56d573ba0661</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kontrast-22.04.1.tar.xz">kontrast-22.04.1</a></td>
   <td align="right">122kB</td>
   <td><tt>9d2c17f5b046f385d325ec214215ab196a86fb55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/konversation-22.04.1.tar.xz">konversation-22.04.1</a></td>
   <td align="right">4187kB</td>
   <td><tt>f6f7d143c856b4ddbf5d3048673d342cfadf6cf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kopeninghours-22.04.1.tar.xz">kopeninghours-22.04.1</a></td>
   <td align="right">67kB</td>
   <td><tt>75cf5f19b5f4393628b99edf1e345835eea2287f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kopete-22.04.1.tar.xz">kopete-22.04.1</a></td>
   <td align="right">9444kB</td>
   <td><tt>ec36b148ffc9b9ef22003b86f593b36133825aa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/korganizer-22.04.1.tar.xz">korganizer-22.04.1</a></td>
   <td align="right">2255kB</td>
   <td><tt>3b1073d07ceb12521b3bf5f397c98f9a1c76e8fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kosmindoormap-22.04.1.tar.xz">kosmindoormap-22.04.1</a></td>
   <td align="right">342kB</td>
   <td><tt>20a9d386cfa3197d7f2063f041aa50f39fe9ace3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kpat-22.04.1.tar.xz">kpat-22.04.1</a></td>
   <td align="right">3643kB</td>
   <td><tt>fc1fc1d1057b187a6fcdec7179a025a26f67a435</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kpimtextedit-22.04.1.tar.xz">kpimtextedit-22.04.1</a></td>
   <td align="right">210kB</td>
   <td><tt>e1bcb69a0ad3692d38fc187744fa09ea174b2bf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kpkpass-22.04.1.tar.xz">kpkpass-22.04.1</a></td>
   <td align="right">27kB</td>
   <td><tt>b161a96cd780552f38c1a975644f4ca334624515</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kpmcore-22.04.1.tar.xz">kpmcore-22.04.1</a></td>
   <td align="right">584kB</td>
   <td><tt>ccc864e2c25650f24cf205bac039a6072732e2b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kpublictransport-22.04.1.tar.xz">kpublictransport-22.04.1</a></td>
   <td align="right">474kB</td>
   <td><tt>2e919cd1e53303e219eed1ed1de71d6903f238e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kqtquickcharts-22.04.1.tar.xz">kqtquickcharts-22.04.1</a></td>
   <td align="right">29kB</td>
   <td><tt>07cb01079ffbffbde5d8ebdfbc87fe8409591c2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/krdc-22.04.1.tar.xz">krdc-22.04.1</a></td>
   <td align="right">1547kB</td>
   <td><tt>7345d3e93fac4c1a4fabc394a5ecb9e48a30dff2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kreversi-22.04.1.tar.xz">kreversi-22.04.1</a></td>
   <td align="right">1039kB</td>
   <td><tt>e54d3086cceddade6adca763d60e64478078efd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/krfb-22.04.1.tar.xz">krfb-22.04.1</a></td>
   <td align="right">1272kB</td>
   <td><tt>6d255204ca0bb420c40bd5a8a324e2cd716b57d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kross-interpreters-22.04.1.tar.xz">kross-interpreters-22.04.1</a></td>
   <td align="right">148kB</td>
   <td><tt>fdfb96028b12b06c3c69720e9ee01e6138225352</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kruler-22.04.1.tar.xz">kruler-22.04.1</a></td>
   <td align="right">270kB</td>
   <td><tt>099bc35a6fa535bff95cab084d906846db8eb9dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kshisen-22.04.1.tar.xz">kshisen-22.04.1</a></td>
   <td align="right">970kB</td>
   <td><tt>e795039e4266c170c7a03e784e62f02f46122b27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/ksirk-22.04.1.tar.xz">ksirk-22.04.1</a></td>
   <td align="right">6841kB</td>
   <td><tt>a2f1da7bc827e5e4aa4c595078b15f1ced98cbd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/ksmtp-22.04.1.tar.xz">ksmtp-22.04.1</a></td>
   <td align="right">47kB</td>
   <td><tt>db6895a8b9711633a4cb4714761691ead6c3bbb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/ksnakeduel-22.04.1.tar.xz">ksnakeduel-22.04.1</a></td>
   <td align="right">593kB</td>
   <td><tt>e537b293247f74719eb932f3a41120b64a91b740</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kspaceduel-22.04.1.tar.xz">kspaceduel-22.04.1</a></td>
   <td align="right">636kB</td>
   <td><tt>b4efa8b164a986ae415d32820fa8cc1b71dfe07d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/ksquares-22.04.1.tar.xz">ksquares-22.04.1</a></td>
   <td align="right">300kB</td>
   <td><tt>d0f7d5e8348c84ae69c0104f57e1185b16f7b37c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/ksudoku-22.04.1.tar.xz">ksudoku-22.04.1</a></td>
   <td align="right">1650kB</td>
   <td><tt>4a149e194dee4f61032cf825a7a96a1ffb045e74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/ksystemlog-22.04.1.tar.xz">ksystemlog-22.04.1</a></td>
   <td align="right">1922kB</td>
   <td><tt>0d91190169f914f4a35cdd10b4cf6c56d2383a04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kteatime-22.04.1.tar.xz">kteatime-22.04.1</a></td>
   <td align="right">294kB</td>
   <td><tt>68890c3796571cf86fb9bbd5b926595d4d86cf43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/ktimer-22.04.1.tar.xz">ktimer-22.04.1</a></td>
   <td align="right">384kB</td>
   <td><tt>ce822c5543c42be6ec175defb376a5ebac744a50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/ktnef-22.04.1.tar.xz">ktnef-22.04.1</a></td>
   <td align="right">296kB</td>
   <td><tt>1f2ef8d123385c37fc66f93607215dbbc15237b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/ktorrent-22.04.1.tar.xz">ktorrent-22.04.1</a></td>
   <td align="right">2011kB</td>
   <td><tt>56c9790d0d1150d6bb7ea1542a7bb4b52ec96701</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/ktouch-22.04.1.tar.xz">ktouch-22.04.1</a></td>
   <td align="right">4865kB</td>
   <td><tt>d94a37e90aa0edd0cd201e544e72d8afc0236c7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/ktp-accounts-kcm-22.04.1.tar.xz">ktp-accounts-kcm-22.04.1</a></td>
   <td align="right">260kB</td>
   <td><tt>c8e4f2c5125f6623b979cf2696b80bc24e98c8cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/ktp-approver-22.04.1.tar.xz">ktp-approver-22.04.1</a></td>
   <td align="right">37kB</td>
   <td><tt>f8d91418d5731f70b350e4719f56399e5fbd9236</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/ktp-auth-handler-22.04.1.tar.xz">ktp-auth-handler-22.04.1</a></td>
   <td align="right">46kB</td>
   <td><tt>2176897f3754ed528b8fc3b45833d5b0e57f58c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/ktp-call-ui-22.04.1.tar.xz">ktp-call-ui-22.04.1</a></td>
   <td align="right">96kB</td>
   <td><tt>8782a6706a00c13e4ec59727d54b4924da7da9e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/ktp-common-internals-22.04.1.tar.xz">ktp-common-internals-22.04.1</a></td>
   <td align="right">440kB</td>
   <td><tt>6cc0b1ddf513fa1e2afb537b1f1fc52a40331ddb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/ktp-contact-list-22.04.1.tar.xz">ktp-contact-list-22.04.1</a></td>
   <td align="right">151kB</td>
   <td><tt>e67143b52ed27b151a402bbaf06bd0964637d99b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/ktp-contact-runner-22.04.1.tar.xz">ktp-contact-runner-22.04.1</a></td>
   <td align="right">43kB</td>
   <td><tt>739e2f46a3ccf18d0f48d07099df518e0765d513</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/ktp-desktop-applets-22.04.1.tar.xz">ktp-desktop-applets-22.04.1</a></td>
   <td align="right">42kB</td>
   <td><tt>3e9c0fc52a769ef8507e41a4ec3349eda50bc0e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/ktp-filetransfer-handler-22.04.1.tar.xz">ktp-filetransfer-handler-22.04.1</a></td>
   <td align="right">45kB</td>
   <td><tt>cdbeac94da1be101e76a7a16a7f9d28c82801ce8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/ktp-kded-module-22.04.1.tar.xz">ktp-kded-module-22.04.1</a></td>
   <td align="right">97kB</td>
   <td><tt>d0f3bd89d6fedb06050bf4d1a38fcd85cf103de7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/ktp-send-file-22.04.1.tar.xz">ktp-send-file-22.04.1</a></td>
   <td align="right">28kB</td>
   <td><tt>b21aaee3c9413cb6093bcd81c4a20de1bd528e77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/ktp-text-ui-22.04.1.tar.xz">ktp-text-ui-22.04.1</a></td>
   <td align="right">464kB</td>
   <td><tt>ca23d8712215ac671b77079070fd28831bd4f5c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/ktuberling-22.04.1.tar.xz">ktuberling-22.04.1</a></td>
   <td align="right">69160kB</td>
   <td><tt>1706b9568ff82fb3e10f09ea97f578a805805cf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kturtle-22.04.1.tar.xz">kturtle-22.04.1</a></td>
   <td align="right">1926kB</td>
   <td><tt>9a46ebd3786d935ca246f7b7ff8d9e8ca2effaa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kubrick-22.04.1.tar.xz">kubrick-22.04.1</a></td>
   <td align="right">335kB</td>
   <td><tt>062943c6237334b151201ec742a9a73ca2bc44af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kwalletmanager-22.04.1.tar.xz">kwalletmanager-22.04.1</a></td>
   <td align="right">782kB</td>
   <td><tt>e98a01dd0d89ccbcffdde85028adfb617184c50c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kwave-22.04.1.tar.xz">kwave-22.04.1</a></td>
   <td align="right">6764kB</td>
   <td><tt>53f7c519fa92acf91192ddcdcf8ac13d904c1afa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/kwordquiz-22.04.1.tar.xz">kwordquiz-22.04.1</a></td>
   <td align="right">4109kB</td>
   <td><tt>166c157df88a100668824d14cd2dbdebef09f3aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/libgravatar-22.04.1.tar.xz">libgravatar-22.04.1</a></td>
   <td align="right">34kB</td>
   <td><tt>491ea5a7fd55758437b77ef001fa9253dc73b1a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/libkcddb-22.04.1.tar.xz">libkcddb-22.04.1</a></td>
   <td align="right">426kB</td>
   <td><tt>492e6ee7bbe2744bd81f4bbc77b2ad298a962e1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/libkcompactdisc-22.04.1.tar.xz">libkcompactdisc-22.04.1</a></td>
   <td align="right">94kB</td>
   <td><tt>159b06d510afa5b5364a8ef36939d5fa30970b4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/libkdcraw-22.04.1.tar.xz">libkdcraw-22.04.1</a></td>
   <td align="right">36kB</td>
   <td><tt>ebe3a898e6960486eb05fe366171fc0f47f47d5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/libkdegames-22.04.1.tar.xz">libkdegames-22.04.1</a></td>
   <td align="right">5850kB</td>
   <td><tt>1f64fcff90339e5f305902f00db6305a7e77ad60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/libkdepim-22.04.1.tar.xz">libkdepim-22.04.1</a></td>
   <td align="right">248kB</td>
   <td><tt>d8f287ca02c6d9021d62982572cbd980672f3e63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/libkeduvocdocument-22.04.1.tar.xz">libkeduvocdocument-22.04.1</a></td>
   <td align="right">209kB</td>
   <td><tt>f50d707a8349d778e02f648702f2f6df7a6aaf19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/libkexiv2-22.04.1.tar.xz">libkexiv2-22.04.1</a></td>
   <td align="right">58kB</td>
   <td><tt>c8ca0ddbdb4f0958cccd03238205e5edda78a4b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/libkgapi-22.04.1.tar.xz">libkgapi-22.04.1</a></td>
   <td align="right">239kB</td>
   <td><tt>f81c821d967124a71f51082fbac1d9a2652d63f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/libkipi-22.04.1.tar.xz">libkipi-22.04.1</a></td>
   <td align="right">86kB</td>
   <td><tt>d9ac27153bdc7e42ca31a0d644d6735d6204b290</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/libkleo-22.04.1.tar.xz">libkleo-22.04.1</a></td>
   <td align="right">458kB</td>
   <td><tt>e877d0c936a2769519416925d635cb355bf6305d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/libkmahjongg-22.04.1.tar.xz">libkmahjongg-22.04.1</a></td>
   <td align="right">1646kB</td>
   <td><tt>3a00fd26777953bca5391554ecd3f44352de0c23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/libkomparediff2-22.04.1.tar.xz">libkomparediff2-22.04.1</a></td>
   <td align="right">168kB</td>
   <td><tt>7471634a7bca0c4857eeded0d26db3f1e69e1865</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/libksane-22.04.1.tar.xz">libksane-22.04.1</a></td>
   <td align="right">161kB</td>
   <td><tt>5c93cbe0055cc73709425ab451c7a2950c9c0aed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/libksieve-22.04.1.tar.xz">libksieve-22.04.1</a></td>
   <td align="right">562kB</td>
   <td><tt>db03c8ae9374be791c5f5415dc88e57de0185499</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/libktorrent-22.04.1.tar.xz">libktorrent-22.04.1</a></td>
   <td align="right">592kB</td>
   <td><tt>8872ec009fa9d0a72f92d71739038b2b95780e80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/lokalize-22.04.1.tar.xz">lokalize-22.04.1</a></td>
   <td align="right">2015kB</td>
   <td><tt>a34c9c71027c6bc4030351f04679502413910068</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/lskat-22.04.1.tar.xz">lskat-22.04.1</a></td>
   <td align="right">1206kB</td>
   <td><tt>5ab8e77eb10db391362e1b66e9e86a8273e206a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/mailcommon-22.04.1.tar.xz">mailcommon-22.04.1</a></td>
   <td align="right">721kB</td>
   <td><tt>d79feefb4f94fb4fd8a8eef46379c1b4c4ea75ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/mailimporter-22.04.1.tar.xz">mailimporter-22.04.1</a></td>
   <td align="right">546kB</td>
   <td><tt>16d15e4c8c3f5073823c426b69e1dd8aa40b6e73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/marble-22.04.1.tar.xz">marble-22.04.1</a></td>
   <td align="right">52416kB</td>
   <td><tt>bac79094f932b8a8cc236b846d91d00971ee3d14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/markdownpart-22.04.1.tar.xz">markdownpart-22.04.1</a></td>
   <td align="right">28kB</td>
   <td><tt>37f4d3c5aa5d4b6e8df364820041847089748b01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/mbox-importer-22.04.1.tar.xz">mbox-importer-22.04.1</a></td>
   <td align="right">28kB</td>
   <td><tt>591811009c3e6768eaa619ea2de4a973825a819d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/messagelib-22.04.1.tar.xz">messagelib-22.04.1</a></td>
   <td align="right">10581kB</td>
   <td><tt>b373c4447d02f495775b4bf63b6a6953d3f00963</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/minuet-22.04.1.tar.xz">minuet-22.04.1</a></td>
   <td align="right">27026kB</td>
   <td><tt>e777a4b89c1f032b9b386aca5474fea728c4fc15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/okular-22.04.1.tar.xz">okular-22.04.1</a></td>
   <td align="right">7990kB</td>
   <td><tt>f5b4ef47529dddcfcc605d0e486fe0dd2c26eb77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/palapeli-22.04.1.tar.xz">palapeli-22.04.1</a></td>
   <td align="right">2048kB</td>
   <td><tt>09c40eddddaeffdf7c411fe0f52a1ca61410d30c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/parley-22.04.1.tar.xz">parley-22.04.1</a></td>
   <td align="right">8302kB</td>
   <td><tt>1f6a18167bc85ef47aa4345f66febf116b4ff6a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/partitionmanager-22.04.1.tar.xz">partitionmanager-22.04.1</a></td>
   <td align="right">2061kB</td>
   <td><tt>9f268372a4848eaede947ff43b0bf799d33cd544</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/picmi-22.04.1.tar.xz">picmi-22.04.1</a></td>
   <td align="right">1501kB</td>
   <td><tt>0ffef6a78e4554fc063a8ae786cf1f6ce08a0d10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/pimcommon-22.04.1.tar.xz">pimcommon-22.04.1</a></td>
   <td align="right">366kB</td>
   <td><tt>d89f84707f3e177288f41ced7c6db565989d0da7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/pim-data-exporter-22.04.1.tar.xz">pim-data-exporter-22.04.1</a></td>
   <td align="right">395kB</td>
   <td><tt>a72fa20a83ca1699ff7cd9e35a38ce314a5c2039</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/pim-sieve-editor-22.04.1.tar.xz">pim-sieve-editor-22.04.1</a></td>
   <td align="right">442kB</td>
   <td><tt>47a79918c006a22404dc5394d797971c099449ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/poxml-22.04.1.tar.xz">poxml-22.04.1</a></td>
   <td align="right">43kB</td>
   <td><tt>24ea8fb0141a932a245e14c7f75cbd25d60d529b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/print-manager-22.04.1.tar.xz">print-manager-22.04.1</a></td>
   <td align="right">265kB</td>
   <td><tt>07bdb4f0c1808a880155e7b4f32d0a1053686686</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/rocs-22.04.1.tar.xz">rocs-22.04.1</a></td>
   <td align="right">1518kB</td>
   <td><tt>dc71144b819d53942d50b750b9afa03e7b6e59d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/signon-kwallet-extension-22.04.1.tar.xz">signon-kwallet-extension-22.04.1</a></td>
   <td align="right">10kB</td>
   <td><tt>20252c1bd74a37ca703feea15683c38dc8d09a21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/skanlite-22.04.1.tar.xz">skanlite-22.04.1</a></td>
   <td align="right">2383kB</td>
   <td><tt>4e6bf400adaf675bc98344855d28ef64abb7d1c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/skanpage-22.04.1.tar.xz">skanpage-22.04.1</a></td>
   <td align="right">380kB</td>
   <td><tt>7807656a1496e139fe0122c6353787fcee0f581c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/spectacle-22.04.1.tar.xz">spectacle-22.04.1</a></td>
   <td align="right">1231kB</td>
   <td><tt>6913c4d2411919a61b7ad9fce1d66d155159322c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/step-22.04.1.tar.xz">step-22.04.1</a></td>
   <td align="right">915kB</td>
   <td><tt>7920f80c6515b374fbaaed364a226d6287506e5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/svgpart-22.04.1.tar.xz">svgpart-22.04.1</a></td>
   <td align="right">26kB</td>
   <td><tt>5d76d8ae3581e87242e434bb05ad907f77b3d85b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/sweeper-22.04.1.tar.xz">sweeper-22.04.1</a></td>
   <td align="right">368kB</td>
   <td><tt>bf05ad55b72fb75ffdea4048b248dd35f475288a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/umbrello-22.04.1.tar.xz">umbrello-22.04.1</a></td>
   <td align="right">5543kB</td>
   <td><tt>44aa1940160d9df98cb214a777b6e958c7e3b77b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/yakuake-22.04.1.tar.xz">yakuake-22.04.1</a></td>
   <td align="right">394kB</td>
   <td><tt>66194d1118c1167ba4df562ffec3a96c033ec835</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/zanshin-22.04.1.tar.xz">zanshin-22.04.1</a></td>
   <td align="right">345kB</td>
   <td><tt>a550826768355577247ab366395f44b332f2e3e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.1/src/zeroconf-ioslave-22.04.1.tar.xz">zeroconf-ioslave-22.04.1</a></td>
   <td align="right">38kB</td>
   <td><tt>8660f92b1b9eb5d7af04b636bf85859b0501bdb6</tt></td>
</tr>

</table>
