<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/akonadi-24.02.1.tar.xz">akonadi-24.02.1</a></td>
   <td align="right">1650kB</td>
   <td><tt>0025ba64439acc8641648982c6ec8a766e2d29e8a499350446be597c880c71c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/akonadi-calendar-24.02.1.tar.xz">akonadi-calendar-24.02.1</a></td>
   <td align="right">487kB</td>
   <td><tt>02fd99a588c80ded304e871b1ff966f75b7d76bac0bb47e66ec60cc6f337d5fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/akonadi-calendar-tools-24.02.1.tar.xz">akonadi-calendar-tools-24.02.1</a></td>
   <td align="right">255kB</td>
   <td><tt>64a2855df126b64fbdd35487e50f21967355e01c5e1489bc6cea1c4d66874432</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/akonadiconsole-24.02.1.tar.xz">akonadiconsole-24.02.1</a></td>
   <td align="right">289kB</td>
   <td><tt>24c4dae727c5d390b067bc73d818d503034d13d88204ab60a8d5845d33753f5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/akonadi-contacts-24.02.1.tar.xz">akonadi-contacts-24.02.1</a></td>
   <td align="right">414kB</td>
   <td><tt>2ef2acb360dc6d432b8f8be9408f9b41824d652aebc63e0b6b233a6e355c69c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/akonadi-import-wizard-24.02.1.tar.xz">akonadi-import-wizard-24.02.1</a></td>
   <td align="right">504kB</td>
   <td><tt>ad7b9276340e50553080be2b676003335b452f184dddf10ca8e22cde3443bb01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/akonadi-mime-24.02.1.tar.xz">akonadi-mime-24.02.1</a></td>
   <td align="right">164kB</td>
   <td><tt>182e862b48cc187f1e29bf9c006373b688bb3d5774d0641d700bcfe988380e41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/akonadi-notes-24.02.1.tar.xz">akonadi-notes-24.02.1</a></td>
   <td align="right">27kB</td>
   <td><tt>0b334af72762e10739e4ed835c2e09d9d8a018cc821235a082ae599a5c15d593</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/akonadi-search-24.02.1.tar.xz">akonadi-search-24.02.1</a></td>
   <td align="right">108kB</td>
   <td><tt>92aa6f9de9ec0f5ff78d2d76d2bfb2cd7c21d4651117a19aaa577fe28ff610d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/akregator-24.02.1.tar.xz">akregator-24.02.1</a></td>
   <td align="right">2273kB</td>
   <td><tt>0a9029dcc14f3fdc6e0107525d4545219c485b49243700961c075755e1decb52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/alligator-24.02.1.tar.xz">alligator-24.02.1</a></td>
   <td align="right">187kB</td>
   <td><tt>37c4381287dbad12d9ddd621f521cefd3fa2fe6b00d7ce009b1ba506086c7d95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/analitza-24.02.1.tar.xz">analitza-24.02.1</a></td>
   <td align="right">350kB</td>
   <td><tt>5102454c30f36ab7dc1987dd76bcefc4d57d863acef70490c9407a0632f8994f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/angelfish-24.02.1.tar.xz">angelfish-24.02.1</a></td>
   <td align="right">256kB</td>
   <td><tt>76ea0f9a6da4f93f4b112598ea5151483aba4717e24ce766d480a55e534b5014</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/arianna-24.02.1.tar.xz">arianna-24.02.1</a></td>
   <td align="right">797kB</td>
   <td><tt>602d69a7afda28d2613ac0533c55f15d4849a7e6917afa4678e95cfa63b35968</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/ark-24.02.1.tar.xz">ark-24.02.1</a></td>
   <td align="right">2946kB</td>
   <td><tt>8740e5b9577cc5f4eb889d880a56a7d1ee78c422bf3e30b00c1faa85e4148f64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/artikulate-24.02.1.tar.xz">artikulate-24.02.1</a></td>
   <td align="right">1068kB</td>
   <td><tt>4b441bad1d981151c011addee4878b345a7824bf312d582b000571042c82d0cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/audiocd-kio-24.02.1.tar.xz">audiocd-kio-24.02.1</a></td>
   <td align="right">556kB</td>
   <td><tt>2c1ad83b114d175f0db8def0e0bb1a252f3f84c89afaf4199881f836d36426e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/audiotube-24.02.1.tar.xz">audiotube-24.02.1</a></td>
   <td align="right">147kB</td>
   <td><tt>59fe321505a5be1aca9003290a4e01275f454fd9f53b6dc2ba18b98f0ad2ce99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/baloo-widgets-24.02.1.tar.xz">baloo-widgets-24.02.1</a></td>
   <td align="right">270kB</td>
   <td><tt>b7de28e47d470faba8840cc02873188284c3707572176aa0b821ccf46fb6e3ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/blinken-24.02.1.tar.xz">blinken-24.02.1</a></td>
   <td align="right">2661kB</td>
   <td><tt>15cbecef08cb7be8b8376ca2be98c6bdaca086519789ebcad041adcb7c4d0e17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/bomber-24.02.1.tar.xz">bomber-24.02.1</a></td>
   <td align="right">820kB</td>
   <td><tt>c5ea429ba3c438bd31e7a6efcadc8dcac528f087fa31eb347a12eec0fbeb7696</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/bovo-24.02.1.tar.xz">bovo-24.02.1</a></td>
   <td align="right">210kB</td>
   <td><tt>2fe36c6b61e3322868352387907967716d159fddb0fb37135e92cbda887f8d8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/calendarsupport-24.02.1.tar.xz">calendarsupport-24.02.1</a></td>
   <td align="right">975kB</td>
   <td><tt>fa4e31a6a1fa70ee0baf6778a2430933c46a938932b2b531f5ec7b6cbfb882cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/calindori-24.02.1.tar.xz">calindori-24.02.1</a></td>
   <td align="right">376kB</td>
   <td><tt>c4e97f344c6befe4b847f1162779ae914a40eea94f7487e7c87da0ecc886ec05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/cantor-24.02.1.tar.xz">cantor-24.02.1</a></td>
   <td align="right">9083kB</td>
   <td><tt>55e42ef94837a1b5ce41399ae92e866366f8c8496bf60c80b35919e94d896778</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/cervisia-24.02.1.tar.xz">cervisia-24.02.1</a></td>
   <td align="right">1902kB</td>
   <td><tt>ab0a49cca576d731f722f10a632f5a980c21571fbdc0fe53e5f260f5724a073e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/colord-kde-24.02.1.tar.xz">colord-kde-24.02.1</a></td>
   <td align="right">110kB</td>
   <td><tt>9ded0ef97cd8fd8200b66774cfd9e5b3b0a88523a9ae9b65247a722b498723d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/dolphin-24.02.1.tar.xz">dolphin-24.02.1</a></td>
   <td align="right">5672kB</td>
   <td><tt>597bb12c53984bae7310cda5e06dbed831fdae1a6e731f55bbc660b4a583da0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/dolphin-plugins-24.02.1.tar.xz">dolphin-plugins-24.02.1</a></td>
   <td align="right">289kB</td>
   <td><tt>68e64129af81a882cf6dc184329ed6b96f327c78f840b5e394406dbfe17cfeac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/dragon-24.02.1.tar.xz">dragon-24.02.1</a></td>
   <td align="right">1632kB</td>
   <td><tt>8517e2353ac31710c8c35d8de1a7f370cb3d50f8f278f7f591d0e24d8c4c0d38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/elisa-24.02.1.tar.xz">elisa-24.02.1</a></td>
   <td align="right">1786kB</td>
   <td><tt>5985d1b5ae850a279a603a7d3ae9724e4a8b69b11d131790154e016e6927a80e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/eventviews-24.02.1.tar.xz">eventviews-24.02.1</a></td>
   <td align="right">462kB</td>
   <td><tt>19ef16f5505ca14a8116ded8ea7d32b13e4b602c72fc463a5d1adf6053a252b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/falkon-24.02.1.tar.xz">falkon-24.02.1</a></td>
   <td align="right">2516kB</td>
   <td><tt>726bd2ad793bfa93ef01434a256e2d1ab81031ba63e62b2d23827de62f2ef8bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/ffmpegthumbs-24.02.1.tar.xz">ffmpegthumbs-24.02.1</a></td>
   <td align="right">32kB</td>
   <td><tt>94f86d6e9b32c5054f7c6ce5449d7c6a628f0a83fb10b537df9e04bf931aa288</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/filelight-24.02.1.tar.xz">filelight-24.02.1</a></td>
   <td align="right">687kB</td>
   <td><tt>9d326f73b8ec946d67da0b841284847197f6d099e851968d70aba8ce1887b777</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/ghostwriter-24.02.1.tar.xz">ghostwriter-24.02.1</a></td>
   <td align="right">3540kB</td>
   <td><tt>1f039e7f42c6c204f01bed14a6b365faafcc2fc454330258fe52265404a79274</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/granatier-24.02.1.tar.xz">granatier-24.02.1</a></td>
   <td align="right">2064kB</td>
   <td><tt>afe6c094054387fc6acb9e26c740652cb4035b8d066ca6a229623b848fdcbf84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/grantlee-editor-24.02.1.tar.xz">grantlee-editor-24.02.1</a></td>
   <td align="right">116kB</td>
   <td><tt>ab1f4a1c3a753818a75dd89c81f03d9e42e44d58b71af877608d41d77cc3afaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/grantleetheme-24.02.1.tar.xz">grantleetheme-24.02.1</a></td>
   <td align="right">60kB</td>
   <td><tt>a002179a1e8a5d067eb480981504cd2c4cf2b2f7272c666cb4b39978760a4bbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/gwenview-24.02.1.tar.xz">gwenview-24.02.1</a></td>
   <td align="right">6754kB</td>
   <td><tt>37661426ad5507a8eb444340ed7cb28aa1983ca52b3471fff1d29385edbbf6cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/incidenceeditor-24.02.1.tar.xz">incidenceeditor-24.02.1</a></td>
   <td align="right">570kB</td>
   <td><tt>305bf1a78c94104b6dae6992b42f1765449b71e79ac9ee661e1b4fb17c8520a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/isoimagewriter-24.02.1.tar.xz">isoimagewriter-24.02.1</a></td>
   <td align="right">452kB</td>
   <td><tt>5fa7b48792ee3e49b57e676199f2f2d224407c342d4b9d3f8eb66c90668a9661</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/itinerary-24.02.1.tar.xz">itinerary-24.02.1</a></td>
   <td align="right">668kB</td>
   <td><tt>3315cb8d62a45aca816a204d4ffee826e489f73c8b63984580b7e0858f555186</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/juk-24.02.1.tar.xz">juk-24.02.1</a></td>
   <td align="right">1971kB</td>
   <td><tt>c6c05dff1183cbb6ddd7304821a1cb784be37a16aa562cc16ca070bb83789b45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/k3b-24.02.1.tar.xz">k3b-24.02.1</a></td>
   <td align="right">10710kB</td>
   <td><tt>0c52098a9b604f590aeb0d607488a8177cbfcc8c2bff84cee2a11886d824f9b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kaccounts-integration-24.02.1.tar.xz">kaccounts-integration-24.02.1</a></td>
   <td align="right">87kB</td>
   <td><tt>e568f11a97919c6edd311de93b201b153280393ed17b8e5a1886e9abf0c6e68c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kaccounts-providers-24.02.1.tar.xz">kaccounts-providers-24.02.1</a></td>
   <td align="right">65kB</td>
   <td><tt>2d3250b8431741dd39a7a35fa90c67a98d122c11deabc40acc6fac4689d325a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kaddressbook-24.02.1.tar.xz">kaddressbook-24.02.1</a></td>
   <td align="right">3379kB</td>
   <td><tt>bd002cd0e30daf2c9f37dbeb230daa56bf778c4898763b5d85ed3656affd45c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kajongg-24.02.1.tar.xz">kajongg-24.02.1</a></td>
   <td align="right">4483kB</td>
   <td><tt>dddaca857a637e664b61629d94429b045d98c23ade650da61117a59fabc7e051</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kalarm-24.02.1.tar.xz">kalarm-24.02.1</a></td>
   <td align="right">2570kB</td>
   <td><tt>3e294bd273af911adb790c14ee9e7f9978a6b139a54d769bebf0d36dad9557d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kalgebra-24.02.1.tar.xz">kalgebra-24.02.1</a></td>
   <td align="right">1023kB</td>
   <td><tt>2b3fc55038ed4c2f8e473295681996268fbbf7738e6e8136038427ab3f820278</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kalk-24.02.1.tar.xz">kalk-24.02.1</a></td>
   <td align="right">70kB</td>
   <td><tt>d6f8707ff72829813e7f61c3d802badf05a7aac85a1da28f3d45fd480497be2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kalzium-24.02.1.tar.xz">kalzium-24.02.1</a></td>
   <td align="right">24068kB</td>
   <td><tt>d4c64d75bc1ba4906de910d36b17abeac5b1e3cefaf2a0a66009d0b0841c84c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kamera-24.02.1.tar.xz">kamera-24.02.1</a></td>
   <td align="right">127kB</td>
   <td><tt>cb6b2e18147e5b0230e329fea313c29bbbab6a6c793ebbeaeae463b7b82f0493</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kamoso-24.02.1.tar.xz">kamoso-24.02.1</a></td>
   <td align="right">195kB</td>
   <td><tt>af7f221f854ccccafcf0bda889d7f7234fa3deb6504d9cd0a140052461977829</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kanagram-24.02.1.tar.xz">kanagram-24.02.1</a></td>
   <td align="right">7879kB</td>
   <td><tt>8952240454fd8f56554cd404223590208dde5e1a6a3c1ffcf048fa5c423b8c9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kapman-24.02.1.tar.xz">kapman-24.02.1</a></td>
   <td align="right">2141kB</td>
   <td><tt>341bfad75702ce55d1acffb283424cafbf1c848f70a0bbde1e7045098175f55a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kapptemplate-24.02.1.tar.xz">kapptemplate-24.02.1</a></td>
   <td align="right">332kB</td>
   <td><tt>f2976efcee5708026aadc2d3b2d05fb01e905519a19efafc2f635b2f3bc262ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kasts-24.02.1.tar.xz">kasts-24.02.1</a></td>
   <td align="right">574kB</td>
   <td><tt>01e6cca556c9a67ccf97e4b5c650b1ac38dfbd5705798d51c7cf6d3f3ee07f4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kate-24.02.1.tar.xz">kate-24.02.1</a></td>
   <td align="right">8205kB</td>
   <td><tt>cb787f7d49bb0f9b9b50bf80d83bab1a713d325a96bf09e106f63721fc1b012d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/katomic-24.02.1.tar.xz">katomic-24.02.1</a></td>
   <td align="right">1419kB</td>
   <td><tt>ed015748f1defc562c8d6a2bb84a6893817ed0e18af2f1409400ffe07f06fb3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kbackup-24.02.1.tar.xz">kbackup-24.02.1</a></td>
   <td align="right">399kB</td>
   <td><tt>ab5afe6f3f68537ccf0c82c877d2a2ce6d276bdd1ad303511f727f0aaf2f4b7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kblackbox-24.02.1.tar.xz">kblackbox-24.02.1</a></td>
   <td align="right">542kB</td>
   <td><tt>9cc895ed2935f1625ab1b9d1aebb19c4da66a411d42d79145d493665d3ea80e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kblocks-24.02.1.tar.xz">kblocks-24.02.1</a></td>
   <td align="right">2059kB</td>
   <td><tt>4ad1c9c7b00bae4f9f830930c45413851ea34e53e71e79d272f401d5431f061f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kbounce-24.02.1.tar.xz">kbounce-24.02.1</a></td>
   <td align="right">3464kB</td>
   <td><tt>d61c7382e7f2576aac8c197c5a2f6e3e2fe435550ba51762c1e6c4fb04cf7e5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kbreakout-24.02.1.tar.xz">kbreakout-24.02.1</a></td>
   <td align="right">2501kB</td>
   <td><tt>ee1a21e3c076c21f09836af9e4663cc853a9dd75cc69dd296ddefb38b3dc9faa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kbruch-24.02.1.tar.xz">kbruch-24.02.1</a></td>
   <td align="right">5530kB</td>
   <td><tt>dcc562e26d5f45d25670d33ee0b694eae7efeabab08b89330735b73bd6fd2c05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kcachegrind-24.02.1.tar.xz">kcachegrind-24.02.1</a></td>
   <td align="right">914kB</td>
   <td><tt>74dd958c439249bbfb3e6a8f08210733887a6f98157ed32fe6c26fd402f71015</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kcalc-24.02.1.tar.xz">kcalc-24.02.1</a></td>
   <td align="right">434kB</td>
   <td><tt>dfc95cbf4bd5acb0600aceada4bf6136b0be61f3ce53d2b35ec2b14a78e1acaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kcalutils-24.02.1.tar.xz">kcalutils-24.02.1</a></td>
   <td align="right">346kB</td>
   <td><tt>43ed8e42719829f0eb8bae017b16c00cc2e2104ae631c0c1ba6b80acab53f1b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kcharselect-24.02.1.tar.xz">kcharselect-24.02.1</a></td>
   <td align="right">377kB</td>
   <td><tt>11f518012ad21ec4fef5aec5579f5bf2912a15a3045a829fa76a39e1beade6a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kclock-24.02.1.tar.xz">kclock-24.02.1</a></td>
   <td align="right">631kB</td>
   <td><tt>af820bc88d4a26b235f56083a7470491fb68fd17c3682df3422f10d23623e858</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kcolorchooser-24.02.1.tar.xz">kcolorchooser-24.02.1</a></td>
   <td align="right">34kB</td>
   <td><tt>fc18755d551dd98ac02d2ade7cae1712a26c9ee459e3d5efbc34a447449402ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kcron-24.02.1.tar.xz">kcron-24.02.1</a></td>
   <td align="right">920kB</td>
   <td><tt>0a3c7e00f0566bdf2f3cf6c57401ef78cc3c7e2a65b9a055dda9075660947683</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kdebugsettings-24.02.1.tar.xz">kdebugsettings-24.02.1</a></td>
   <td align="right">107kB</td>
   <td><tt>0b246576dc848ec7fc2ed8fe2a4d4a8ac67145b67bf40fdcff15ef109c33cf3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kdeconnect-kde-24.02.1.tar.xz">kdeconnect-kde-24.02.1</a></td>
   <td align="right">662kB</td>
   <td><tt>b5b986baf04a51cba5705109af341a18ecfa14eeda655ef081de46cc90ebece2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kde-dev-scripts-24.02.1.tar.xz">kde-dev-scripts-24.02.1</a></td>
   <td align="right">363kB</td>
   <td><tt>ff22f6e14a299a58a3c678291c6df6246675b751fd773e7bc0f38d5ff869638e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kde-dev-utils-24.02.1.tar.xz">kde-dev-utils-24.02.1</a></td>
   <td align="right">72kB</td>
   <td><tt>2beff16687bae43b67733b179b3f3d0d08810ad9c8c2c96addf10a5de6f5dfa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kdeedu-data-24.02.1.tar.xz">kdeedu-data-24.02.1</a></td>
   <td align="right">330kB</td>
   <td><tt>147a221513b8ab334608b38fadc8336a014925da3dbabc3a3c378f83177b1015</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kdegraphics-mobipocket-24.02.1.tar.xz">kdegraphics-mobipocket-24.02.1</a></td>
   <td align="right">12kB</td>
   <td><tt>793deb54f47c57cb3cf9a417485cdfbd31782be519bbde2f5b2206ab02d713a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kdegraphics-thumbnailers-24.02.1.tar.xz">kdegraphics-thumbnailers-24.02.1</a></td>
   <td align="right">47kB</td>
   <td><tt>a9aa02015f4e381614ffe44700d2794344e7808d2454bb3cd104a335be818971</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kde-inotify-survey-24.02.1.tar.xz">kde-inotify-survey-24.02.1</a></td>
   <td align="right">226kB</td>
   <td><tt>3478eae31267226dcadf9edf952bd1f9f408112c434f385383accad1cdf2977c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kdenetwork-filesharing-24.02.1.tar.xz">kdenetwork-filesharing-24.02.1</a></td>
   <td align="right">476kB</td>
   <td><tt>1f0e917554bf6c8ba9fc2c7043e4d11f5c0bbf030253d543f058d9ff8e6cb9b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kdenlive-24.02.1.tar.xz">kdenlive-24.02.1</a></td>
   <td align="right">12846kB</td>
   <td><tt>1f77475259a82c5ba2d94ee975f4aeaa9b0c0db125504c13ef718b1408575056</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kdepim-addons-24.02.1.tar.xz">kdepim-addons-24.02.1</a></td>
   <td align="right">2588kB</td>
   <td><tt>b2f2f9673e5f6c7bdcf1ea06dd1190bc10cba2dff9e6ac87aa0b9b191ba1adc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kdepim-runtime-24.02.1.tar.xz">kdepim-runtime-24.02.1</a></td>
   <td align="right">1638kB</td>
   <td><tt>af23d43e112deae5c62ebf8411796146316f7c2e4bd2f2101a246a19ede58558</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kdesdk-kio-24.02.1.tar.xz">kdesdk-kio-24.02.1</a></td>
   <td align="right">39kB</td>
   <td><tt>02c90ad30a8e7c477b14d83017aeba97d9041af64e559bb8e287b8132c3a2445</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kdesdk-thumbnailers-24.02.1.tar.xz">kdesdk-thumbnailers-24.02.1</a></td>
   <td align="right">26kB</td>
   <td><tt>93d7fbfc0a005a14ad1f093a20fb96393d9eac25523176e9aa975fc4583e2b83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kdevelop-24.02.1.tar.xz">kdevelop-24.02.1</a></td>
   <td align="right">8548kB</td>
   <td><tt>5fcc927a536f4f1e48aefbe63303593e88b1f6657e588b6240e9616b334a9e8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kdev-php-24.02.1.tar.xz">kdev-php-24.02.1</a></td>
   <td align="right">1064kB</td>
   <td><tt>15a26fb4aca6c20ac1e003773162db2251a707322e43ef1d64341ec2c9d3f87b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kdev-python-24.02.1.tar.xz">kdev-python-24.02.1</a></td>
   <td align="right">1073kB</td>
   <td><tt>662b0a7e6d6afcb1a20d036a7b643b817744a96e50cfd6db2eaf16c55e205219</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kdf-24.02.1.tar.xz">kdf-24.02.1</a></td>
   <td align="right">482kB</td>
   <td><tt>38695af1442b6e3512dc5ef17a43ae9fcceb2cab2f39e2e28ea972a4ec08da48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kdialog-24.02.1.tar.xz">kdialog-24.02.1</a></td>
   <td align="right">140kB</td>
   <td><tt>1b03f1fdc25c093eac5c08d2580618bbb2ffaf8ef1003afb44e6b0ec9f7e0708</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kdiamond-24.02.1.tar.xz">kdiamond-24.02.1</a></td>
   <td align="right">4558kB</td>
   <td><tt>ea30a5b4abc6027d82094c983f2ead221d2c32c81cb4448044beacf919dcfe08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/keditbookmarks-24.02.1.tar.xz">keditbookmarks-24.02.1</a></td>
   <td align="right">238kB</td>
   <td><tt>74ef464127bdd68f288343046d572f384b22ca0fea00444ea8431b720edb73e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/keysmith-24.02.1.tar.xz">keysmith-24.02.1</a></td>
   <td align="right">166kB</td>
   <td><tt>f654af1e9817d6896fef66e45526f28a66a113a93272c89b9dbd2d17f8e31c6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kfind-24.02.1.tar.xz">kfind-24.02.1</a></td>
   <td align="right">315kB</td>
   <td><tt>3055d5786f97b31a9eb694b401d8318922e6f7bf50c894bb2a884e5948ff80f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kfourinline-24.02.1.tar.xz">kfourinline-24.02.1</a></td>
   <td align="right">722kB</td>
   <td><tt>38600944b86d079b4e18aa406c1a3773e80fa64fd1a66452bcc5c9a0504b669b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kgeography-24.02.1.tar.xz">kgeography-24.02.1</a></td>
   <td align="right">12316kB</td>
   <td><tt>70c8eb67c718e901d5d1a944e224bc7b733670e9bd22b6d190b67f25027077db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kget-24.02.1.tar.xz">kget-24.02.1</a></td>
   <td align="right">5436kB</td>
   <td><tt>91abe011d5d2c0f657d59d20570e9aa661260d0d1f1081bfef49e53d2d0273b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kgoldrunner-24.02.1.tar.xz">kgoldrunner-24.02.1</a></td>
   <td align="right">4271kB</td>
   <td><tt>8a1048f8ec2a265e8e574dda713e1c89da1b6d31d55b6e748a0bc6e232e87683</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kgpg-24.02.1.tar.xz">kgpg-24.02.1</a></td>
   <td align="right">2992kB</td>
   <td><tt>957391ecab46d070bfbcbeb0c26887461ac7da114ace226a5d6771a896430463</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/khangman-24.02.1.tar.xz">khangman-24.02.1</a></td>
   <td align="right">7196kB</td>
   <td><tt>0916f6657a9c0c82364af5208865c4a011680f2370e6d98f6f6847c87bd6e467</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/khealthcertificate-24.02.1.tar.xz">khealthcertificate-24.02.1</a></td>
   <td align="right">502kB</td>
   <td><tt>7ba3bc10adfd61cc0936e429306329a729b348f56f1507768a5d9dce9e5e2c00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/khelpcenter-24.02.1.tar.xz">khelpcenter-24.02.1</a></td>
   <td align="right">4282kB</td>
   <td><tt>f9464b5f7fa86d52056346df0278b6946115129d7d5ffaaec81fec784dd6d114</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kidentitymanagement-24.02.1.tar.xz">kidentitymanagement-24.02.1</a></td>
   <td align="right">181kB</td>
   <td><tt>caecfe007eb2a4d48913ddffe8a1ef05056a6b259301c8012805225340e4663d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kig-24.02.1.tar.xz">kig-24.02.1</a></td>
   <td align="right">3220kB</td>
   <td><tt>000cb8c5a982bd973ae55a9f27502e30359a853ec107cf141a5687ddab67d379</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kigo-24.02.1.tar.xz">kigo-24.02.1</a></td>
   <td align="right">5036kB</td>
   <td><tt>99e203ad6a7ea9d396b74380c3c9747fe7de6407122dbb1690dbb0330daf4b9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/killbots-24.02.1.tar.xz">killbots-24.02.1</a></td>
   <td align="right">1135kB</td>
   <td><tt>c47ac552c0f430c8314cf570d0ba6c3a1f8b245432758832afcf3e8ae28dd6da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kimagemapeditor-24.02.1.tar.xz">kimagemapeditor-24.02.1</a></td>
   <td align="right">1080kB</td>
   <td><tt>cf6669ec1bb6c3bbeb8f678783c91e1116080e2a3547ca95fe786176308a3c4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kimap-24.02.1.tar.xz">kimap-24.02.1</a></td>
   <td align="right">127kB</td>
   <td><tt>55429709d398125196bc3e9158edf6c9f755ce714ab3cff5df398f3bb179b0ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kio-admin-24.02.1.tar.xz">kio-admin-24.02.1</a></td>
   <td align="right">35kB</td>
   <td><tt>c4539bba57a6337c67ed9838df57c24a15b88b334e6c11b5ba24f3d963bd7332</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kio-extras-24.02.1.tar.xz">kio-extras-24.02.1</a></td>
   <td align="right">3468kB</td>
   <td><tt>7f708a17453993db797df78d53b68af3586cba15e0db88828da9acb8320a0cc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kio-extras-kf5-24.02.1.tar.xz">kio-extras-kf5-24.02.1</a></td>
   <td align="right">1433kB</td>
   <td><tt>f5ba5745029883292c687962d02549510dab4774e870c69e3d68b8a32fb3d609</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kio-gdrive-24.02.1.tar.xz">kio-gdrive-24.02.1</a></td>
   <td align="right">78kB</td>
   <td><tt>ac0e2f7312a1af741532749775d4ecae27ebaf61e1529ec25df6a8da4db355df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kio-zeroconf-24.02.1.tar.xz">kio-zeroconf-24.02.1</a></td>
   <td align="right">43kB</td>
   <td><tt>f96c9c85a53d77b3e75b81bdb0804aa337176cae103a164c14c8b75dd9f89355</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kipi-plugins-24.02.1.tar.xz">kipi-plugins-24.02.1</a></td>
   <td align="right">1532kB</td>
   <td><tt>3efaae4ca1e3e1e2a1c2e1e16339b816bf9ffce04f55944c16b105fa2665233d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kirigami-gallery-24.02.1.tar.xz">kirigami-gallery-24.02.1</a></td>
   <td align="right">346kB</td>
   <td><tt>a3aac5bdb3dc62f545309055ab3a3728da4945b05078ca50add39e7183d2a86d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kiriki-24.02.1.tar.xz">kiriki-24.02.1</a></td>
   <td align="right">361kB</td>
   <td><tt>37dee31de3721ec78baf7e31238115f34e32689b037da9f456ec37edc159d210</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kiten-24.02.1.tar.xz">kiten-24.02.1</a></td>
   <td align="right">11065kB</td>
   <td><tt>027d93304da69a4fa19461a2436bb9587dda6026bf4c916adf3bc9788716a099</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kitinerary-24.02.1.tar.xz">kitinerary-24.02.1</a></td>
   <td align="right">1917kB</td>
   <td><tt>90312e1b79cda5c4c40d0ff28cc562cbed2cc961c3d66eb82a1ef4baf84bb158</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kjournald-24.02.1.tar.xz">kjournald-24.02.1</a></td>
   <td align="right">504kB</td>
   <td><tt>14317d92d96a67448d72ad0cfa9b31ffb74cd2e3e31699c4bb75f347ac3061fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kjumpingcube-24.02.1.tar.xz">kjumpingcube-24.02.1</a></td>
   <td align="right">330kB</td>
   <td><tt>540863c6d74bf9e5f72296bc5cfe0603a0a033128a02d4adb1dcce47253deb05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kldap-24.02.1.tar.xz">kldap-24.02.1</a></td>
   <td align="right">179kB</td>
   <td><tt>61c4e8c9ca7d085c443e0c6926280b03d49f0e5ce374a64a24347d9d59ecc7a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kleopatra-24.02.1.tar.xz">kleopatra-24.02.1</a></td>
   <td align="right">2720kB</td>
   <td><tt>6f8790017de64325ffdef2e28fd5450ba6510b52979b486b1db3bfa1fdd02b95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/klettres-24.02.1.tar.xz">klettres-24.02.1</a></td>
   <td align="right">46722kB</td>
   <td><tt>de01ee6910e5776bb6be1c1c8ba3ba04cbc88232a24530d771978c29d15a60b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/klickety-24.02.1.tar.xz">klickety-24.02.1</a></td>
   <td align="right">1465kB</td>
   <td><tt>111128e5a6248ea0a574fd29af5aca74be907c61a300115a3a8211da16d3935c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/klines-24.02.1.tar.xz">klines-24.02.1</a></td>
   <td align="right">1698kB</td>
   <td><tt>e2411c932934666dd9d3c123babb70a0b05b23894f187f7317422d1684782744</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kmag-24.02.1.tar.xz">kmag-24.02.1</a></td>
   <td align="right">710kB</td>
   <td><tt>94c3789e56b1bf4e43da25cf4bea322fd467ead349819151957c806a0e904ae0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kmahjongg-24.02.1.tar.xz">kmahjongg-24.02.1</a></td>
   <td align="right">4004kB</td>
   <td><tt>dc597121921738c127ef28f43414a576bd0904a4252902f63a65136d2d1a2841</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kmail-24.02.1.tar.xz">kmail-24.02.1</a></td>
   <td align="right">7517kB</td>
   <td><tt>c8aec1156442aab3fc97f8875a9a2c5825bd120d21721a37ade22baacc8e05d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kmail-account-wizard-24.02.1.tar.xz">kmail-account-wizard-24.02.1</a></td>
   <td align="right">167kB</td>
   <td><tt>d4e78c7f11a32a323ce47c3f7b0e3e37b83c9808af4f1c4c6abe6ba99c3e7a46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kmailtransport-24.02.1.tar.xz">kmailtransport-24.02.1</a></td>
   <td align="right">169kB</td>
   <td><tt>564d6aefe5559349d5dc8513cdb571ed2c748c2a0dd185dfc9c75bdc131a74bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kmbox-24.02.1.tar.xz">kmbox-24.02.1</a></td>
   <td align="right">28kB</td>
   <td><tt>7f1e6ec4dc0d8ba1e6a5bf3c9a5d2d314be3d027e0ac6ef83f07f67a59bea4da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kmime-24.02.1.tar.xz">kmime-24.02.1</a></td>
   <td align="right">157kB</td>
   <td><tt>3904a719e9f1d85fa8ce0b9e6763d9beef813ac47790630287c4a23139fa71d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kmines-24.02.1.tar.xz">kmines-24.02.1</a></td>
   <td align="right">1066kB</td>
   <td><tt>2a8bef5efca785986b7f3c1a15e36dfc74fa99929f664dc98bbef79a66320468</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kmix-24.02.1.tar.xz">kmix-24.02.1</a></td>
   <td align="right">1181kB</td>
   <td><tt>f3237d46ec5181121d9d0d79a918c12a23c46aa51212080e9f36ed255f23163d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kmousetool-24.02.1.tar.xz">kmousetool-24.02.1</a></td>
   <td align="right">127kB</td>
   <td><tt>9851b8726f3d7d3aa6a24e4bb7c79fdbea5217485e9958a7a53e6da0f7787c9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kmouth-24.02.1.tar.xz">kmouth-24.02.1</a></td>
   <td align="right">2041kB</td>
   <td><tt>70260e624de38a3e7c59fbf5700991836c6b916ff5a54d1ce35c3ed996f2d37b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kmplot-24.02.1.tar.xz">kmplot-24.02.1</a></td>
   <td align="right">3027kB</td>
   <td><tt>19091caf83dd506d9b24aea44a294ec1b09d59ad910a1ed4e95e28582f614dd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/knavalbattle-24.02.1.tar.xz">knavalbattle-24.02.1</a></td>
   <td align="right">1367kB</td>
   <td><tt>d3b85e2ac3fc580cce12e62d5d6924b8a8d9116d7ba3e82162b9e5b5c116d348</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/knetwalk-24.02.1.tar.xz">knetwalk-24.02.1</a></td>
   <td align="right">1037kB</td>
   <td><tt>58842183330ccf139e2092de54da3d6e2157501d38f7a9569dbe47c99bff05b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/knights-24.02.1.tar.xz">knights-24.02.1</a></td>
   <td align="right">2442kB</td>
   <td><tt>184ba8a9eb11d2153492ce19ea73e60fdb51e46d13a13c0f3b1c7d97c7aa2062</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/knotes-24.02.1.tar.xz">knotes-24.02.1</a></td>
   <td align="right">371kB</td>
   <td><tt>9385621fcca651b4ab3b61dbe97a18f404fe4f83db737034217f5c7678c865a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/koko-24.02.1.tar.xz">koko-24.02.1</a></td>
   <td align="right">8328kB</td>
   <td><tt>9fcf0d8902184705a74f98505ff7a4421ad06e4d15acf52b33e1593706a34b3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kolf-24.02.1.tar.xz">kolf-24.02.1</a></td>
   <td align="right">1048kB</td>
   <td><tt>4325aeb4424eab3f5b24c4bafb541c0bd5c51fcdefdfa94c54fb0e7285537e49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kollision-24.02.1.tar.xz">kollision-24.02.1</a></td>
   <td align="right">300kB</td>
   <td><tt>a66a670136a0d1bcfc8c1c30cf4a4e6c31307032313bbc35e00737c65b1b1113</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kolourpaint-24.02.1.tar.xz">kolourpaint-24.02.1</a></td>
   <td align="right">5661kB</td>
   <td><tt>7855e7a2a3f1e67e9cb65017b0fccae5ff8abc9dccfc369e51e88475a54db1d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kompare-24.02.1.tar.xz">kompare-24.02.1</a></td>
   <td align="right">960kB</td>
   <td><tt>4be53553bfeec22e4b3fa03236218e92063e640ce5c487141099888f3954472a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kongress-24.02.1.tar.xz">kongress-24.02.1</a></td>
   <td align="right">577kB</td>
   <td><tt>80a1703cc34164be9c94576825711e563aa56a416a30c98b330cd6763d24ea57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/konqueror-24.02.1.tar.xz">konqueror-24.02.1</a></td>
   <td align="right">9901kB</td>
   <td><tt>1505d5cde644801b4e58ac37d152e058b0d775303962c04f9c59ae318144f385</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/konquest-24.02.1.tar.xz">konquest-24.02.1</a></td>
   <td align="right">855kB</td>
   <td><tt>02bd27adbe153d754ab5ef3d6a67176e041d2d0ef0bf217ac95c3124f4d9427b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/konsole-24.02.1.tar.xz">konsole-24.02.1</a></td>
   <td align="right">1711kB</td>
   <td><tt>c5a277db84a2f61751250b89c7f984dfdb7750d9ed5f68a4fae228d89ae72c85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kontact-24.02.1.tar.xz">kontact-24.02.1</a></td>
   <td align="right">840kB</td>
   <td><tt>f7fd230c40552736b05547257c737c2e4fb8a08d6e1ee2116a0b7d5b137d02cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kontactinterface-24.02.1.tar.xz">kontactinterface-24.02.1</a></td>
   <td align="right">39kB</td>
   <td><tt>d2b51aba2bcf3c64de04fef47d380970554baede9d2304377615d57f416b6e58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kontrast-24.02.1.tar.xz">kontrast-24.02.1</a></td>
   <td align="right">208kB</td>
   <td><tt>8d46c44ca3df3d835342149535c947da74d0bbe90e3b1ffab66e3f818b27e58c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/konversation-24.02.1.tar.xz">konversation-24.02.1</a></td>
   <td align="right">4322kB</td>
   <td><tt>cc61dfd056680c3e06a0da74dc02d319d12dcbad1c2c7835e00415e938866c0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kopeninghours-24.02.1.tar.xz">kopeninghours-24.02.1</a></td>
   <td align="right">71kB</td>
   <td><tt>dee6298b90dc592e2aa38a9cd79ac8a5218c09c9bfe692f7dd7ea9497ad006ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/korganizer-24.02.1.tar.xz">korganizer-24.02.1</a></td>
   <td align="right">2514kB</td>
   <td><tt>ee690446befdd6938df05d32392a8854c6ef53ab1e887a147d46faee690e2f31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kosmindoormap-24.02.1.tar.xz">kosmindoormap-24.02.1</a></td>
   <td align="right">619kB</td>
   <td><tt>658c4a9e0398c5ed85fac2302256a0dc38b05f208c2643c2176a15e647eef813</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kpat-24.02.1.tar.xz">kpat-24.02.1</a></td>
   <td align="right">3627kB</td>
   <td><tt>c2027395f897e5f63335f325afc0a2c147647b8c0a96d930b98287e11426352b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kpimtextedit-24.02.1.tar.xz">kpimtextedit-24.02.1</a></td>
   <td align="right">163kB</td>
   <td><tt>6d556506e508e825d7ea5c6c0cec8fe0bb9ef28ccb5e346d856dbe1ec3619a97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kpkpass-24.02.1.tar.xz">kpkpass-24.02.1</a></td>
   <td align="right">28kB</td>
   <td><tt>839c3eb277d7c436f6b38fdca7760fb88907f2d2903095bed0808e34218426a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kpmcore-24.02.1.tar.xz">kpmcore-24.02.1</a></td>
   <td align="right">618kB</td>
   <td><tt>87358b3940f725bb7eed7cf2895bbbaf40bb7ca9ce4bfe83335b6480bbea5578</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kpublictransport-24.02.1.tar.xz">kpublictransport-24.02.1</a></td>
   <td align="right">591kB</td>
   <td><tt>c9b39726a24a55a63a9aa55eeff9547b36dcbf355a226dbc7ecec65894e3970c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kqtquickcharts-24.02.1.tar.xz">kqtquickcharts-24.02.1</a></td>
   <td align="right">30kB</td>
   <td><tt>5113b48eee9ed9d816fbfbe8ae03109cd1b4f0067d197b54c8fc31e8b333c1e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/krdc-24.02.1.tar.xz">krdc-24.02.1</a></td>
   <td align="right">1609kB</td>
   <td><tt>2d7a4220a48732af1ab8d6c77dba9efafc8bcf2b97e5893ea987d36b8c5adc7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/krecorder-24.02.1.tar.xz">krecorder-24.02.1</a></td>
   <td align="right">161kB</td>
   <td><tt>d69690f55dcf860faf3a00b1a147c4ea865fcef8e2a891527298dad0a336044f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kreversi-24.02.1.tar.xz">kreversi-24.02.1</a></td>
   <td align="right">1054kB</td>
   <td><tt>3ba39b031ae6b376ea63a2105606cde98cccbace23ad0570e7402d30c8c54c06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/krfb-24.02.1.tar.xz">krfb-24.02.1</a></td>
   <td align="right">1290kB</td>
   <td><tt>80e714e9ceeeec4580a37dc2200f15536a4de6b9c8be616aacbfaa939cb5e8f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kross-interpreters-24.02.1.tar.xz">kross-interpreters-24.02.1</a></td>
   <td align="right">148kB</td>
   <td><tt>6b5e8a7f201c750cb5eaf11788240bff2fca9e145d0f20fe2009d90055a9c563</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kruler-24.02.1.tar.xz">kruler-24.02.1</a></td>
   <td align="right">283kB</td>
   <td><tt>1a52b10817625a2f95abcb69340845c017ee8772185c04e63d87a81f9ed6d191</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/ksanecore-24.02.1.tar.xz">ksanecore-24.02.1</a></td>
   <td align="right">49kB</td>
   <td><tt>b4fe58554fe2e3d69f399d674d9478ca0e8de865ddfbbd18f8e6966384727373</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kshisen-24.02.1.tar.xz">kshisen-24.02.1</a></td>
   <td align="right">986kB</td>
   <td><tt>1bbab1218571f6a8da9af74900691afd524d17e678739323cdd8af53c4dc6fb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/ksirk-24.02.1.tar.xz">ksirk-24.02.1</a></td>
   <td align="right">6911kB</td>
   <td><tt>ab524fb24dc93ad94242169af175aadabc882be27ffef2cdecaff63ce5466c6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/ksmtp-24.02.1.tar.xz">ksmtp-24.02.1</a></td>
   <td align="right">50kB</td>
   <td><tt>fa5f4524a36df832bb14c43161332751bf57685094a4e37e378e69433fb2034d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/ksnakeduel-24.02.1.tar.xz">ksnakeduel-24.02.1</a></td>
   <td align="right">589kB</td>
   <td><tt>d6967441c474e0afe04b0498258c01b3d973589f34d709e0d99129dea1c041f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kspaceduel-24.02.1.tar.xz">kspaceduel-24.02.1</a></td>
   <td align="right">645kB</td>
   <td><tt>874bdff09309ae7fe768cba57d6a212ad3f9482bce1ac2242fefeadde87d713c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/ksquares-24.02.1.tar.xz">ksquares-24.02.1</a></td>
   <td align="right">310kB</td>
   <td><tt>0dba1049b585a2112adc11242836012970c6c521f97082e4367af33fbadb38ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/ksudoku-24.02.1.tar.xz">ksudoku-24.02.1</a></td>
   <td align="right">1669kB</td>
   <td><tt>93a08ea2f6b2b0540e135e2db608f886ea60e3cba8721049bb1aa6e815eb8add</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/ksystemlog-24.02.1.tar.xz">ksystemlog-24.02.1</a></td>
   <td align="right">1966kB</td>
   <td><tt>80a986f9f011c4e3eac5f27528c9c38b1e14826887b8400925112da9b408804e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kteatime-24.02.1.tar.xz">kteatime-24.02.1</a></td>
   <td align="right">307kB</td>
   <td><tt>02ecacea2f35b781265bd72419ddfee5963c74dc9490fd0a35e9e8ef0e96d3ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/ktimer-24.02.1.tar.xz">ktimer-24.02.1</a></td>
   <td align="right">398kB</td>
   <td><tt>5974f5f3cb9ee5f56521f2a7c86b0c2bdd332adc9ee058a4c67dbeb3f701f8fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/ktnef-24.02.1.tar.xz">ktnef-24.02.1</a></td>
   <td align="right">304kB</td>
   <td><tt>0d147d3f4a9bd4ecc60489af74c14265e005290473f2ccdf586ad3897825ec95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/ktorrent-24.02.1.tar.xz">ktorrent-24.02.1</a></td>
   <td align="right">2122kB</td>
   <td><tt>29ba0c9e4dc858979f2c58c43d3903fa4415acd5ab85887566c7c13791b6a06e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/ktouch-24.02.1.tar.xz">ktouch-24.02.1</a></td>
   <td align="right">4922kB</td>
   <td><tt>5fcae690918429ed9ef9cb588dc19b43baf9bff77d3bcd85dc3f7068d90f737c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/ktrip-24.02.1.tar.xz">ktrip-24.02.1</a></td>
   <td align="right">249kB</td>
   <td><tt>3174b48061f347ed432ebeeb0629ee581698739f1a6c209207a8a5b80d553181</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/ktuberling-24.02.1.tar.xz">ktuberling-24.02.1</a></td>
   <td align="right">69917kB</td>
   <td><tt>6e24ed23ca0f3552c68846930f8e29991a9f42268900ff7424e2bb805ded467b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kturtle-24.02.1.tar.xz">kturtle-24.02.1</a></td>
   <td align="right">2195kB</td>
   <td><tt>7033e880d03903c3c0660b852d7832ea896b147ce90b41f1c37da482a349a900</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kubrick-24.02.1.tar.xz">kubrick-24.02.1</a></td>
   <td align="right">346kB</td>
   <td><tt>035c9fb6d9fc528f4928e6432b135cacf718dfbe4701f00d5e63540a96c5680b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kwalletmanager-24.02.1.tar.xz">kwalletmanager-24.02.1</a></td>
   <td align="right">836kB</td>
   <td><tt>d43e29f55a59c710d9ff70d7f84b33deacd4cc5649c55f46b3620d4d9227b462</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kwave-24.02.1.tar.xz">kwave-24.02.1</a></td>
   <td align="right">6819kB</td>
   <td><tt>09d00453ef38b2e8ef4b9985a64ed2576462ce2a4fbecc0f1bc97dc68453097b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kweather-24.02.1.tar.xz">kweather-24.02.1</a></td>
   <td align="right">925kB</td>
   <td><tt>c23839f9073451ddebc2f2fd2b33c50c122b4d5f326d4ca7527052119da4cb06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/kwordquiz-24.02.1.tar.xz">kwordquiz-24.02.1</a></td>
   <td align="right">3977kB</td>
   <td><tt>742a4209a082057e69491c0de8f47c875bf8178a6bbc0c4437fd0ab51ce653c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/libgravatar-24.02.1.tar.xz">libgravatar-24.02.1</a></td>
   <td align="right">35kB</td>
   <td><tt>91f908dcb4819f5d49353fe0dd8a3b29a3793722edd8230534b37fca6ebab150</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/libkcddb-24.02.1.tar.xz">libkcddb-24.02.1</a></td>
   <td align="right">440kB</td>
   <td><tt>fb28c37098749d78e80599d80affebb9ba12ffb528609446075e5f7ee8f42a1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/libkcompactdisc-24.02.1.tar.xz">libkcompactdisc-24.02.1</a></td>
   <td align="right">97kB</td>
   <td><tt>6f03693459bc56f79c529f05cbfd7045275b6fcee33dda2c421630c201cdce22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/libkdcraw-24.02.1.tar.xz">libkdcraw-24.02.1</a></td>
   <td align="right">36kB</td>
   <td><tt>ad41e20f58c22671d66bdebe1be93360e84822768918674389b85872b8b5cc20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/libkdegames-24.02.1.tar.xz">libkdegames-24.02.1</a></td>
   <td align="right">5831kB</td>
   <td><tt>494017b065899280f52e90f01c7f50aeea863532836b848fa45f771a2c147105</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/libkdepim-24.02.1.tar.xz">libkdepim-24.02.1</a></td>
   <td align="right">274kB</td>
   <td><tt>f304416135f2b7156de8da36490d437c98eb3c30b03985c58ff1824cb5202a8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/libkeduvocdocument-24.02.1.tar.xz">libkeduvocdocument-24.02.1</a></td>
   <td align="right">221kB</td>
   <td><tt>7ec15e43113fa0ffa74e8eb15837dbaa33c9b6d933b413a26d5a6a30662e18ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/libkexiv2-24.02.1.tar.xz">libkexiv2-24.02.1</a></td>
   <td align="right">59kB</td>
   <td><tt>3cd61225274b0968691abd29e676e3d31b6f0f488024e5a78525dc39ba67f6e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/libkgapi-24.02.1.tar.xz">libkgapi-24.02.1</a></td>
   <td align="right">328kB</td>
   <td><tt>72eb831b8127122c737c82dc9ec4a73158112a1db65fd3b2dba5298df4d23395</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/libkipi-24.02.1.tar.xz">libkipi-24.02.1</a></td>
   <td align="right">86kB</td>
   <td><tt>f6e6817674d94c2aec2b7e9918e79d04d15639854ae984cd6d12abfdb43cc2c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/libkleo-24.02.1.tar.xz">libkleo-24.02.1</a></td>
   <td align="right">557kB</td>
   <td><tt>0871ef3fae2b44f8fe012edc55902fd7849973283afe37f8e083bfd3702ff9bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/libkmahjongg-24.02.1.tar.xz">libkmahjongg-24.02.1</a></td>
   <td align="right">1651kB</td>
   <td><tt>1574a6c7590aa286da9d0943a3142a2afec669a4e388399ed33402415b24b3bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/libkomparediff2-24.02.1.tar.xz">libkomparediff2-24.02.1</a></td>
   <td align="right">183kB</td>
   <td><tt>63406a429744bc0431f2b4e28e0d614bf2c925e7fba0fa66402d02f835f7d06e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/libksane-24.02.1.tar.xz">libksane-24.02.1</a></td>
   <td align="right">149kB</td>
   <td><tt>f806dd3b396a8e3583320a8a8fa081ac171ae377c0b3748fd1e0e8acdae71bff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/libksieve-24.02.1.tar.xz">libksieve-24.02.1</a></td>
   <td align="right">570kB</td>
   <td><tt>628fdcfa466586affdfd3657994a86f745a11cd4d0a6309239bc4f6dfb512038</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/libktorrent-24.02.1.tar.xz">libktorrent-24.02.1</a></td>
   <td align="right">589kB</td>
   <td><tt>90e47bc1e91681197a108fe97bd4385b413d9a7fadf7e0d2048cd2c8a755bcee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/lokalize-24.02.1.tar.xz">lokalize-24.02.1</a></td>
   <td align="right">2092kB</td>
   <td><tt>1a49c782f6ab5a55d1afbf2c8402694343eab5bccd51151b998ffe4c09521c1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/lskat-24.02.1.tar.xz">lskat-24.02.1</a></td>
   <td align="right">1221kB</td>
   <td><tt>a2c8cb83754e6871434a9248ff90ec66681cc67d2dbd422f794f629f5eadc2f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/mailcommon-24.02.1.tar.xz">mailcommon-24.02.1</a></td>
   <td align="right">753kB</td>
   <td><tt>cd35442943314de2db8773153c5388199312b810468cc604a060d328650af6c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/mailimporter-24.02.1.tar.xz">mailimporter-24.02.1</a></td>
   <td align="right">579kB</td>
   <td><tt>39ad04c7f07998137ca60f10149eaee292537f353f5c8ac1a22fcbc4ee5cc167</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/marble-24.02.1.tar.xz">marble-24.02.1</a></td>
   <td align="right">52570kB</td>
   <td><tt>dca7a278b353ce0ce9fdfa641a0362bb7131055beb71fafeaaf5ac69026b0d9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/markdownpart-24.02.1.tar.xz">markdownpart-24.02.1</a></td>
   <td align="right">32kB</td>
   <td><tt>fb69424a6d1bf7e9c194467ae9d6877a60afac485589f12489c8a735c187a411</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/mbox-importer-24.02.1.tar.xz">mbox-importer-24.02.1</a></td>
   <td align="right">29kB</td>
   <td><tt>9d3bbed5020c72215cb91b0a98cc80b30b694d6a18fd73c00298942109953c5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/merkuro-24.02.1.tar.xz">merkuro-24.02.1</a></td>
   <td align="right">723kB</td>
   <td><tt>5f641c836bc93e6a44bdf3bf1bedccb7a234f5d187368f954b2341af7884d717</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/messagelib-24.02.1.tar.xz">messagelib-24.02.1</a></td>
   <td align="right">11005kB</td>
   <td><tt>b01381aefea323ec93af5eb845ba8bbfdc0314c8d0effe4cb0235c4dca9a14de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/mimetreeparser-24.02.1.tar.xz">mimetreeparser-24.02.1</a></td>
   <td align="right">620kB</td>
   <td><tt>bc3f48e6d8d975607b73a1b45d310ccb584e8e8f5470bd6bf443a1f914d2a11b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/minuet-24.02.1.tar.xz">minuet-24.02.1</a></td>
   <td align="right">27051kB</td>
   <td><tt>a6fe02e0af523374d5f2be5f019ab622abf399a279878bd979d8bf4accff0e52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/neochat-24.02.1.tar.xz">neochat-24.02.1</a></td>
   <td align="right">863kB</td>
   <td><tt>05b6dfa24b791bb229f108a738270764888ab585413dfed8f3fa3d312fb7fdc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/okular-24.02.1.tar.xz">okular-24.02.1</a></td>
   <td align="right">8349kB</td>
   <td><tt>d53fb0711c51014c7b7f3d060d1c6547c2d7b8e6149a20bbde6c1634bf4372d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/palapeli-24.02.1.tar.xz">palapeli-24.02.1</a></td>
   <td align="right">2072kB</td>
   <td><tt>dd42ae5da02e51b1256fa1e74c3a7eefa312cc9f25fcc303f1c8cbf851b38e17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/parley-24.02.1.tar.xz">parley-24.02.1</a></td>
   <td align="right">8415kB</td>
   <td><tt>8d7ebc7d68b6acef1ccaac46637f518a4aa8c5905ff66b3469cc7a4a78acd154</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/partitionmanager-24.02.1.tar.xz">partitionmanager-24.02.1</a></td>
   <td align="right">2096kB</td>
   <td><tt>8bec666a8863cf82cd4b879ec7703738c43318dd83a4e1e89cb85846780d1946</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/picmi-24.02.1.tar.xz">picmi-24.02.1</a></td>
   <td align="right">1505kB</td>
   <td><tt>d12cbe2a6aa091d94c4d5e65302a9facd40c2ada9c55a18f84638ccda803800b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/pimcommon-24.02.1.tar.xz">pimcommon-24.02.1</a></td>
   <td align="right">340kB</td>
   <td><tt>e584a03d4a77754f10af3d03b3a7c7eaab6250a2377333d5317da73bbc5e1f44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/pim-data-exporter-24.02.1.tar.xz">pim-data-exporter-24.02.1</a></td>
   <td align="right">417kB</td>
   <td><tt>3fac09541266900868f634be0815749c2a675c11aa87ce580023114be5526a49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/pim-sieve-editor-24.02.1.tar.xz">pim-sieve-editor-24.02.1</a></td>
   <td align="right">464kB</td>
   <td><tt>17c747534b80f31f1170641c4c9d7bdffcc65faa26bdd38cb9c026e54c304c5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/plasmatube-24.02.1.tar.xz">plasmatube-24.02.1</a></td>
   <td align="right">133kB</td>
   <td><tt>908a59d3b4f63852af706affaf2d36d2801387e1ae37ebb1a07113811cd95d6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/poxml-24.02.1.tar.xz">poxml-24.02.1</a></td>
   <td align="right">43kB</td>
   <td><tt>301ff26030a828ae7ecf988264621ccec68d267645f85ab0c6fd7525b1a7c68b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/qmlkonsole-24.02.1.tar.xz">qmlkonsole-24.02.1</a></td>
   <td align="right">189kB</td>
   <td><tt>0e043643abe5d5bf401c932e917482facc26446c566f685653c60f73cd9a474f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/rocs-24.02.1.tar.xz">rocs-24.02.1</a></td>
   <td align="right">1533kB</td>
   <td><tt>d5d462c194c88a54f87a57bd02984f470f0fc6149f46c98135d6bd05484a709d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/signon-kwallet-extension-24.02.1.tar.xz">signon-kwallet-extension-24.02.1</a></td>
   <td align="right">10kB</td>
   <td><tt>47ccf9178f0deb1444eabcd45774b59dba95efbcac1658efb4726764d75cf452</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/skanlite-24.02.1.tar.xz">skanlite-24.02.1</a></td>
   <td align="right">2394kB</td>
   <td><tt>4b2b0a470788d85475af47ab9d5737dbac6cc1e5dd2d25fe96f0f265dfa9702e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/skanpage-24.02.1.tar.xz">skanpage-24.02.1</a></td>
   <td align="right">1291kB</td>
   <td><tt>31753db3de691bfac4be9e700fd54726fce3daf45fbcf2616e4761179fdc65a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/spectacle-24.02.1.tar.xz">spectacle-24.02.1</a></td>
   <td align="right">1375kB</td>
   <td><tt>5746bc02ab89de56ba3f3bb4adf72cd87d08b0fb60037081481b43a7a364ea57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/step-24.02.1.tar.xz">step-24.02.1</a></td>
   <td align="right">971kB</td>
   <td><tt>90ed80fdd68aaa1028123c71f8df0de6821c154ccba258e1f57280700955b51d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/svgpart-24.02.1.tar.xz">svgpart-24.02.1</a></td>
   <td align="right">28kB</td>
   <td><tt>a3676af4f7eca8eab2e8c02d2b3f57be8315396d1e2d2a3edf6581af092d38ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/sweeper-24.02.1.tar.xz">sweeper-24.02.1</a></td>
   <td align="right">389kB</td>
   <td><tt>f73beed7e47a1652cdf5a400ac456926f16dda9542638906e60f7715b723cf56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/telly-skout-24.02.1.tar.xz">telly-skout-24.02.1</a></td>
   <td align="right">94kB</td>
   <td><tt>58ab40b548234fa3ee7b7687f0229272cb1e6886b4213fc737f0b88b2fe7f4d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/tokodon-24.02.1.tar.xz">tokodon-24.02.1</a></td>
   <td align="right">506kB</td>
   <td><tt>3eaf6ca487532336f6f1ceff45281b96595a0493a1faaee43fdefe5f97f680ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/umbrello-24.02.1.tar.xz">umbrello-24.02.1</a></td>
   <td align="right">5643kB</td>
   <td><tt>51bd4d06c7bd4ae19904a85e387a235e427626429c198aeb7cfb3b6aebad84db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/yakuake-24.02.1.tar.xz">yakuake-24.02.1</a></td>
   <td align="right">429kB</td>
   <td><tt>6824c41e538e5a8c52a613658bc76a6ba281fddb9eb9b4f701414533cd37419c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.1/src/zanshin-24.02.1.tar.xz">zanshin-24.02.1</a></td>
   <td align="right">362kB</td>
   <td><tt>a6587697febbb14ce1dfa008d6b647b47263d014da1b50c374d0d3f9978f7e38</tt></td>
</tr>

</table>
