<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/aura-browser-5.27.4.tar.xz">aura-browser-5.27.4</a></td>
   <td align="right">2.9MB</td>
   <td><tt>89912b04016d5d198d9cafc305511287345dc29be4a28857bc7c9265efb8c954</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/bluedevil-5.27.4.tar.xz">bluedevil-5.27.4</a></td>
   <td align="right">355kB</td>
   <td><tt>101871f56da19ae667d61ec32addc446eb94f81ce0c541cf0367de96c3c896a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/breeze-5.27.4.tar.xz">breeze-5.27.4</a></td>
   <td align="right">83MB</td>
   <td><tt>62d80ebd690c7822bf05b19bec8b37af67cc1cd4bb3f38d2a88d8360fd6b1901</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/breeze-grub-5.27.4.tar.xz">breeze-grub-5.27.4</a></td>
   <td align="right">2.9MB</td>
   <td><tt>0b4f4ccddb8484327ad1a010fbf4331ce522902320df42dcda41457e01dfb17a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/breeze-gtk-5.27.4.tar.xz">breeze-gtk-5.27.4</a></td>
   <td align="right">39kB</td>
   <td><tt>cb967dcd258065f87a9cb43f8022378e7ead1db83590ca2eea4e77196226999f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/breeze-plymouth-5.27.4.tar.xz">breeze-plymouth-5.27.4</a></td>
   <td align="right">108kB</td>
   <td><tt>7be68944a55197099b8541aeed5e5c661fcebb77253b07af5a2557dc806cf1bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/discover-5.27.4.tar.xz">discover-5.27.4</a></td>
   <td align="right">845kB</td>
   <td><tt>dc9f66d0ad4cf11a5033593976cae0b9969bc148babbb2ad72a3527b1003f966</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/drkonqi-5.27.4.tar.xz">drkonqi-5.27.4</a></td>
   <td align="right">837kB</td>
   <td><tt>d63ace5da89cc628e0a411f9636fb067d0478caa1e2e6f32532688aa196f91d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/flatpak-kcm-5.27.4.tar.xz">flatpak-kcm-5.27.4</a></td>
   <td align="right">218kB</td>
   <td><tt>ad6156443c3da839eed26e2577352af0d2e2b5729254243006175546223d2145</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/kactivitymanagerd-5.27.4.tar.xz">kactivitymanagerd-5.27.4</a></td>
   <td align="right">121kB</td>
   <td><tt>d9e1fd492012127e20c8ae76cf6462c5690cf842f241ffa95f83c9bf6a91da72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/kde-cli-tools-5.27.4.tar.xz">kde-cli-tools-5.27.4</a></td>
   <td align="right">642kB</td>
   <td><tt>c594fde05df078eb9d0455b0e298c201a3143b949c1c3b1ff5526b5e4340b419</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/kdecoration-5.27.4.tar.xz">kdecoration-5.27.4</a></td>
   <td align="right">51kB</td>
   <td><tt>415f22a21073dcc8024eba45a5a8f19b83d3af8335404d3a253554b1a483fa6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/kde-gtk-config-5.27.4.tar.xz">kde-gtk-config-5.27.4</a></td>
   <td align="right">75kB</td>
   <td><tt>98f5adf85bc56e01956f749849694d21c222e98d082e9b82ee8b469ffa6220e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/kdeplasma-addons-5.27.4.tar.xz">kdeplasma-addons-5.27.4</a></td>
   <td align="right">800kB</td>
   <td><tt>6a82a57988f336345738630217f49b191a379eeea586565a802bcebed7941f89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/kgamma5-5.27.4.tar.xz">kgamma5-5.27.4</a></td>
   <td align="right">84kB</td>
   <td><tt>4a81c50b7f96b5a6f0e60b58a1d38fc375f445595e2e349e692d4c40d8355802</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/khotkeys-5.27.4.tar.xz">khotkeys-5.27.4</a></td>
   <td align="right">1.7MB</td>
   <td><tt>841224dea79b4607ecebe79b5c94e36bfbc290b623d5efe5dbe1cd566a921023</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/kinfocenter-5.27.4.tar.xz">kinfocenter-5.27.4</a></td>
   <td align="right">992kB</td>
   <td><tt>6875ca14c4fc139f007bc4b318fa3812f7d73ef26fa2ae54a49bd48bda67e495</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/kmenuedit-5.27.4.tar.xz">kmenuedit-5.27.4</a></td>
   <td align="right">904kB</td>
   <td><tt>37abb72d193ae1273b9a5265e8decfeeebee12811eb9977ba69af8850c8ca7b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/kpipewire-5.27.4.tar.xz">kpipewire-5.27.4</a></td>
   <td align="right">57kB</td>
   <td><tt>a653408693ea16fee1b12a447982af48823aae86e5813b30b5a889cd2b883165</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/kscreen-5.27.4.tar.xz">kscreen-5.27.4</a></td>
   <td align="right">179kB</td>
   <td><tt>456f249772f53807dcc0b5076dcf6975d5b29b0b2b6a037ca0a5e45017a4c5ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/kscreenlocker-5.27.4.tar.xz">kscreenlocker-5.27.4</a></td>
   <td align="right">155kB</td>
   <td><tt>a9da7f59b3fe35879adae4c67d1b2263085ee5c79004cd2bec46ce6901b97191</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/ksshaskpass-5.27.4.tar.xz">ksshaskpass-5.27.4</a></td>
   <td align="right">27kB</td>
   <td><tt>a9050264181d58eafb7aa36d797cf510eb55d3f4d8057746dfd76565cf3ef46a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/ksystemstats-5.27.4.tar.xz">ksystemstats-5.27.4</a></td>
   <td align="right">111kB</td>
   <td><tt>1fd68961450fb8c37c6969a3a9b927a59aa7d13e0820898f2fe73d6fdc9edece</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/kwallet-pam-5.27.4.tar.xz">kwallet-pam-5.27.4</a></td>
   <td align="right">22kB</td>
   <td><tt>cea13f6b4cc17cb692cf0f94880926e4a072f6af8f4c0bce343ef3d5eafc126c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/kwayland-integration-5.27.4.tar.xz">kwayland-integration-5.27.4</a></td>
   <td align="right">25kB</td>
   <td><tt>f74a856a93e0bd91ad7c34905603c2ed74df1dc85e687354d9d588274026fe08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/kwin-5.27.4.1.tar.xz">kwin-5.27.4.1</a></td>
   <td align="right">7.2MB</td>
   <td><tt>b39f1d3cc528505213dbb72958e80d6cdad75617cb26c215607d6f12bf0e02b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/kwrited-5.27.4.tar.xz">kwrited-5.27.4</a></td>
   <td align="right">22kB</td>
   <td><tt>ed3a4b80d6c32c6a9ce4a5be1b6b02a662d2eb0a90ee7dfc6307a335b87407fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/layer-shell-qt-5.27.4.tar.xz">layer-shell-qt-5.27.4</a></td>
   <td align="right">17kB</td>
   <td><tt>3b3aedc14b23023c8e8a4e5d0a16711f24b505cd8a2f470baf595a6ed0e3d0fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/libkscreen-5.27.4.tar.xz">libkscreen-5.27.4</a></td>
   <td align="right">112kB</td>
   <td><tt>a89dfb5e8c40958a41c264f9b26ec4c39b386c2e416aa29a17967a22c107fa7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/libksysguard-5.27.4.tar.xz">libksysguard-5.27.4</a></td>
   <td align="right">854kB</td>
   <td><tt>e0128d0c515cba3fde36c4a5cf5872dbf4e58c29a0d297b84f32bcfbe622f8f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/milou-5.27.4.tar.xz">milou-5.27.4</a></td>
   <td align="right">55kB</td>
   <td><tt>4d0f67b80f0580dbd4479dfa65e597fed2b8f9ab671eca3d7f5156f6871f57a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/oxygen-5.27.4.tar.xz">oxygen-5.27.4</a></td>
   <td align="right">2.6MB</td>
   <td><tt>e20e969b7b71eb19673153103142ad4fc6b78b0b6f152b87a54b61f4b5cde3eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/oxygen-sounds-5.27.4.tar.xz">oxygen-sounds-5.27.4</a></td>
   <td align="right">1.8MB</td>
   <td><tt>9ea3ad7497c74e796b49f36b23da1d0facda8d2c05466fd8c477cf0f3c9384ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/plank-player-5.27.4.tar.xz">plank-player-5.27.4</a></td>
   <td align="right">154kB</td>
   <td><tt>b674b85541751a5a33a3ade38fe9ccf27884d71d48290656a2766d4b88d9a018</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/plasma-bigscreen-5.27.4.tar.xz">plasma-bigscreen-5.27.4</a></td>
   <td align="right">1.0MB</td>
   <td><tt>97a9a17822a4d722f08cb2db8fe9ac3b7b48ad4b47b09032496336afc67c4da2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/plasma-browser-integration-5.27.4.tar.xz">plasma-browser-integration-5.27.4</a></td>
   <td align="right">206kB</td>
   <td><tt>d37af781b11ec1622476b51af25ac82c8d2373bb8ff9c23981cb8a1c6d97f466</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/plasma-desktop-5.27.4.tar.xz">plasma-desktop-5.27.4</a></td>
   <td align="right">13MB</td>
   <td><tt>b94f1cd5f121312268d757078041d83220556c90f73e895518fb19542ae3c800</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/plasma-disks-5.27.4.tar.xz">plasma-disks-5.27.4</a></td>
   <td align="right">90kB</td>
   <td><tt>97f4aee2e2db0ce2dbc1bfbe4b5ad85253f435f58af5f402916ff2d1e0e98323</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/plasma-firewall-5.27.4.tar.xz">plasma-firewall-5.27.4</a></td>
   <td align="right">353kB</td>
   <td><tt>349db4a0908d7a6565eb8b80971eb2ed4f6d4f1730ee65de2fd23f2b1343a3ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/plasma-integration-5.27.4.tar.xz">plasma-integration-5.27.4</a></td>
   <td align="right">87kB</td>
   <td><tt>9aa095f628d601d71283bb7b3274e2b8bfebd913c5804e3b371a5326f24b892e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/plasma-mobile-5.27.4.tar.xz">plasma-mobile-5.27.4</a></td>
   <td align="right">3.2MB</td>
   <td><tt>d518075aa3f895617816b5f2415d4fc280c55ba35973ed92fe3fda6ea1a505a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/plasma-nano-5.27.4.tar.xz">plasma-nano-5.27.4</a></td>
   <td align="right">72kB</td>
   <td><tt>ea8e1e62a3b633fb14dbf125bc53f747fabf89c33dd99557167de2a18b5ce0fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/plasma-nm-5.27.4.tar.xz">plasma-nm-5.27.4</a></td>
   <td align="right">1.0MB</td>
   <td><tt>2ee6bff818e5168062e1e4358851697e4397d8b666e4a58a4883489c1a51214b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/plasma-pa-5.27.4.tar.xz">plasma-pa-5.27.4</a></td>
   <td align="right">158kB</td>
   <td><tt>ed344553bd7516579f0c647414811f46b19789ebf4f5544181299ee52ad3f2e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/plasma-remotecontrollers-5.27.4.tar.xz">plasma-remotecontrollers-5.27.4</a></td>
   <td align="right">78kB</td>
   <td><tt>368c29c42676b0e4d1e17e371d8ce09671081d4e37432e40f7401c1406063651</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/plasma-sdk-5.27.4.tar.xz">plasma-sdk-5.27.4</a></td>
   <td align="right">312kB</td>
   <td><tt>f98849e361c19b192998bb4966f561ea8539d6ceb98fc967e783edb36c36db21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/plasma-systemmonitor-5.27.4.tar.xz">plasma-systemmonitor-5.27.4</a></td>
   <td align="right">168kB</td>
   <td><tt>294847847d9ade0cad8723f4af95bf5b36588c43c69ae4e624aaee3c2b45c3eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/plasma-thunderbolt-5.27.4.tar.xz">plasma-thunderbolt-5.27.4</a></td>
   <td align="right">70kB</td>
   <td><tt>28f605034102572d406978b81f891ff5a15d50979116dd3bebc849e5712af4ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/plasma-vault-5.27.4.1.tar.xz">plasma-vault-5.27.4.1</a></td>
   <td align="right">182kB</td>
   <td><tt>e7d0d8f06767b849bd27937415b1098619d804f3870c62f7c40537f8843102ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/plasma-welcome-5.27.4.1.tar.xz">plasma-welcome-5.27.4.1</a></td>
   <td align="right">802kB</td>
   <td><tt>8ae5aae3cc3679b9621a9d3b26374bda8f9d7d721461a21bf8c3e0035806e865</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/plasma-workspace-5.27.4.1.tar.xz">plasma-workspace-5.27.4.1</a></td>
   <td align="right">18MB</td>
   <td><tt>cb3906ac954bfd0784614843b1aaf9abda640ea3ed944d8651aaa4149baf65a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/plasma-workspace-wallpapers-5.27.4.1.tar.xz">plasma-workspace-wallpapers-5.27.4.1</a></td>
   <td align="right">89MB</td>
   <td><tt>e44d7bc716f99ce13bf034d4eeed99cdd33e12db7068d74ac37d2304ee44656b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/plymouth-kcm-5.27.4.1.tar.xz">plymouth-kcm-5.27.4.1</a></td>
   <td align="right">44kB</td>
   <td><tt>053a299f69f6b2f6236d58b957e0cac0bad0585cf7d400600e6f077fb96e4074</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/polkit-kde-agent-1-5.27.4.1.tar.xz">polkit-kde-agent-1-5.27.4.1</a></td>
   <td align="right">51kB</td>
   <td><tt>26e795f6016e6e64e3fd4518b2a49e8df66716fab073784d943a3b7782ce70c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/powerdevil-5.27.4.1.tar.xz">powerdevil-5.27.4.1</a></td>
   <td align="right">767kB</td>
   <td><tt>644994c77d071480d9df221b1d8f798ecc468380c174da24a3271ce5d83cd368</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/qqc2-breeze-style-5.27.4.1.tar.xz">qqc2-breeze-style-5.27.4.1</a></td>
   <td align="right">64kB</td>
   <td><tt>977a526713fed18483234e6dd33347eece8bd02c7ca46fd473e50d59d1ac0551</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/sddm-kcm-5.27.4.1.tar.xz">sddm-kcm-5.27.4.1</a></td>
   <td align="right">89kB</td>
   <td><tt>977a526713fed18483234e6dd33347eece8bd02c7ca46fd473e50d59d1ac0551</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/systemsettings-5.27.4.1.tar.xz">systemsettings-5.27.4.1</a></td>
   <td align="right">218kB</td>
   <td><tt>5f9d1d2f2f829d75467798ceea471b79ecc7c91437fbcb5b8f36bd67d512730e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.4/xdg-desktop-portal-kde-5.27.4.1.tar.xz">xdg-desktop-portal-kde-5.27.4.1</a></td>
   <td align="right">135kB</td>
   <td><tt>efc6c2dda2893507acc574b7327140b8982752d6ed71740e1f4bf91128a63d43</tt></td>
</tr>

</table>
