{{ define "main" }}
<main>
  <div class="container bluefriday">
    <div class="row">
      <div class="col-lg-8 col-12">
        <h1>{{ i18n "support-plasma6" }}</h1>
        {{ .Content }}
        <img
          class="d-none d-lg-block"
          style="width: 100%; max-width: 1500px"
          alt=""
          src="/fundraisers/konqi-katie-donation.jpg"
        />
      </div>
      <div class="col-lg-4">
        <script
          src="https://donorbox.org/widget.js"
          paypalExpress="true"
        ></script>
        <div class="donorbox">
          <iframe
            style="border-radius: 8px"
            src="https://donorbox.org/embed/kde-become-a-member"
            name="donorbox"
            width="100%"
            height="600px"
            frameborder="0"
            scrolling="no"
            seamless="seamless"
          ></iframe>
          <div class="p-4">{{ .Params.more | markdownify }}</div>
          <br />
          <br />
        </div>
        <div class="hof mt-5 p-4">
          <h2 class="mt-0">{{ i18n "hall-of-fame" }}</h2>
          <p>
            Dominik Lux ⭐ Paul Worrall ⭐ Jason Seville ⭐ Markus Ebner ⭐
            Nostre NZ ⭐ Chad McCullough ⭐ Sahan Fernando ⭐ Harald Gall ⭐
            Christoph Singer ⭐ Marco Julian Solanki ⭐ Joey Eamigh ⭐ Julian
            Raschke ⭐ Dominik Viskovic ⭐ Sebastian Krönert ⭐ José Guardado ⭐
            Lars Jose ⭐ Philipp Lohnes ⭐ Benjamin Tzschoppe ⭐ May Doušak ⭐ D
            Ennis ⭐ Marko Hehl ⭐ Bentleigh Beugelaar ⭐ Ami Chayun ⭐ Trey
            Boyer ⭐ Klemen Košir ⭐ Dirk Holsopple ⭐ Sébastien Monassa ⭐
            Mischa Zschokke-Gohl ⭐ Rocky Cardwell ⭐ Patrick David ⭐ Matthew
            Orr ⭐ Berker Şal ⭐ Rob Hasselbaum ⭐ Frédéric LAURENT ⭐ harry loh
            ⭐ Norbert Spina ⭐ Vojtěch Indrák ⭐ Robert Levine ⭐ Brendan Foote
            ⭐ Dmitry Sobolev ⭐ David Gow ⭐ Simon Hötten ⭐ Jan De Luyck ⭐
            Michal Hlaváč ⭐ Conny Magnusson ⭐ Semen Sobolev ⭐ Reid Wiggins ⭐
            Andres Betts ⭐ Edoardo Regni ⭐ ali xyz ⭐ Francesco Sardara ⭐
            Alistair Bain ⭐ Szymon Łągiewka ⭐ Andre Ramnitz ⭐ Paul Porubsky
            ⭐ François-Xavier Thomas ⭐ Aurélien COUDERC ⭐ Zach B ⭐ Sacha
            Schutz ⭐ Adrian Friedli ⭐ Cass Midkiff ⭐ bill morin ⭐ Tristan
            Remy ⭐ Titouan Fuchs ⭐ Dyllan Kobal ⭐ Brian Lemons ⭐ Antti Luoma
            ⭐ Huw McNamara ⭐ Marijo Mustač ⭐ Dennis Dalstrøm ⭐ Nikolai Eugen
            Sandvik ⭐ Vincent Delor ⭐ Andrija Jovanovic ⭐ Marcel Siggelsten
            ⭐ Stanislas Leduc ⭐ Gerhard Dittes ⭐ Ole Solbakken ⭐ Alicja
            Michalska ⭐ Carl Schwan ⭐ Valentin Petzel ⭐ Galin Yordanov ⭐
            Alexander Reimelt ⭐ Mark Woltman ⭐ Christoph Vollmer ⭐ Florentin
            Rack ⭐ Luis Büchi ⭐ Márton Lente ⭐ Aleksei Liudskoi ⭐ Teague
            Millette ⭐ Vojtech Kuchar ⭐ Julien Enselme ⭐ Tim van Osch ⭐
            Kormos Krisztián ⭐ Thomas Karpiniec ⭐ Matt Milliman ⭐ Benjamin
            Terrier ⭐ Victor Castillo ⭐ David Chocholatý ⭐ Florian Edelmann
            ⭐ Eric NGUYEN ⭐ Leander Nachreiner ⭐ Sergio Rodríguez Sansano ⭐
            Adam Dymitruk ⭐ Philipp Slusallek ⭐ Andrea Scartazza ⭐ Tim Blomme
            ⭐ Moritz Schulte ⭐ Thibaud Franchetti ⭐ Jens Reimann ⭐ Bernie
            Innocenti ⭐ Arne Keller ⭐ Àlex Magaz Graça ⭐ Timothy Carr ⭐
            Milas Bowman ⭐ Archie Lamb ⭐ Srikar Gottipati ⭐ George Pchelkin
            ⭐ Douglas Shaw ⭐ Frank Mankel ⭐ Shuyuan Liu ⭐ Stefan Neacsu ⭐
            Benjamin Xiao ⭐ Neal Gompa ⭐ Burgess Chang ⭐ Curtis Bullock ⭐
            Kevin McCarthy ⭐ Andrew Munkres ⭐ Denis Jovic ⭐ Lasse Danegod ⭐
            Jaspal Chauhan ⭐ Arthur Galiullin ⭐ Marián Polťák ⭐ Guillaume GAY
            ⭐ Christopher Mandlbaur ⭐ Julian Borrero ⭐ Artem Puzikov ⭐ Timo
            Büttner ⭐ Titouan Forgeard ⭐ Tapio Metsälä ⭐ Aljosha Papsch ⭐
            Björn Bauer ⭐ Mikle Kerim ⭐ William Wojciechowski ⭐ Michael
            Niehoff ⭐ Dirk Ziegelmeier ⭐ Mustafa Muhammad ⭐ Andrew
            Rosenwinkel ⭐ Nikita Malgin ⭐ Jacob Childersmith ⭐ Jim Helm ⭐
            edwin vervliet ⭐ Wyatt Childers ⭐ Tom Schwarz ⭐ Luciano Barea ⭐
            Steffen Jasper ⭐ Ulrich Schreiner ⭐ Peter Crasta ⭐ OC Blanco ⭐
            Grégoire Duvauchelle ⭐ Nicholas Harper ⭐ Dan Heneise ⭐ Torsten
            Fratzke ⭐ Robin Slot ⭐ Bjørnar Hausken ⭐ Dennis Körner ⭐ Maarten
            Bijster ⭐ John Kizer ⭐ Alexey Andreyev ⭐ Sebastian Löw ⭐ ADAM K
            BIERMAN ⭐ Loïc Bersier ⭐ Achim Königs ⭐ Felix Knecht ⭐ Joan
            Aluja Oraá ⭐ Nicola Jelmorini ⭐ Christoph Hümbert ⭐ Quentin
            Stuchlik ⭐ Dennis Malmin ⭐ Sarat Chandra ⭐ Kevin Messer ⭐
            Sebastian Fohler ⭐ Mikko Mensonen ⭐ Dylan Taylor ⭐ Daan Boerlage
            ⭐ Petr Kadlec ⭐ Dave Lewis ⭐ Spencer Sawyer ⭐ Stewart Webb ⭐
            Alessio Adamo ⭐ Samuel Allen ⭐ Simon Österle ⭐ Peter Permenter ⭐
            Albert Goncharov ⭐ Luis Garcia ⭐ Jonatan Rosenius ⭐ Nathan
            Westerman ⭐ Jakob Rath ⭐ Anthony (anthr76) Rabbito ⭐ Elijah Helms
            ⭐ Grider Li ⭐ Will Styler ⭐ Peter Nunn ⭐ Asim Shrestha ⭐ Manuel
            Bödder ⭐ Sergi Navas ⭐ Antoni Aloy Torrens ⭐ Shayne Johnson ⭐
            Tommy Beauclair-Mariotti ⭐ Laust Lund Kristensen ⭐ Björn Aili ⭐
            Lukas Skala ⭐ Julius Binder ⭐ Rob Goris ⭐ Yu Te Wang ⭐ Mario
            Loik ⭐ Linus Karl ⭐ Lenno Nagel ⭐ Lukas Langrock ⭐ Davor Grubisa
            ⭐ Marco Nelles ⭐ Tubo Shi ⭐ Stefan Zurucker-Burda ⭐ Adam Szopa
            ⭐ Martin Bednar ⭐ Pablo Caballero ⭐ Rainier Ramos ⭐ Emanuele
            Cannizzaro ⭐ Will Butler ⭐ Nicolas Rojas ⭐ Paul McAuley ⭐ Samega
            7Cattac ⭐ Richard BEOLET ⭐ Mateusz Albecki ⭐ Odin Vex ⭐
            Sebastian Goth ⭐ Miku Hatsune ⭐ Max R ⭐ Xuetian Weng ⭐ Jay
            Tuckey ⭐ Jeroen Huijsman ⭐ Brian Marsh ⭐ Flori G ⭐ Simon Berz ⭐
            David Roth ⭐ Tone Milazzo ⭐ Florian Dittmer ⭐ Evan Chang ⭐
            Robert Riemann ⭐ Batuhan Taskaya ⭐ Fco Javier Bolívar ⭐ Petri
            Koskimaa ⭐ Alexander Schmitt ⭐ Vincent Wilms ⭐ Tasuku Suzuki ⭐
            José Couto ⭐ Jérémy Friche ⭐ Teemu Vartiainen ⭐ Ethan Li ⭐
            Jarkko Torvinen ⭐ Stephane Perrin ⭐ Sebastian Turzanski ⭐ Peter
            König ⭐ Matthias Born ⭐ Jeremy Linton ⭐ Wolfgang Kerschbaumer ⭐
            Michel Filipe ⭐ Ralf Hein ⭐ Sander Smid-Merlijn ⭐ John Chufar ⭐
            Bruno Rocha ⭐ Jennifer Radtke ⭐ Christian Hofstede-Kuhn ⭐ Jakub
            Judas ⭐ scaine uk ⭐ Michael Schaffner ⭐ Achilleas Koutsou ⭐
            Paxriel Pax ⭐ Martin Beck ⭐ Robert McCarter ⭐ Alishams Hassam ⭐
            Paul Birkholtz ⭐ Achim Bohnet ⭐ ILIOPOULOS IOANNIS ⭐ Jordi
            Ferrando ⭐ Ramón Cahenzli ⭐ Jaroslav Reznik ⭐ Sandy F ⭐ Marco
            Götze ⭐ Marcus Harrison ⭐ Tamas Kornman ⭐ Andrei Ioachim ⭐ Dino
            Čobo ⭐ Bob Richter ⭐ Daniel Hurtado ⭐ Radek Nováček ⭐ Mitchel
            Bone ⭐ Joshua Mohr ⭐ Patrick Gianelli ⭐ Witold Sosnowski ⭐
            Alonso Mendoza ⭐ Piotr Gliźniewicz ⭐ Tobias Brunner ⭐ Lukas
            Hannawald ⭐ Rebecca Müller ⭐ Lucas Ji ⭐ Brandon Jones ⭐ Severin
            Hamader ⭐ Andreas Heinkelein ⭐ Wesley Schroth ⭐ Sam Smucny ⭐
            David Germain ⭐ Techin Eamrurksiri ⭐ Fabian Niepelt ⭐ Fred
            Dickens ⭐ Daniel Zalar ⭐ Linghai Yan ⭐ Dougie Beney ⭐ Roger
            Granrud ⭐ Christian Strebel ⭐ Willow Aran ⭐ Calin Cerghedean ⭐
            Skye Van Valkenburgh ⭐ Nathan Wolf ⭐ Rodney Lorimor ⭐ Thomas
            ROBIN ⭐ Michael Bolleininger ⭐ Malte Jürgens ⭐ Cornelius Kluge ⭐
            Dean Bradley ⭐ Raphael Pretot ⭐ Przemysław Romanik ⭐ Lukas
            Kucerik ⭐ Ivan Sabourin ⭐ Jonas Büttner ⭐ Mateusz Dytkowski ⭐
            Blair Thiessen ⭐ Alejandro Muñoz Fernández ⭐ Mukilan Thiyagarajan
            ⭐ Marcel Pierre Simon ⭐ Erik Naprstek ⭐ Chris Killingsworth ⭐
            Ethan Hussong ⭐ Aaron Bockelie ⭐ Michael Lelli ⭐ Antonio Teixeira
            ⭐ Andreas Paul ⭐ Dmitry Misharov ⭐ Cody Harrison ⭐ Bart Otten ⭐
            Petr Tesarik ⭐ Moritz Füssel ⭐ Jason Logue ⭐ Nicola Mingotti ⭐
            Nathaniel Housman ⭐ Alexander Gurenko ⭐ Jonas Mutke ⭐ Quentin
            Guyot ⭐ Niklas Kämper ⭐ Batuhan Cinar ⭐ Alejandro Cholaquidis ⭐
            Michel van Son ⭐ Dominik Riedl ⭐ Rahul Ramesh ⭐ Kim Hayo ⭐
            Jarsto van Santen ⭐ Gerbrand van Dieyen ⭐ Nick Severino ⭐ Yoann
            LE TOUCHE ⭐ Florian RICHER ⭐ Valerio Pilo ⭐ Gernot Schiller ⭐
            Christopher Clarke ⭐ Matthew Cazaly ⭐ Shingo Ishida ⭐ Federico
            Dossena ⭐ Riho Kalbus ⭐ Nathan Pennington ⭐ Marcos Gutiérrez
            Alonso ⭐ Bryan Zaffino ⭐ Helge Bahmann ⭐ Dima T ⭐ Stefan Hellwig
            ⭐ Jörg große Schlarmann ⭐ Störm Poorun ⭐ Brian Aberts ⭐ Jack
            Case ⭐ Amritpal Gill ⭐ Lennart Kroll ⭐ Denis Doria ⭐ Johann
            Jacobsohn ⭐ Regina Abendroth ⭐ Gaurav Dasharathe ⭐ Cristian Le ⭐
            Marius Hergel ⭐ Herbert Feiler ⭐ Grzegorz Wierzowiecki ⭐ Andrew
            Keenan Richardson ⭐ Cameron Bosch ⭐ Johannes Wolf ⭐ TIMOPHEY
            TSITAVETS ⭐ André Barata ⭐ Nate Coffey ⭐ Turritopsis Dohrnii Teo
            En Ming ⭐ Christian Moesgaard ⭐ Solomatin Vladimir ⭐ Ondřej
            Vodáček ⭐ Romain Fleurette ⭐ Zoran Dimovski ⭐ Angus Kelsey ⭐
            Matthew Brunelle ⭐ Costin-Tiberiu Vasilescu ⭐ Allen Hazen ⭐ Ismar
            Kunic ⭐ Florian Stadler ⭐ Jonas Gamao ⭐ Jacob Ludvigsen ⭐ James
            Fryman ⭐ Anael González Paz ⭐ Jeff Cain ⭐ Jon Stelly ⭐ Gerardus
            Franciscus Maria van Iersel ⭐ Jens Churchill ⭐ Daniel Olson ⭐ Bel
            Lord-Williams ⭐ Melissa Autumn ⭐ Merry Mello ⭐ Michael Meister ⭐
            Pierre-Alexandre Hamel-Bussières ⭐ Renārs Ceļapīters ⭐ Emil
            Larsson ⭐ Andrea Panontin ⭐ Daniel Noga ⭐ Andrey Melentyev ⭐
            Florian Klamer ⭐ James North ⭐ Isaac Patton ⭐ Jasmijn Knoope ⭐
            R.A. Bijl ⭐ Milton Hagler ⭐ Matthew Henry ⭐ Yishu Wang ⭐ Mehrad
            Mahmoudian ⭐ Aman Chhabra ⭐ Brandon Clark ⭐ Keelan Jones ⭐ Mark
            Hiles ⭐ Klaus Wagner ⭐ Michael Brunner ⭐ Alexandre BROUET ⭐
            Eduard Nikoleisen ⭐ Ivo Marciniak ⭐ Matija Šuklje ⭐ Marcin
            Mikołajczak ⭐ Lizoblyud Lika ⭐ Max Buchholz ⭐ Chris Davis ⭐
            Peter Simonsson ⭐ Paulo Dias ⭐ Long Vu ⭐ Jeremy Winter ⭐ Kiril
            Vladimirov ⭐ Zhangzhi Hu ⭐ Petronio Coelho ⭐ Owen Sessiecq ⭐
            Hendrik Richter ⭐ Mikołaj Świątek ⭐ Joost Cassee ⭐ Markus Meier
            ⭐ Max Schwarz ⭐ Yann Nux ⭐ Sebastian Paul ⭐ Michael Alexsander
            ⭐ Cory Adkins ⭐ Iain Cuthbertson ⭐ Pascal Schmidt ⭐ Aroun
            Clément Baudouin-van Os ⭐ Thomas Ludwig ⭐ Nicolai Manique ⭐
            Kieren Roberts ⭐ Kai-Uwe Uhlitzsch ⭐ Leif-Jöran Olsson ⭐ Gabriel
            Morell ⭐ Julian Braha ⭐ Thomas Eckart ⭐ Bernhard Breinbauer ⭐
            Moritz Lammerich ⭐ John McKinney ⭐ Harry A ⭐ Jonas Hucklenbroich
            ⭐ Pascal Mages ⭐ Jacopo Schiavon ⭐ Zane Godden ⭐ Michael Winters
            ⭐ Henning Sextro ⭐ Steven Barrett ⭐ Lorenzo Bicci ⭐ Łukasz
            Konieczny ⭐ Janis Bundschu ⭐ David Martinez ⭐ Oliver Rasche ⭐
            Monica Ayhens-Madon ⭐ Jim Crawford ⭐ Nils Martens ⭐ Muthanna K.
            ⭐ Zacharie Monnet ⭐ Mohammad Rawashdeh ⭐ Alexander Ypema ⭐
            William Z ⭐ Justus Tartz ⭐ Michael Stemle ⭐ Pjol . ⭐ Gabriel
            Malo ⭐ Kjetil Fjellheim ⭐ Régis GUYOMARCH ⭐ Anthony Beninati ⭐
            Matheus Ferreira Messias Guedes ⭐ Ryan Chambers ⭐ Teodor Calin
            Sirbu ⭐ Moritz Niesen ⭐ Ryan McCullough ⭐ Andy Meier ⭐ Samuel
            Jordan Kleinman ⭐ Justin Geigley ⭐ Jacob Perron ⭐ Artur Pieniążek
            ⭐ Lisardo Sobrino ⭐ David Walluscheck ⭐ Brett Hagen ⭐ Mateusz
            Brdoń ⭐ Boji Tony ⭐ Lino Moser ⭐ Eddie Carswell ⭐ Samir Nassar
            ⭐ Luke Renaud ⭐ Lauren Howe ⭐ Shawn Dunn ⭐ Rhys Jones ⭐
            Baptiste Rajaut ⭐ Jens Erdmann ⭐ Łukasz Plich ⭐ Jed Baldwin ⭐
            Daniel Bagge ⭐ Christoffer Jansson ⭐ Logan Rogers-Follis ⭐ Martin
            Supan ⭐ Mark Marsh ⭐ Michael Singer ⭐ Julian Wefers ⭐ Chris
            Niewiarowski ⭐ Dennis Zellner ⭐ Travis Suel ⭐ Lee Courington ⭐
            Nicola Feltrin ⭐ Dmytro Nezhevenko ⭐ Christian Gmeiner ⭐ Arian
            Wichmann ⭐ Florian Dazinger ⭐ Alexey Toklovich ⭐ Stephen Crocker
            ⭐ Arthur Tadier ⭐ Ivan Nack ⭐ Guruprasad L ⭐ Malin Stanescu ⭐
            Akseli Lahtinen ⭐ Ian Boll ⭐ Martín Libedinsky ⭐ Igor Stojkovic
            ⭐ Hennie Marais ⭐ Jure Repinc ⭐ Coty Ternes ⭐ Henri Michael ⭐
            Roberto Michán Sánchez ⭐ Paul Elliott ⭐ Lukas Neubert ⭐ Jan
            Iversen ⭐ Benny Fields ⭐ Warren Krettek ⭐ Dennis Schumann ⭐
            Joshua Phelps ⭐ Diego Miguel Lozano ⭐ JIMI ROSS ⭐ your mom ⭐
            Paul Fleischer ⭐ Dave X ⭐ Robert Wolniak ⭐ Xuanyu Yu ⭐ Diego
            Saavedra Aguirre ⭐ Gleb Sinyavskiy ⭐ Eve Carletti ⭐ Tomás Duarte
            ⭐ Julio Moya ⭐ Paul Merryfellow ⭐ Peter Strick ⭐ Angelos
            Skembris ⭐ Philipp Reichmuth ⭐ MD RIDOWAN ⭐ Vladimir Baskakov ⭐
            Kristian Kriehl ⭐ Jeroen Tor ⭐ Gregor Burgeff ⭐ Luis Alvarado ⭐
            Ryein Goddard ⭐ Nina Wanca ⭐ Tony James ⭐ Christian Hartmann ⭐
            Mihail Morosan ⭐ Jacob Becker ⭐ Jimmy Lindsey ⭐ Linda Polman ⭐
            Étienne Pain ⭐ Byron Fröhlich ⭐ Alexander Verweinen ⭐ E. Mau. ⭐
            Bailey Hollis ⭐ Carlos Gonzalez Cortes ⭐ Sergei Golimbievsky ⭐
            Rob Hyndman ⭐ Chrismettal Binary-6 ⭐ Daniel Lloyd-Miller ⭐ Linus
            Fell ⭐ Ján Trenčanský ⭐ Patrick Nagel ⭐ Mike Dawson ⭐ Simon
            Finlay
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}
