<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/akonadi-17.04.0.tar.xz">akonadi-17.04.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>28e3b72a0218dbeb724d922b3374416a3ed4f840</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/akonadi-calendar-17.04.0.tar.xz">akonadi-calendar-17.04.0</a></td>
   <td align="right">272kB</td>
   <td><tt>085d1466fd332b3ec8988e4421d8a6e86806e43c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/akonadi-calendar-tools-17.04.0.tar.xz">akonadi-calendar-tools-17.04.0</a></td>
   <td align="right">216kB</td>
   <td><tt>d5f8f754a5b5de6892e49ca56146d5a3f8fe53bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/akonadiconsole-17.04.0.tar.xz">akonadiconsole-17.04.0</a></td>
   <td align="right">181kB</td>
   <td><tt>b5cca9532aa9e0813add19ebf9984732ae4ddf4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/akonadi-contacts-17.04.0.tar.xz">akonadi-contacts-17.04.0</a></td>
   <td align="right">340kB</td>
   <td><tt>0cedf71320858292a70160a7025fe815f6c14717</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/akonadi-import-wizard-17.04.0.tar.xz">akonadi-import-wizard-17.04.0</a></td>
   <td align="right">423kB</td>
   <td><tt>c9737eed85cdfd2265da1524f37a474a1e9611df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/akonadi-mime-17.04.0.tar.xz">akonadi-mime-17.04.0</a></td>
   <td align="right">127kB</td>
   <td><tt>85ee1ed0fa0934182b258fceef3d34fa85b757a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/akonadi-notes-17.04.0.tar.xz">akonadi-notes-17.04.0</a></td>
   <td align="right">24kB</td>
   <td><tt>1dc22a24d53892e3071d3aa3c61f4cd1ffc0f512</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/akonadi-search-17.04.0.tar.xz">akonadi-search-17.04.0</a></td>
   <td align="right">76kB</td>
   <td><tt>d5a6316a5cf3c998e5358dc0a207e06ce6d23b1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/akregator-17.04.0.tar.xz">akregator-17.04.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>3cade95a4e2e094a9df2896c1dadaa34c294e3d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/analitza-17.04.0.tar.xz">analitza-17.04.0</a></td>
   <td align="right">320kB</td>
   <td><tt>dc2ddd9d2e8fc467644fdf6bce3f70920ca6f76f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/ark-17.04.0.tar.xz">ark-17.04.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>4cb91f50d7ca0d3f484a76a5934cccb84d73de15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/artikulate-17.04.0.tar.xz">artikulate-17.04.0</a></td>
   <td align="right">3.5MB</td>
   <td><tt>10abd6ca776c177b474629182aad82205cea7d01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/audiocd-kio-17.04.0.tar.xz">audiocd-kio-17.04.0</a></td>
   <td align="right">243kB</td>
   <td><tt>5e10bef91d5b8597ac66d40783184b36ad17a7d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/baloo-widgets-17.04.0.tar.xz">baloo-widgets-17.04.0</a></td>
   <td align="right">148kB</td>
   <td><tt>a01eaf593e4cf30b19f6d7afb591dd8f4f2839ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/blinken-17.04.0.tar.xz">blinken-17.04.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>b89035e3d727fe14ffcaf82d7373f55991d854d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/blogilo-17.04.0.tar.xz">blogilo-17.04.0</a></td>
   <td align="right">785kB</td>
   <td><tt>9971b0d886f400e50802ad8d5ed52357353bcd12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/bomber-17.04.0.tar.xz">bomber-17.04.0</a></td>
   <td align="right">736kB</td>
   <td><tt>0a3019d2569fb034fc283cd01f67d88522dfcb45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/bovo-17.04.0.tar.xz">bovo-17.04.0</a></td>
   <td align="right">181kB</td>
   <td><tt>a624e51f084c2fd1156bc62ceac912fe57ab334d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/calendarsupport-17.04.0.tar.xz">calendarsupport-17.04.0</a></td>
   <td align="right">656kB</td>
   <td><tt>44ce1e6b5da062f1cc967da6fba47cc0529decdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/cantor-17.04.0.tar.xz">cantor-17.04.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>379bbb9f8c987b7e3386471259f102eda09df2ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/cervisia-17.04.0.tar.xz">cervisia-17.04.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>98f6c90d483204bbe1e15b0daade09b6250f01b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/dolphin-17.04.0.tar.xz">dolphin-17.04.0</a></td>
   <td align="right">4.4MB</td>
   <td><tt>d5cab201bd57f3daef1058294de2484f912dea8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/dolphin-plugins-17.04.0.tar.xz">dolphin-plugins-17.04.0</a></td>
   <td align="right">182kB</td>
   <td><tt>ea25ed9b40c151a1ea36f29eb1e21811659cd65a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/dragon-17.04.0.tar.xz">dragon-17.04.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>4b22f6e6af798716594f40f7c8ab555d07f99766</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/eventviews-17.04.0.tar.xz">eventviews-17.04.0</a></td>
   <td align="right">424kB</td>
   <td><tt>a1a73464f2f5a3ae1b598cf4c4287f79eb9f5198</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/ffmpegthumbs-17.04.0.tar.xz">ffmpegthumbs-17.04.0</a></td>
   <td align="right">20kB</td>
   <td><tt>95e474b1c99bf06ad1c9d6ec0154d44105c2b3cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/filelight-17.04.0.tar.xz">filelight-17.04.0</a></td>
   <td align="right">638kB</td>
   <td><tt>3ba8c8954d0863192a30b056641b8256daaf277e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/granatier-17.04.0.tar.xz">granatier-17.04.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>084fd4546b9dd39890cfc3a4fdae7f772eb27d5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/grantlee-editor-17.04.0.tar.xz">grantlee-editor-17.04.0</a></td>
   <td align="right">108kB</td>
   <td><tt>01cff502acafb060f08310d245599956d18ad992</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/grantleetheme-17.04.0.tar.xz">grantleetheme-17.04.0</a></td>
   <td align="right">49kB</td>
   <td><tt>1e89ab3c9fc551ecb84ac7d5acf6c5a5e8d6994c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/gwenview-17.04.0.tar.xz">gwenview-17.04.0</a></td>
   <td align="right">5.6MB</td>
   <td><tt>2ff7eca5477e83716755e2bf61107366fa152420</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/incidenceeditor-17.04.0.tar.xz">incidenceeditor-17.04.0</a></td>
   <td align="right">510kB</td>
   <td><tt>d32a2b0a0913fc3bf37048496aac72df3054d196</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/jovie-17.04.0.tar.xz">jovie-17.04.0</a></td>
   <td align="right">385kB</td>
   <td><tt>270c281f67c7356f82e18aeb4bb8b952857eae23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/juk-17.04.0.tar.xz">juk-17.04.0</a></td>
   <td align="right">435kB</td>
   <td><tt>4df0864be8d80a2bb6a83695cb72134598f00343</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/k3b-17.04.0.tar.xz">k3b-17.04.0</a></td>
   <td align="right">10MB</td>
   <td><tt>a245d03b5c2fd186db4ba8f21a4e9053f9feb24a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kaccessible-17.04.0.tar.xz">kaccessible-17.04.0</a></td>
   <td align="right">20kB</td>
   <td><tt>64c1ca2fea19fb719d26ea816b55b7cbec5b52ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kaccounts-integration-17.04.0.tar.xz">kaccounts-integration-17.04.0</a></td>
   <td align="right">67kB</td>
   <td><tt>084c4381c533b5f709459b8c5829dd128383580f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kaccounts-providers-17.04.0.tar.xz">kaccounts-providers-17.04.0</a></td>
   <td align="right">30kB</td>
   <td><tt>f3c5d918a8fd74236bfb1a97dc86bbcfb449c80d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kaddressbook-17.04.0.tar.xz">kaddressbook-17.04.0</a></td>
   <td align="right">548kB</td>
   <td><tt>9a437cb85a0d15b9b054710f3347e883b1dba89d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kajongg-17.04.0.tar.xz">kajongg-17.04.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>e6529977ba15f304b2d25ddbf283f3bd075451cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kalarm-17.04.0.tar.xz">kalarm-17.04.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>4b633850cd0bb5f443451ff10f0475d2d958b947</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kalarmcal-17.04.0.tar.xz">kalarmcal-17.04.0</a></td>
   <td align="right">492kB</td>
   <td><tt>6275f746fab1c523729a42d18a6e8fb48581ea51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kalgebra-17.04.0.tar.xz">kalgebra-17.04.0</a></td>
   <td align="right">673kB</td>
   <td><tt>33f611e7dd08287df77e73e64cc54a067d4d2286</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kalzium-17.04.0.tar.xz">kalzium-17.04.0</a></td>
   <td align="right">23MB</td>
   <td><tt>76debdc21193cb6b0894a5c1831107cea480947b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kamera-17.04.0.tar.xz">kamera-17.04.0</a></td>
   <td align="right">94kB</td>
   <td><tt>6ee5b1dce0e6e910743533127520aef12cc8c76f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kanagram-17.04.0.tar.xz">kanagram-17.04.0</a></td>
   <td align="right">7.2MB</td>
   <td><tt>83235c3805cc5aac3232782b49cc62029d4145a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kapman-17.04.0.tar.xz">kapman-17.04.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>e81be0a852f109319d534b41d1c780a7227a3c16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kapptemplate-17.04.0.tar.xz">kapptemplate-17.04.0</a></td>
   <td align="right">482kB</td>
   <td><tt>d193b48ea4df8215fc7d8cbb37aabb65f3d6c920</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kate-17.04.0.tar.xz">kate-17.04.0</a></td>
   <td align="right">4.9MB</td>
   <td><tt>31634980d18b16b10c6ba473c67e3d79006260b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/katomic-17.04.0.tar.xz">katomic-17.04.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>b306c4590a77d1eb55a522f66d54f71ab9aa3613</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kblackbox-17.04.0.tar.xz">kblackbox-17.04.0</a></td>
   <td align="right">392kB</td>
   <td><tt>7c4c9d1e335dba947680d81e63f660c03c1e3be0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kblocks-17.04.0.tar.xz">kblocks-17.04.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c018dfef6e032c75c1dcddf856378a623f55e0c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kblog-17.04.0.tar.xz">kblog-17.04.0</a></td>
   <td align="right">70kB</td>
   <td><tt>2b42b38b42c5473bfd2601b82a4bec7733d52485</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kbounce-17.04.0.tar.xz">kbounce-17.04.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>3f7b8d797772cfab688afe7f861c2bc102e03a1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kbreakout-17.04.0.tar.xz">kbreakout-17.04.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>c3f54b27f51d5ad13e514fe0b226c954917b297e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kbruch-17.04.0.tar.xz">kbruch-17.04.0</a></td>
   <td align="right">5.3MB</td>
   <td><tt>427f72f7f9446ad71abeb6384657107f51e9a012</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kcachegrind-17.04.0.tar.xz">kcachegrind-17.04.0</a></td>
   <td align="right">780kB</td>
   <td><tt>ea91a7d13890254cfecb43aba41fa1f46828af6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kcalc-17.04.0.tar.xz">kcalc-17.04.0</a></td>
   <td align="right">354kB</td>
   <td><tt>c71543b27813089f854ad6102b45494838305988</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kcalcore-17.04.0.tar.xz">kcalcore-17.04.0</a></td>
   <td align="right">288kB</td>
   <td><tt>c367d0cd1b61035487fe0f1b5dc0edad3502f881</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kcalutils-17.04.0.tar.xz">kcalutils-17.04.0</a></td>
   <td align="right">319kB</td>
   <td><tt>af49df4d5e4eded678b3d7feb7e4ca3303b095e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kcharselect-17.04.0.tar.xz">kcharselect-17.04.0</a></td>
   <td align="right">342kB</td>
   <td><tt>7b162b6359e77fdf83334b8606cc0449848bbb37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kcolorchooser-17.04.0.tar.xz">kcolorchooser-17.04.0</a></td>
   <td align="right">15kB</td>
   <td><tt>1d1284078e886bf54cc93961ce07f2680f8e328c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kcontacts-17.04.0.tar.xz">kcontacts-17.04.0</a></td>
   <td align="right">202kB</td>
   <td><tt>368ae63a9763f3bb64a17e7d0b8d572e27dd8db4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kcron-17.04.0.tar.xz">kcron-17.04.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>4d1a78b40b89f425608f39551dcaac1cf680fdd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kdav-17.04.0.tar.xz">kdav-17.04.0</a></td>
   <td align="right">36kB</td>
   <td><tt>e48e7ba060ab9a406ebb410d5bebea3043fa9b39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kdebugsettings-17.04.0.tar.xz">kdebugsettings-17.04.0</a></td>
   <td align="right">45kB</td>
   <td><tt>8ae410aeebcce0a0f969e0efffda63d908d9f18a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-dev-scripts-17.04.0.tar.xz">kde-dev-scripts-17.04.0</a></td>
   <td align="right">307kB</td>
   <td><tt>58fabc39abc2b699ada500d06218ea0035342ca8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-dev-utils-17.04.0.tar.xz">kde-dev-utils-17.04.0</a></td>
   <td align="right">51kB</td>
   <td><tt>4e98515135599ac938e85af8a28a8153d667d6fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kdeedu-data-17.04.0.tar.xz">kdeedu-data-17.04.0</a></td>
   <td align="right">780kB</td>
   <td><tt>1e39e07f30dcf3993ab9b983e27ee6c067690887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kdegraphics-mobipocket-17.04.0.tar.xz">kdegraphics-mobipocket-17.04.0</a></td>
   <td align="right">13kB</td>
   <td><tt>7bbb01c7513bea020ed2efd0a922c2c32ed0b6a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kdegraphics-thumbnailers-17.04.0.tar.xz">kdegraphics-thumbnailers-17.04.0</a></td>
   <td align="right">40kB</td>
   <td><tt>e69a4c11dd2b6bbe6d533c3873478f8ede8b67c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kdelibs-4.14.31.tar.xz">kdelibs-4.14.31</a></td>
   <td align="right">11MB</td>
   <td><tt>a561c346b045898804f35cef67563f31b04fd8ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kdenetwork-filesharing-17.04.0.tar.xz">kdenetwork-filesharing-17.04.0</a></td>
   <td align="right">328kB</td>
   <td><tt>13219c30b2aa0c932007cdbd86c9c956de61fc0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kdenlive-17.04.0.tar.xz">kdenlive-17.04.0</a></td>
   <td align="right">8.9MB</td>
   <td><tt>af7d1e10320c9587c4f20ec42052ef7d06c9fc14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kdepim-addons-17.04.0.tar.xz">kdepim-addons-17.04.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>c09ac3d37c7bba9b50c9af96c951174806631513</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kdepim-apps-libs-17.04.0.tar.xz">kdepim-apps-libs-17.04.0</a></td>
   <td align="right">71kB</td>
   <td><tt>c2799ce918961b58b23e6a96e6f66393d8cb4b9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kdepim-runtime-17.04.0.tar.xz">kdepim-runtime-17.04.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>3b0cf6f723a35ec7583990617b6bfc332fa9842b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-runtime-17.04.0.tar.xz">kde-runtime-17.04.0</a></td>
   <td align="right">7.5MB</td>
   <td><tt>7809ca4c1edf7033aafb1be0fdaae7ee82c53546</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kdesdk-kioslaves-17.04.0.tar.xz">kdesdk-kioslaves-17.04.0</a></td>
   <td align="right">40kB</td>
   <td><tt>5cddf886a409b435b95ee13faaf4d8b0d0c2ce9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kdesdk-thumbnailers-17.04.0.tar.xz">kdesdk-thumbnailers-17.04.0</a></td>
   <td align="right">16kB</td>
   <td><tt>603b3c32dcbc5040b2a3671f1a17eca8780ce2bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kdf-17.04.0.tar.xz">kdf-17.04.0</a></td>
   <td align="right">517kB</td>
   <td><tt>34314ad20f8e876505255b8b60a176b684fed1ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kdialog-17.04.0.tar.xz">kdialog-17.04.0</a></td>
   <td align="right">90kB</td>
   <td><tt>d4d6ec9f13a3a1ce8eb82f4e99dcb9f244a9dcaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kdiamond-17.04.0.tar.xz">kdiamond-17.04.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>499a33209a9f44bd9999c6a079eccbceb52660e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/keditbookmarks-17.04.0.tar.xz">keditbookmarks-17.04.0</a></td>
   <td align="right">178kB</td>
   <td><tt>0db074301a38f2a7404278420907a0e0e794e8c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kfilereplace-17.04.0.tar.xz">kfilereplace-17.04.0</a></td>
   <td align="right">745kB</td>
   <td><tt>778d6951aa5dca30f0e0181a09c89c196bbfcd88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kfind-17.04.0.tar.xz">kfind-17.04.0</a></td>
   <td align="right">205kB</td>
   <td><tt>6ed446398e9e38d377b37e3f4f98dbaf540aca31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kfloppy-17.04.0.tar.xz">kfloppy-17.04.0</a></td>
   <td align="right">194kB</td>
   <td><tt>daaf1b8935b58e597fe696257d5685a40a2ff32c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kfourinline-17.04.0.tar.xz">kfourinline-17.04.0</a></td>
   <td align="right">560kB</td>
   <td><tt>73d9a5e025035cb10cdad2ce2c1aec5563b87621</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kgeography-17.04.0.tar.xz">kgeography-17.04.0</a></td>
   <td align="right">10MB</td>
   <td><tt>a3846c6806d830e6864c61e1bb4b4096d7111e94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kget-17.04.0.tar.xz">kget-17.04.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>2cde40b8c58b67c2b7e0f3ca511c7338cc8fe9ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kgoldrunner-17.04.0.tar.xz">kgoldrunner-17.04.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>6527f8413c6c3a4b185969d0b8fcf2d0896bdad9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kgpg-17.04.0.tar.xz">kgpg-17.04.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>d4c3f9b23c58c55cce5e8ab47649be7cb6ba4551</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/khangman-17.04.0.tar.xz">khangman-17.04.0</a></td>
   <td align="right">6.0MB</td>
   <td><tt>d49aad6d10ec567146f25b89fe099db995f447d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/khelpcenter-17.04.0.tar.xz">khelpcenter-17.04.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>5776a4ebfe3a750aa60583b55e409ef0f7836d8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kholidays-17.04.0.tar.xz">kholidays-17.04.0</a></td>
   <td align="right">217kB</td>
   <td><tt>89bad42bf50a1539018f2bd575d3dbfd5b63d07b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kidentitymanagement-17.04.0.tar.xz">kidentitymanagement-17.04.0</a></td>
   <td align="right">144kB</td>
   <td><tt>e226e3885c2ec0063b73bf0e48d0331f955f73a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kig-17.04.0.tar.xz">kig-17.04.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>c572039b0d5a766bb3fff96ca5ea7b4853828908</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kigo-17.04.0.tar.xz">kigo-17.04.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>4d653932fed2f1699fa3ea58cc00edd4be3312bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/killbots-17.04.0.tar.xz">killbots-17.04.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>d25c7799aa4832cb7b9173e09e6cefc180a1fc94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kimagemapeditor-17.04.0.tar.xz">kimagemapeditor-17.04.0</a></td>
   <td align="right">397kB</td>
   <td><tt>98747eaac15a0fca2d72c4600ca1c1b9d6695588</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kimap-17.04.0.tar.xz">kimap-17.04.0</a></td>
   <td align="right">116kB</td>
   <td><tt>2639bd03ba506097db121d6f0c884065956d22a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kio-extras-17.04.0.tar.xz">kio-extras-17.04.0</a></td>
   <td align="right">539kB</td>
   <td><tt>97a73e517d13579c3da539465c543c6d94e31476</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kiriki-17.04.0.tar.xz">kiriki-17.04.0</a></td>
   <td align="right">318kB</td>
   <td><tt>6354cf9cedf00cc8e39808292c8b8b77567b3c02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kiten-17.04.0.tar.xz">kiten-17.04.0</a></td>
   <td align="right">11MB</td>
   <td><tt>e87ff4e2d76a0ee891435862ea7a078e1a15f587</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kjumpingcube-17.04.0.tar.xz">kjumpingcube-17.04.0</a></td>
   <td align="right">285kB</td>
   <td><tt>f9fccc7c5779fa941fb74688709ec72213974c9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kldap-17.04.0.tar.xz">kldap-17.04.0</a></td>
   <td align="right">150kB</td>
   <td><tt>a301d05f6feb79213308b2ab57ce5dc265b49a1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kleopatra-17.04.0.tar.xz">kleopatra-17.04.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>20059908ae0b796d7690ef21cf31f0abaf960174</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/klettres-17.04.0.tar.xz">klettres-17.04.0</a></td>
   <td align="right">20MB</td>
   <td><tt>b8a2ee815b811fd4763571db1cde359dfd608667</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/klickety-17.04.0.tar.xz">klickety-17.04.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>c6219b0952b790e3eb9b9cc46e8dfbe1789d5520</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/klines-17.04.0.tar.xz">klines-17.04.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>06a6c97e092b91b71e7bb259ba23c69680936956</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/klinkstatus-17.04.0.tar.xz">klinkstatus-17.04.0</a></td>
   <td align="right">440kB</td>
   <td><tt>d15ad6fe68e20205da3392ea103d91b73a5192d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kmag-17.04.0.tar.xz">kmag-17.04.0</a></td>
   <td align="right">84kB</td>
   <td><tt>de738f7b99eac6795ec87c0f24796d870e075ae7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kmahjongg-17.04.0.tar.xz">kmahjongg-17.04.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>3e7b7be12089f32a43833dd887db0c0b8e27599d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kmail-17.04.0.tar.xz">kmail-17.04.0</a></td>
   <td align="right">4.1MB</td>
   <td><tt>2cae24486c6664f91e337e7f6aa175a9fb607a87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kmail-account-wizard-17.04.0.tar.xz">kmail-account-wizard-17.04.0</a></td>
   <td align="right">146kB</td>
   <td><tt>44e2655ce9c1410012744eaaba6134b79b74bfe4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kmailtransport-17.04.0.tar.xz">kmailtransport-17.04.0</a></td>
   <td align="right">223kB</td>
   <td><tt>760c905f3024a73a7610940be304a89b3460fa24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kmbox-17.04.0.tar.xz">kmbox-17.04.0</a></td>
   <td align="right">24kB</td>
   <td><tt>b4c48cf126ddc6100d291eeb459257fa321669fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kmime-17.04.0.tar.xz">kmime-17.04.0</a></td>
   <td align="right">141kB</td>
   <td><tt>3bb2f2869ba220c5841f38158010e2d86b0bb3a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kmines-17.04.0.tar.xz">kmines-17.04.0</a></td>
   <td align="right">862kB</td>
   <td><tt>2893f00783a2fb9689eb3403272055611d11354a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kmix-17.04.0.tar.xz">kmix-17.04.0</a></td>
   <td align="right">379kB</td>
   <td><tt>85c929fdaf0a5746605f55aae6272d752c7ebeca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kmousetool-17.04.0.tar.xz">kmousetool-17.04.0</a></td>
   <td align="right">35kB</td>
   <td><tt>b420bfaf2beba72c9240e07797cd5090b53bac1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kmouth-17.04.0.tar.xz">kmouth-17.04.0</a></td>
   <td align="right">271kB</td>
   <td><tt>a9160bad54703d7717c99bdfb0d60a7a4e2ce9ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kmplot-17.04.0.tar.xz">kmplot-17.04.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>faa8a5882a2b18fd17a0a5c92bef4ff368bd0ad9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/knavalbattle-17.04.0.tar.xz">knavalbattle-17.04.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>51c8a108b01eae7797caf9d8a73cf365d53e7036</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/knetwalk-17.04.0.tar.xz">knetwalk-17.04.0</a></td>
   <td align="right">958kB</td>
   <td><tt>c1ce472fd7b05018dbba2ace48a364f9c6c5ae35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/knotes-17.04.0.tar.xz">knotes-17.04.0</a></td>
   <td align="right">326kB</td>
   <td><tt>ee0a20a03094e453b75ce7813d0cd9b42db186a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kolf-17.04.0.tar.xz">kolf-17.04.0</a></td>
   <td align="right">750kB</td>
   <td><tt>0b9a02314f845c95b317708ba79bd0c40efc9d54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kollision-17.04.0.tar.xz">kollision-17.04.0</a></td>
   <td align="right">265kB</td>
   <td><tt>188822024c36db63f8926de184d9d6c695b705e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kolourpaint-17.04.0.tar.xz">kolourpaint-17.04.0</a></td>
   <td align="right">5.2MB</td>
   <td><tt>a99f031d93f7b36b589f967e691c0cb9fd30351f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kompare-17.04.0.tar.xz">kompare-17.04.0</a></td>
   <td align="right">691kB</td>
   <td><tt>8e2d3f94723eb2fb1054ea5c13a7fd778e59f2db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/konqueror-17.04.0.tar.xz">konqueror-17.04.0</a></td>
   <td align="right">7.4MB</td>
   <td><tt>b40b3e2ce2c58975c34df4cb39f297f3bae2db80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/konquest-17.04.0.tar.xz">konquest-17.04.0</a></td>
   <td align="right">396kB</td>
   <td><tt>26ebf662c6dadd92fb62356d0bad85bd724bdb80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/konsole-17.04.0.tar.xz">konsole-17.04.0</a></td>
   <td align="right">984kB</td>
   <td><tt>78eb6f692f67d7c93a90ba4816ba86a328238e92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kontact-17.04.0.tar.xz">kontact-17.04.0</a></td>
   <td align="right">842kB</td>
   <td><tt>9ec0299171481b74cbe810677e89084ea7c5cf06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kontactinterface-17.04.0.tar.xz">kontactinterface-17.04.0</a></td>
   <td align="right">31kB</td>
   <td><tt>1f1f1868ab2b1231c4e8d85ae9976d6d571cf80b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kopete-17.04.0.tar.xz">kopete-17.04.0</a></td>
   <td align="right">6.0MB</td>
   <td><tt>5f2c6c83d57a7d93d64684f1f4640ba113f312e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/korganizer-17.04.0.tar.xz">korganizer-17.04.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>1c5b75e3a9231debb92c19ce25cfe6fb60fd0f32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kpat-17.04.0.tar.xz">kpat-17.04.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>762e8f7f1079aa280db784dd252da84444c67e48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kpimtextedit-17.04.0.tar.xz">kpimtextedit-17.04.0</a></td>
   <td align="right">136kB</td>
   <td><tt>53bc36fc0e074934bf0c412a9723492eab1fc073</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kppp-17.04.0.tar.xz">kppp-17.04.0</a></td>
   <td align="right">684kB</td>
   <td><tt>71fd167ccd0d0f627af83e7e326d0cca2d9c224a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kqtquickcharts-17.04.0.tar.xz">kqtquickcharts-17.04.0</a></td>
   <td align="right">24kB</td>
   <td><tt>db44044585822073c4d1f824eae9302163565d1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/krdc-17.04.0.tar.xz">krdc-17.04.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>2ab0ce8d6b569b914d49aa9ad45485c87b0e6240</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kremotecontrol-17.04.0.tar.xz">kremotecontrol-17.04.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>81b548798c04f624d7dcc67a2cd449bf1693bb94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kreversi-17.04.0.tar.xz">kreversi-17.04.0</a></td>
   <td align="right">463kB</td>
   <td><tt>64154c2b898eefc45baee7a3b1709867c5fa5d59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/krfb-17.04.0.tar.xz">krfb-17.04.0</a></td>
   <td align="right">961kB</td>
   <td><tt>f4d59e6f38086814409961bc7eb4f7e4cfb645a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kross-interpreters-17.04.0.tar.xz">kross-interpreters-17.04.0</a></td>
   <td align="right">141kB</td>
   <td><tt>b07e6d85d8efdca21ebe011e936c0c372104e368</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kruler-17.04.0.tar.xz">kruler-17.04.0</a></td>
   <td align="right">263kB</td>
   <td><tt>f3409a866dec227e0db171ea27d21a7659bc6e1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/ksaneplugin-17.04.0.tar.xz">ksaneplugin-17.04.0</a></td>
   <td align="right">12kB</td>
   <td><tt>89c39c9089c649dbcf0d21df883f828ec6cb77fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kscd-17.04.0.tar.xz">kscd-17.04.0</a></td>
   <td align="right">90kB</td>
   <td><tt>f34cd1a5c95ecd3982697345fa7602067cfc40ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kshisen-17.04.0.tar.xz">kshisen-17.04.0</a></td>
   <td align="right">692kB</td>
   <td><tt>a4e6bf5a312923d5191b897c81fa436e3b629d98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/ksirk-17.04.0.tar.xz">ksirk-17.04.0</a></td>
   <td align="right">5.2MB</td>
   <td><tt>5a6fda931c75da5fc414b862f716ab2b6f86b0b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/ksnakeduel-17.04.0.tar.xz">ksnakeduel-17.04.0</a></td>
   <td align="right">291kB</td>
   <td><tt>8d09c33216e3d2595628fa105836d505e4e513ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kspaceduel-17.04.0.tar.xz">kspaceduel-17.04.0</a></td>
   <td align="right">247kB</td>
   <td><tt>44cb83338c569aae38657d447b9a79e3d3bc81ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/ksquares-17.04.0.tar.xz">ksquares-17.04.0</a></td>
   <td align="right">211kB</td>
   <td><tt>c06b8daf4e1edcd27650f5b70c8a2b72567872a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kstars-17.04.0.tar.xz">kstars-17.04.0</a></td>
   <td align="right">58MB</td>
   <td><tt>f77590b0fef27b77b28c11a78baa27a63a9b011e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/ksudoku-17.04.0.tar.xz">ksudoku-17.04.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>dbab08b3190b7abcaec7651ee83b533f7c3fab0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/ksystemlog-17.04.0.tar.xz">ksystemlog-17.04.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>36fc5f9e87847b1e371db373486ac86dab1f53e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kteatime-17.04.0.tar.xz">kteatime-17.04.0</a></td>
   <td align="right">289kB</td>
   <td><tt>9b00d7e8cf775ac217e8bbfd93d1455cfa2b0105</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/ktimer-17.04.0.tar.xz">ktimer-17.04.0</a></td>
   <td align="right">440kB</td>
   <td><tt>a081abfaea46035ad1fb6438ace8bc9901733a06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/ktnef-17.04.0.tar.xz">ktnef-17.04.0</a></td>
   <td align="right">293kB</td>
   <td><tt>adcf1e19a65cd1f5bf0f699570d30ca0fdb338f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/ktouch-17.04.0.tar.xz">ktouch-17.04.0</a></td>
   <td align="right">4.8MB</td>
   <td><tt>6edcd728683bf6ce8d40c3b6ef9898eb048f1cfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/ktp-accounts-kcm-17.04.0.tar.xz">ktp-accounts-kcm-17.04.0</a></td>
   <td align="right">257kB</td>
   <td><tt>bb5da3a850768b4b6c55c4dae14029b06be14fdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/ktp-approver-17.04.0.tar.xz">ktp-approver-17.04.0</a></td>
   <td align="right">36kB</td>
   <td><tt>67c8f40bd600a602b60eebf7132c306071c2dba7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/ktp-auth-handler-17.04.0.tar.xz">ktp-auth-handler-17.04.0</a></td>
   <td align="right">45kB</td>
   <td><tt>57a9223bc550277ef29f84587fd1d8dc4cb4dbca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/ktp-call-ui-17.04.0.tar.xz">ktp-call-ui-17.04.0</a></td>
   <td align="right">94kB</td>
   <td><tt>108ca961d5bc4d2f94d28ddf8b43f6a7e068185c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/ktp-common-internals-17.04.0.tar.xz">ktp-common-internals-17.04.0</a></td>
   <td align="right">432kB</td>
   <td><tt>35129b01af7ce8dda1dfdfb1db75161482f82b57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/ktp-contact-list-17.04.0.tar.xz">ktp-contact-list-17.04.0</a></td>
   <td align="right">129kB</td>
   <td><tt>5effd52f5e337cdd696caad3ab0e8fd7359d90af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/ktp-contact-runner-17.04.0.tar.xz">ktp-contact-runner-17.04.0</a></td>
   <td align="right">39kB</td>
   <td><tt>9ba723bd012436602019fe8f5196cb9536b54680</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/ktp-desktop-applets-17.04.0.tar.xz">ktp-desktop-applets-17.04.0</a></td>
   <td align="right">41kB</td>
   <td><tt>48868818a244099efe4e1a7c417a499c1d4b0d48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/ktp-filetransfer-handler-17.04.0.tar.xz">ktp-filetransfer-handler-17.04.0</a></td>
   <td align="right">45kB</td>
   <td><tt>d78ed6f1f066b24f5a78650cd403eaaa29113d92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/ktp-kded-module-17.04.0.tar.xz">ktp-kded-module-17.04.0</a></td>
   <td align="right">79kB</td>
   <td><tt>c0f4c3c6d29e3bfc417cf513d631b601b8b62f50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/ktp-send-file-17.04.0.tar.xz">ktp-send-file-17.04.0</a></td>
   <td align="right">28kB</td>
   <td><tt>ed159f618f0d81ea7b6a8e1983f178d2ccf17e3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/ktp-text-ui-17.04.0.tar.xz">ktp-text-ui-17.04.0</a></td>
   <td align="right">456kB</td>
   <td><tt>59448c4104776ec0d838459541f7aeadbabbbdea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/ktuberling-17.04.0.tar.xz">ktuberling-17.04.0</a></td>
   <td align="right">31MB</td>
   <td><tt>a6e361cf6f2ad9b138fb20a307a5df81dce5e98b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kturtle-17.04.0.tar.xz">kturtle-17.04.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>2bdf5d04318ceee00c96721afb48d429fad8841e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kubrick-17.04.0.tar.xz">kubrick-17.04.0</a></td>
   <td align="right">105kB</td>
   <td><tt>a3683098695591158d9b942ed82cb38e6b898843</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kwalletmanager-17.04.0.tar.xz">kwalletmanager-17.04.0</a></td>
   <td align="right">729kB</td>
   <td><tt>11c15f42e279364a8fe858466b1caf07e6177fab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kwave-17.04.0.tar.xz">kwave-17.04.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>ff1d04193d2ac7bf0d97e546171f8c9f81cb0bbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kwordquiz-17.04.0.tar.xz">kwordquiz-17.04.0</a></td>
   <td align="right">3.9MB</td>
   <td><tt>7154e16e512c29358a527c62cb4e4fcb61222b7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/libgravatar-17.04.0.tar.xz">libgravatar-17.04.0</a></td>
   <td align="right">27kB</td>
   <td><tt>8b252baf8090a13055ad96271ed957db8e8e6e55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/libkcddb-17.04.0.tar.xz">libkcddb-17.04.0</a></td>
   <td align="right">415kB</td>
   <td><tt>f44b6b25ec107f9750e5ecfa6d2bcad24385c477</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/libkcompactdisc-17.04.0.tar.xz">libkcompactdisc-17.04.0</a></td>
   <td align="right">86kB</td>
   <td><tt>c67b3afb9c7ed2b2a784f33241dbe5d7ceb9290f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/libkdcraw-17.04.0.tar.xz">libkdcraw-17.04.0</a></td>
   <td align="right">41kB</td>
   <td><tt>0e473a3bf14d3e061ae95624956444ad319d1515</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/libkdegames-17.04.0.tar.xz">libkdegames-17.04.0</a></td>
   <td align="right">5.6MB</td>
   <td><tt>3da19dde5383be4639547d1b0d00ed1e97af5a1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/libkdepim-17.04.0.tar.xz">libkdepim-17.04.0</a></td>
   <td align="right">334kB</td>
   <td><tt>908d227a9e97324d7d649746292a381ee3cd5eec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/libkeduvocdocument-17.04.0.tar.xz">libkeduvocdocument-17.04.0</a></td>
   <td align="right">208kB</td>
   <td><tt>3dc73d1f0877d399eed1cd19c0158722ebe05b77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/libkexiv2-17.04.0.tar.xz">libkexiv2-17.04.0</a></td>
   <td align="right">63kB</td>
   <td><tt>f05a91747e0d88589d08f89444ff39d7f28b6745</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/libkface-17.04.0.tar.xz">libkface-17.04.0</a></td>
   <td align="right">8.5MB</td>
   <td><tt>3e867a97a8ea0cfe7e9384ee12ad26a0b717dd91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/libkgapi-17.04.0.tar.xz">libkgapi-17.04.0</a></td>
   <td align="right">169kB</td>
   <td><tt>b5086b78f6dd89f3a01a23a9f0733cbcaa3a5e77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/libkgeomap-17.04.0.tar.xz">libkgeomap-17.04.0</a></td>
   <td align="right">147kB</td>
   <td><tt>dbf4378952e02336ae4d104bbe3059c3ae859c57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/libkipi-17.04.0.tar.xz">libkipi-17.04.0</a></td>
   <td align="right">101kB</td>
   <td><tt>d1087e853c3b9e08677eea20ea652b83acbe7c4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/libkleo-17.04.0.tar.xz">libkleo-17.04.0</a></td>
   <td align="right">284kB</td>
   <td><tt>56e035e0a61b8ab3a50310c6c4270e21baad5d5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/libkmahjongg-17.04.0.tar.xz">libkmahjongg-17.04.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>db6851cdb4e2a9523831126dfad2a6162f03111f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/libkomparediff2-17.04.0.tar.xz">libkomparediff2-17.04.0</a></td>
   <td align="right">175kB</td>
   <td><tt>f33ffd9eb6d3844cfa39525d3ca7d2fe00641668</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/libksane-17.04.0.tar.xz">libksane-17.04.0</a></td>
   <td align="right">134kB</td>
   <td><tt>0c1df40c37463bc61b0f06ed106911cb875f8b7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/libksieve-17.04.0.tar.xz">libksieve-17.04.0</a></td>
   <td align="right">513kB</td>
   <td><tt>dcf8cbfcd0f7e50d0a08588266dbf43bef91e0de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/lokalize-17.04.0.tar.xz">lokalize-17.04.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>5f71e5af3d65505aeacd54505daf936667c8795e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/lskat-17.04.0.tar.xz">lskat-17.04.0</a></td>
   <td align="right">906kB</td>
   <td><tt>57883c072b6732e844697669eebe74b1f88098a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/mailcommon-17.04.0.tar.xz">mailcommon-17.04.0</a></td>
   <td align="right">645kB</td>
   <td><tt>0337167a87954bd3a7a17454be066c199ad1dfff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/mailimporter-17.04.0.tar.xz">mailimporter-17.04.0</a></td>
   <td align="right">526kB</td>
   <td><tt>d45405ce0772254a41490107ae8a84b1f2de1721</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/marble-17.04.0.tar.xz">marble-17.04.0</a></td>
   <td align="right">49MB</td>
   <td><tt>e5e0d6dd2b509331ac69678644d95122b8ebce72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/mbox-importer-17.04.0.tar.xz">mbox-importer-17.04.0</a></td>
   <td align="right">32kB</td>
   <td><tt>07d0db37b5196f35c853a7ee440aa1d058b526eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/messagelib-17.04.0.tar.xz">messagelib-17.04.0</a></td>
   <td align="right">9.9MB</td>
   <td><tt>8990551f62c27968113cba426787115b72a2925b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/minuet-17.04.0.tar.xz">minuet-17.04.0</a></td>
   <td align="right">26MB</td>
   <td><tt>303fe1cdeb6d2956836d8503d638642ddcd3068b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/okteta-17.04.0.tar.xz">okteta-17.04.0</a></td>
   <td align="right">937kB</td>
   <td><tt>95a66107faefa32cc8bdaabd2458b0b5c67ebafa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/okular-17.04.0.tar.xz">okular-17.04.0</a></td>
   <td align="right">5.3MB</td>
   <td><tt>6a6746255d45dd409a3ffceee44c3bd7b6e0c7b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/palapeli-17.04.0.tar.xz">palapeli-17.04.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>224bf9a1d246c96c0850c0765a96805ff0bb4182</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/parley-17.04.0.tar.xz">parley-17.04.0</a></td>
   <td align="right">8.4MB</td>
   <td><tt>ebd07f791b2bd9bbb17f5dca2179bf66520ae737</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/picmi-17.04.0.tar.xz">picmi-17.04.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8b6bc3625b4aa7729d98adf38b5737ac2a9d8178</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/pimcommon-17.04.0.tar.xz">pimcommon-17.04.0</a></td>
   <td align="right">268kB</td>
   <td><tt>35b9911ab1677f0d6f912e4f0a22fdfd4017910e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/pim-data-exporter-17.04.0.tar.xz">pim-data-exporter-17.04.0</a></td>
   <td align="right">259kB</td>
   <td><tt>770593f3c728d80deeaa90b6303079ec70e26ad4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/pim-sieve-editor-17.04.0.tar.xz">pim-sieve-editor-17.04.0</a></td>
   <td align="right">428kB</td>
   <td><tt>de8292b75d059404e48a61e77557547bc0146698</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/poxml-17.04.0.tar.xz">poxml-17.04.0</a></td>
   <td align="right">42kB</td>
   <td><tt>7cc51c89059fc47e559bfa1b3b7ce3d323d8c13c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/print-manager-17.04.0.tar.xz">print-manager-17.04.0</a></td>
   <td align="right">232kB</td>
   <td><tt>2e6d68d67c6baf809fd92ebab33d86ee3486513b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/rocs-17.04.0.tar.xz">rocs-17.04.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>2d81f8b647599c58591599d9de87a438494381f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/signon-kwallet-extension-17.04.0.tar.xz">signon-kwallet-extension-17.04.0</a></td>
   <td align="right">10kB</td>
   <td><tt>aad4aae4a4bc5fb750e5eb928f26356ac04e1df2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/spectacle-17.04.0.tar.xz">spectacle-17.04.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>c0e5cc53d65fc4df732453558627803164c661a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/step-17.04.0.tar.xz">step-17.04.0</a></td>
   <td align="right">841kB</td>
   <td><tt>9bf8a2143ce154960a71719a04e904fc23d803f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/svgpart-17.04.0.tar.xz">svgpart-17.04.0</a></td>
   <td align="right">18kB</td>
   <td><tt>7e7172f37990cc92f7cf7328e7558c9a22411a74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/sweeper-17.04.0.tar.xz">sweeper-17.04.0</a></td>
   <td align="right">80kB</td>
   <td><tt>6f2ab2b3a6dd169486eb340714a427f5abc6a7a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/syndication-17.04.0.tar.xz">syndication-17.04.0</a></td>
   <td align="right">156kB</td>
   <td><tt>2362185d5074732e98bf2ac4b60ae6b67665b377</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/umbrello-17.04.0.tar.xz">umbrello-17.04.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>baa534d3b9f9bccedb89ee5472e523e22483ccba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/zeroconf-ioslave-17.04.0.tar.xz">zeroconf-ioslave-17.04.0</a></td>
   <td align="right">25kB</td>
   <td><tt>50cca180c0c53aa688e4d7dc902414a71daa8c1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-ar-17.04.0.tar.xz">kde-l10n-ar-17.04.0</a></td>
   <td align="right">630kB</td>
   <td><tt>4b587c686624cde96d7f64e5f2c9faae3721b5a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-ast-17.04.0.tar.xz">kde-l10n-ast-17.04.0</a></td>
   <td align="right">461kB</td>
   <td><tt>4fd7fd51f37bca76bfed8db728d32e5ea2db37e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-bg-17.04.0.tar.xz">kde-l10n-bg-17.04.0</a></td>
   <td align="right">558kB</td>
   <td><tt>bb73476135eeb1834cc5459c7bde2a537b7c2f0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-bs-17.04.0.tar.xz">kde-l10n-bs-17.04.0</a></td>
   <td align="right">678kB</td>
   <td><tt>1f4455c598ac6242348dad00a7692b3215a85b96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-ca-17.04.0.tar.xz">kde-l10n-ca-17.04.0</a></td>
   <td align="right">4.1MB</td>
   <td><tt>64e3035454ee1535be38f4054466ea7f46da86cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-ca@valencia-17.04.0.tar.xz">kde-l10n-ca@valencia-17.04.0</a></td>
   <td align="right">657kB</td>
   <td><tt>1cc21ba95a6e5c982f6428b1080a5868d094542b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-cs-17.04.0.tar.xz">kde-l10n-cs-17.04.0</a></td>
   <td align="right">626kB</td>
   <td><tt>4a00b1dfc215645c03b0080b1a38114043c11542</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-da-17.04.0.tar.xz">kde-l10n-da-17.04.0</a></td>
   <td align="right">1009kB</td>
   <td><tt>4ed4be2c8876fde2174219acb5fcd3f96e27c1f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-de-17.04.0.tar.xz">kde-l10n-de-17.04.0</a></td>
   <td align="right">5.9MB</td>
   <td><tt>79a57e094c84405d3956f0228673adc059ee5846</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-el-17.04.0.tar.xz">kde-l10n-el-17.04.0</a></td>
   <td align="right">841kB</td>
   <td><tt>49749a3a8a9d9143a9f5d3961f399a4c973f26d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-en_GB-17.04.0.tar.xz">kde-l10n-en_GB-17.04.0</a></td>
   <td align="right">584kB</td>
   <td><tt>c7c397f0484dd8adfcc3a59b3929be5d3fbd8134</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-eo-17.04.0.tar.xz">kde-l10n-eo-17.04.0</a></td>
   <td align="right">569kB</td>
   <td><tt>e762f98affe0f500754247b928d64f5b09f3f35f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-es-17.04.0.tar.xz">kde-l10n-es-17.04.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>072783881797b4138dd5e6ceae191704c80c9a9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-et-17.04.0.tar.xz">kde-l10n-et-17.04.0</a></td>
   <td align="right">995kB</td>
   <td><tt>fb55282b6157a38433d835adbce6b5c48f5cc9a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-eu-17.04.0.tar.xz">kde-l10n-eu-17.04.0</a></td>
   <td align="right">650kB</td>
   <td><tt>99424f6b3e87d57a0e6a51653ffab51dfee5493d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-fa-17.04.0.tar.xz">kde-l10n-fa-17.04.0</a></td>
   <td align="right">588kB</td>
   <td><tt>b866190e18a0dae5f290991a338bcd1ed9e85e48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-fi-17.04.0.tar.xz">kde-l10n-fi-17.04.0</a></td>
   <td align="right">713kB</td>
   <td><tt>02b8bfd862a10b8a780584f85db856856575b4ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-fr-17.04.0.tar.xz">kde-l10n-fr-17.04.0</a></td>
   <td align="right">6.2MB</td>
   <td><tt>698d17de05ee1d0e89bf140c0a9bc8037fd47093</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-ga-17.04.0.tar.xz">kde-l10n-ga-17.04.0</a></td>
   <td align="right">617kB</td>
   <td><tt>993fc097dbe2b98e1b8988ca2871a9e0ef0304ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-gl-17.04.0.tar.xz">kde-l10n-gl-17.04.0</a></td>
   <td align="right">808kB</td>
   <td><tt>b624aa447f80aa560b05f889db5a192a12d96381</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-he-17.04.0.tar.xz">kde-l10n-he-17.04.0</a></td>
   <td align="right">493kB</td>
   <td><tt>0609beb0e3e1ac203674b16b1b3e02861687cea0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-hi-17.04.0.tar.xz">kde-l10n-hi-17.04.0</a></td>
   <td align="right">542kB</td>
   <td><tt>c326af2ede622d242b7436b60804831f077902c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-hr-17.04.0.tar.xz">kde-l10n-hr-17.04.0</a></td>
   <td align="right">550kB</td>
   <td><tt>b23cefca2f2c6d44187f45f8b3cf82c939701305</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-hu-17.04.0.tar.xz">kde-l10n-hu-17.04.0</a></td>
   <td align="right">706kB</td>
   <td><tt>cd1c2756e5b60dca923ba8e447dc086ae5b337a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-ia-17.04.0.tar.xz">kde-l10n-ia-17.04.0</a></td>
   <td align="right">469kB</td>
   <td><tt>7f41e4a9dc2efca7ce622729244450747133753e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-id-17.04.0.tar.xz">kde-l10n-id-17.04.0</a></td>
   <td align="right">184kB</td>
   <td><tt>2c88764e1b2c7d27490c4943909be4f04aa04302</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-is-17.04.0.tar.xz">kde-l10n-is-17.04.0</a></td>
   <td align="right">534kB</td>
   <td><tt>531e01b59ec30dad20a9fac0a86a93b2dc0ce618</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-it-17.04.0.tar.xz">kde-l10n-it-17.04.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ad4fb73b22ef5a0b440ad6f42440caa931b2aec2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-ja-17.04.0.tar.xz">kde-l10n-ja-17.04.0</a></td>
   <td align="right">605kB</td>
   <td><tt>f10ea55fd455f083a14b6ea45b03bbc206a02286</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-kk-17.04.0.tar.xz">kde-l10n-kk-17.04.0</a></td>
   <td align="right">700kB</td>
   <td><tt>5f14f2bc576de8251413187ddad87b283efa2854</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-km-17.04.0.tar.xz">kde-l10n-km-17.04.0</a></td>
   <td align="right">641kB</td>
   <td><tt>47fe3d45f593128a579544a95e0df8b036b5b254</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-ko-17.04.0.tar.xz">kde-l10n-ko-17.04.0</a></td>
   <td align="right">533kB</td>
   <td><tt>f199cad8fc21a52b2ef1b19c7228dae388720e41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-lt-17.04.0.tar.xz">kde-l10n-lt-17.04.0</a></td>
   <td align="right">600kB</td>
   <td><tt>5d108deabff5548d49cb7fd6300b452c3d70766a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-lv-17.04.0.tar.xz">kde-l10n-lv-17.04.0</a></td>
   <td align="right">625kB</td>
   <td><tt>75a34ce7014219c9b122af793526b2feb74c6deb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-mr-17.04.0.tar.xz">kde-l10n-mr-17.04.0</a></td>
   <td align="right">512kB</td>
   <td><tt>b420b45a0f0807d3e38c72e4d43d200f47aa2396</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-nb-17.04.0.tar.xz">kde-l10n-nb-17.04.0</a></td>
   <td align="right">672kB</td>
   <td><tt>2b700604c0d0c3977efa32490689eba83b741b3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-nds-17.04.0.tar.xz">kde-l10n-nds-17.04.0</a></td>
   <td align="right">734kB</td>
   <td><tt>3b44567f9071dfe95dff33928eefee052d9085cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-nl-17.04.0.tar.xz">kde-l10n-nl-17.04.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>ecc66e5c8b0ab94f485738ac4938601fd537acf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-nn-17.04.0.tar.xz">kde-l10n-nn-17.04.0</a></td>
   <td align="right">619kB</td>
   <td><tt>bc306dbf7437272d0b78775c6437c74b900610ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-pa-17.04.0.tar.xz">kde-l10n-pa-17.04.0</a></td>
   <td align="right">505kB</td>
   <td><tt>81c3bdcbb6101143e04100a845d920d5129df9ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-pl-17.04.0.tar.xz">kde-l10n-pl-17.04.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>506be4d4c86c739da08b4e17706608ac3750a347</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-pt-17.04.0.tar.xz">kde-l10n-pt-17.04.0</a></td>
   <td align="right">1016kB</td>
   <td><tt>c542c17e8ad783ca58772e28f78c90367aaf464b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-pt_BR-17.04.0.tar.xz">kde-l10n-pt_BR-17.04.0</a></td>
   <td align="right">3.9MB</td>
   <td><tt>522a10dabe94446714de7be1d5e7962bfb8cf1e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-ro-17.04.0.tar.xz">kde-l10n-ro-17.04.0</a></td>
   <td align="right">696kB</td>
   <td><tt>da4c4d669e1ed4c8e42aa7e030c429de1bf95f98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-ru-17.04.0.tar.xz">kde-l10n-ru-17.04.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>63503b9b87bc99dbf1b8dcc514f3d042f56631a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-sk-17.04.0.tar.xz">kde-l10n-sk-17.04.0</a></td>
   <td align="right">661kB</td>
   <td><tt>0913f8219e9a2ca444fd5d099da9826f730051f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-sl-17.04.0.tar.xz">kde-l10n-sl-17.04.0</a></td>
   <td align="right">710kB</td>
   <td><tt>c7ba1cd3bfb5bc68b0e7ca1008dc9ec6da58739a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-sr-17.04.0.tar.xz">kde-l10n-sr-17.04.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>a619241701529d4d95b2041028bb211c40fc74b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-sv-17.04.0.tar.xz">kde-l10n-sv-17.04.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>9579d018c484e762b3c7e3bb661e467b545362a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-tr-17.04.0.tar.xz">kde-l10n-tr-17.04.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>712259fd3f12bfceece90aa05f289c4153ba19b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-ug-17.04.0.tar.xz">kde-l10n-ug-17.04.0</a></td>
   <td align="right">529kB</td>
   <td><tt>333e79f3b22c65c4e706118a8478ed3f89519911</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-uk-17.04.0.tar.xz">kde-l10n-uk-17.04.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>daf84b603c2e43f62339c15dfc6bcb483de6df33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-wa-17.04.0.tar.xz">kde-l10n-wa-17.04.0</a></td>
   <td align="right">403kB</td>
   <td><tt>a548f931861d8eca7aa90b0b6bbc73774e57740a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-zh_CN-17.04.0.tar.xz">kde-l10n-zh_CN-17.04.0</a></td>
   <td align="right">652kB</td>
   <td><tt>b7010dd1bb7ca5c57005418040306a213666c20e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.0/src/kde-l10n/kde-l10n-zh_TW-17.04.0.tar.xz">kde-l10n-zh_TW-17.04.0</a></td>
   <td align="right">714kB</td>
   <td><tt>f7268a302d0f9b1accc5d4b02661ab55f200a372</tt></td>
</tr>

</table>
