<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Digest</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/akonadi-19.07.90.tar.xz">akonadi-19.07.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>b251f284403f76371fb211d58e0822f64bdd672c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/akonadi-calendar-19.07.90.tar.xz">akonadi-calendar-19.07.90</a></td>
   <td align="right">325kB</td>
   <td><tt>fc32cc475879c3703b97603a6546e1aba42cac08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/akonadi-calendar-tools-19.07.90.tar.xz">akonadi-calendar-tools-19.07.90</a></td>
   <td align="right">217kB</td>
   <td><tt>93bd670de6df269059044c9eae63693e64b6c9a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/akonadiconsole-19.07.90.tar.xz">akonadiconsole-19.07.90</a></td>
   <td align="right">189kB</td>
   <td><tt>eaf5f3051819e26269e6cf483311b152f226ed0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/akonadi-contacts-19.07.90.tar.xz">akonadi-contacts-19.07.90</a></td>
   <td align="right">376kB</td>
   <td><tt>acf7b5ec57d3562e003f4935af915b7b9489f7a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/akonadi-import-wizard-19.07.90.tar.xz">akonadi-import-wizard-19.07.90</a></td>
   <td align="right">428kB</td>
   <td><tt>c596e246e9c026c903c9889c6f8bc8cfdd1737f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/akonadi-mime-19.07.90.tar.xz">akonadi-mime-19.07.90</a></td>
   <td align="right">129kB</td>
   <td><tt>66d66e42ca1e4f8a7c9a50d8b78196d81784ce64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/akonadi-notes-19.07.90.tar.xz">akonadi-notes-19.07.90</a></td>
   <td align="right">23kB</td>
   <td><tt>c3581f7498fbb1ace6a2119c5ab066655f34d904</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/akonadi-search-19.07.90.tar.xz">akonadi-search-19.07.90</a></td>
   <td align="right">80kB</td>
   <td><tt>08ed1d86ee8faac6a6801fdc79804c92c3f6572e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/akregator-19.07.90.tar.xz">akregator-19.07.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>27c326dfb133252a50c43b1ec0a8f399b520bb39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/analitza-19.07.90.tar.xz">analitza-19.07.90</a></td>
   <td align="right">324kB</td>
   <td><tt>f1c346aad9ae9798e314720e982ab8c09a897249</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/ark-19.07.90.tar.xz">ark-19.07.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>81cabac94c293df1042842f8aeb615ef814e10b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/artikulate-19.07.90.tar.xz">artikulate-19.07.90</a></td>
   <td align="right">3.8MB</td>
   <td><tt>530ea8f7567cd814d05c6b7273094a652781f5cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/audiocd-kio-19.07.90.tar.xz">audiocd-kio-19.07.90</a></td>
   <td align="right">347kB</td>
   <td><tt>087e5e1d647a1f41878dcc7581c48393ae772800</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/baloo-widgets-19.07.90.tar.xz">baloo-widgets-19.07.90</a></td>
   <td align="right">255kB</td>
   <td><tt>6f4afa0c3caf272524779f234ecaf25d85647d18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/blinken-19.07.90.tar.xz">blinken-19.07.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>7a18201be967904d9702d700932ac47dcf67704a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/bomber-19.07.90.tar.xz">bomber-19.07.90</a></td>
   <td align="right">800kB</td>
   <td><tt>4a0ec25c461a5980165c771d7b42f20d15357663</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/bovo-19.07.90.tar.xz">bovo-19.07.90</a></td>
   <td align="right">194kB</td>
   <td><tt>ff0e8f830a9e8b1a346290f8a631bfdefbc9e456</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/calendarsupport-19.07.90.tar.xz">calendarsupport-19.07.90</a></td>
   <td align="right">630kB</td>
   <td><tt>9d0bae9e96b1dbc9bae7ecc684810873c056ef10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/cantor-19.07.90.tar.xz">cantor-19.07.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>eb0b9f7f83022879ba07c35a0ac880e1a4c7af1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/cervisia-19.07.90.tar.xz">cervisia-19.07.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>cbd1c182ba64238ddeec90f4016e00d6dbc4089e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/dolphin-19.07.90.tar.xz">dolphin-19.07.90</a></td>
   <td align="right">5.0MB</td>
   <td><tt>ec5091f0a3cc903702bc42e3bcaada2ca243ccf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/dolphin-plugins-19.07.90.tar.xz">dolphin-plugins-19.07.90</a></td>
   <td align="right">187kB</td>
   <td><tt>5acdd913ad4d9ee7b0ae363d6d00d26a4b26130f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/dragon-19.07.90.tar.xz">dragon-19.07.90</a></td>
   <td align="right">1.2MB</td>
   <td><tt>fde31b4e4b298d307ad81ca4308da4274e655092</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/eventviews-19.07.90.tar.xz">eventviews-19.07.90</a></td>
   <td align="right">432kB</td>
   <td><tt>db294354bd1e05f94aac70d82de9009df06967c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/ffmpegthumbs-19.07.90.tar.xz">ffmpegthumbs-19.07.90</a></td>
   <td align="right">24kB</td>
   <td><tt>9de6a5984d3b0aada459a0bc19b91d5e59e92d0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/filelight-19.07.90.tar.xz">filelight-19.07.90</a></td>
   <td align="right">645kB</td>
   <td><tt>ea360b4ef558ef0fca8fb11a6842760ea1c8d22f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/granatier-19.07.90.tar.xz">granatier-19.07.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>aeaa7d0925a7110ffe3dd7514a104fd875dcc439</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/grantlee-editor-19.07.90.tar.xz">grantlee-editor-19.07.90</a></td>
   <td align="right">109kB</td>
   <td><tt>54b1eff252fe492963627da7f04b2fd033521f75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/grantleetheme-19.07.90.tar.xz">grantleetheme-19.07.90</a></td>
   <td align="right">51kB</td>
   <td><tt>df33d30323524c5db1b1377b8307939d9f045016</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/gwenview-19.07.90.tar.xz">gwenview-19.07.90</a></td>
   <td align="right">5.4MB</td>
   <td><tt>8e131e550b247893b57e575a00d0dbcd8e69f0a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/incidenceeditor-19.07.90.tar.xz">incidenceeditor-19.07.90</a></td>
   <td align="right">536kB</td>
   <td><tt>d4e28f422c0cfd8385cda3bf3a5e6238fabadda4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/juk-19.07.90.tar.xz">juk-19.07.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>4a9a7991749deb505beaf6f5c1eb7dfeddf9e833</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/k3b-19.07.90.tar.xz">k3b-19.07.90</a></td>
   <td align="right">10MB</td>
   <td><tt>e47fdf7ae572e50c7f0c70804839c8db3a2bb1b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kaccounts-integration-19.07.90.tar.xz">kaccounts-integration-19.07.90</a></td>
   <td align="right">69kB</td>
   <td><tt>d4e378de0d29af1690ed7763a75dfc9f535fe253</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kaccounts-providers-19.07.90.tar.xz">kaccounts-providers-19.07.90</a></td>
   <td align="right">31kB</td>
   <td><tt>86da6ef7a5872ba35c7c3c1e7a8329b9468d7f84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kaddressbook-19.07.90.tar.xz">kaddressbook-19.07.90</a></td>
   <td align="right">461kB</td>
   <td><tt>2477ba3e74c1c757bd07b62e6d22f74626a7b766</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kajongg-19.07.90.tar.xz">kajongg-19.07.90</a></td>
   <td align="right">4.2MB</td>
   <td><tt>5467340df0154bae35febbf63d8689ae930ae618</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kalarm-19.07.90.tar.xz">kalarm-19.07.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2ebf8aaf4300072990c76a4590bedfa1610dc4df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kalarmcal-19.07.90.tar.xz">kalarmcal-19.07.90</a></td>
   <td align="right">559kB</td>
   <td><tt>28dcc62a58bc7237897ddae6c2e86abcda631664</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kalgebra-19.07.90.tar.xz">kalgebra-19.07.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>56159ee952dd31290e02f346ee4499e48c19576f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kalzium-19.07.90.tar.xz">kalzium-19.07.90</a></td>
   <td align="right">25MB</td>
   <td><tt>3a9a7d10617e6a30c7de72c8c8f9fb158d619192</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kamera-19.07.90.tar.xz">kamera-19.07.90</a></td>
   <td align="right">97kB</td>
   <td><tt>4bf82dcb8d97d0187e999f7d72afab16241137eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kamoso-19.07.90.tar.xz">kamoso-19.07.90</a></td>
   <td align="right">196kB</td>
   <td><tt>518b087765f8f5dbc0b1b1293880975a6ab37100</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kanagram-19.07.90.tar.xz">kanagram-19.07.90</a></td>
   <td align="right">7.6MB</td>
   <td><tt>6302e952910f9722b5b1b0d4d2757a3b0ec247da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kapman-19.07.90.tar.xz">kapman-19.07.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>5d33645183ff77ed2b70ee77984f933c5d32f688</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kapptemplate-19.07.90.tar.xz">kapptemplate-19.07.90</a></td>
   <td align="right">308kB</td>
   <td><tt>b261bfbf70a4f9e0c3cee9dc8fd382ae102455c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kate-19.07.90.tar.xz">kate-19.07.90</a></td>
   <td align="right">5.5MB</td>
   <td><tt>c471dd01a0e80dd2915d37cff50403ac2d2f5362</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/katomic-19.07.90.tar.xz">katomic-19.07.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>4e4fa521c4b836565c53c1d6c9ed94457df19893</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kbackup-19.07.90.tar.xz">kbackup-19.07.90</a></td>
   <td align="right">349kB</td>
   <td><tt>8bd49bc34428044819bb27a8068f11118ba80afd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kblackbox-19.07.90.tar.xz">kblackbox-19.07.90</a></td>
   <td align="right">432kB</td>
   <td><tt>a69cfa657bcd09da38ad304c28e30fe7a8aec84d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kblocks-19.07.90.tar.xz">kblocks-19.07.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>3bd7cd5ef76bc633ec20b17f4e72cb0cf1c9a906</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kblog-19.07.90.tar.xz">kblog-19.07.90</a></td>
   <td align="right">71kB</td>
   <td><tt>ea75209be4a6a4303556f1226ac126371f02b9dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kbounce-19.07.90.tar.xz">kbounce-19.07.90</a></td>
   <td align="right">3.3MB</td>
   <td><tt>ca8c3562b37b2a5075ed13f70ec47508803c224f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kbreakout-19.07.90.tar.xz">kbreakout-19.07.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>c94cea1870f81a1ff64e5922bada784b57b9829e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kbruch-19.07.90.tar.xz">kbruch-19.07.90</a></td>
   <td align="right">5.3MB</td>
   <td><tt>129b30f794951fc9ea0d714962de0018da9f57c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kcachegrind-19.07.90.tar.xz">kcachegrind-19.07.90</a></td>
   <td align="right">793kB</td>
   <td><tt>baea5a741470ef0544d8748e870c3a84d7f50c9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kcalc-19.07.90.tar.xz">kcalc-19.07.90</a></td>
   <td align="right">363kB</td>
   <td><tt>26cb75ce51e9847e04ad1eb8f49f4c3c07b204f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kcalcore-19.07.90.tar.xz">kcalcore-19.07.90</a></td>
   <td align="right">242kB</td>
   <td><tt>6a42906eb9bbe3922b5d4f1c3e70c3d0fe420585</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kcalutils-19.07.90.tar.xz">kcalutils-19.07.90</a></td>
   <td align="right">315kB</td>
   <td><tt>4bf29593f25ef424bd109ba5ddfebd0adb6768b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kcharselect-19.07.90.tar.xz">kcharselect-19.07.90</a></td>
   <td align="right">327kB</td>
   <td><tt>8738eef9c44b9b313fe9a46968776662a33b1bc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kcolorchooser-19.07.90.tar.xz">kcolorchooser-19.07.90</a></td>
   <td align="right">20kB</td>
   <td><tt>5e4f025226166207e58a4b95172b02640f3da5e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kcontacts-19.07.90.tar.xz">kcontacts-19.07.90</a></td>
   <td align="right">534kB</td>
   <td><tt>a2628f3c6a648ec29abc86d08dffaaa92a4717b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kcron-19.07.90.tar.xz">kcron-19.07.90</a></td>
   <td align="right">867kB</td>
   <td><tt>2196be993945fdcdd92ffbcaa52c5c3e45d8ecdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kdav-19.07.90.tar.xz">kdav-19.07.90</a></td>
   <td align="right">48kB</td>
   <td><tt>df15a79bc382be8bdf5ee20f170d3ce7b4c13d17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kdebugsettings-19.07.90.tar.xz">kdebugsettings-19.07.90</a></td>
   <td align="right">53kB</td>
   <td><tt>0b45c9f9afd98f17e12b4532fa6c7fce94bf8ff6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kde-dev-scripts-19.07.90.tar.xz">kde-dev-scripts-19.07.90</a></td>
   <td align="right">369kB</td>
   <td><tt>fafe5f1d5e0cecfc5142eff1e9f9a3cafbff0284</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kde-dev-utils-19.07.90.tar.xz">kde-dev-utils-19.07.90</a></td>
   <td align="right">60kB</td>
   <td><tt>c1d5f65b3faadd8f0428c1189e2c468e00cae1cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kdeedu-data-19.07.90.tar.xz">kdeedu-data-19.07.90</a></td>
   <td align="right">320kB</td>
   <td><tt>0ad5016dc22ff02b9517c83f23021586c8c627dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kdegraphics-mobipocket-19.07.90.tar.xz">kdegraphics-mobipocket-19.07.90</a></td>
   <td align="right">13kB</td>
   <td><tt>b5822f79da394bd67dfc19eac23d6c1a0aea245d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kdegraphics-thumbnailers-19.07.90.tar.xz">kdegraphics-thumbnailers-19.07.90</a></td>
   <td align="right">42kB</td>
   <td><tt>cb679a0c82d952aa71c9b9b6d47ec6e991399af8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kdenetwork-filesharing-19.07.90.tar.xz">kdenetwork-filesharing-19.07.90</a></td>
   <td align="right">307kB</td>
   <td><tt>8a4ba64ef3436d670a9840b33d4df6ad7737a6bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kdenlive-19.07.90.tar.xz">kdenlive-19.07.90</a></td>
   <td align="right">11MB</td>
   <td><tt>e1dee2f0512c750e8ca0a0c92abcd7c2e9bf0d33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kdepim-addons-19.07.90.tar.xz">kdepim-addons-19.07.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>b2a60cd18ce50b1eb6349b2c522b883abc123a32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kdepim-apps-libs-19.07.90.tar.xz">kdepim-apps-libs-19.07.90</a></td>
   <td align="right">80kB</td>
   <td><tt>1f10d4651da3adc3fadfbbdc9f58d6d6db401d13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kdepim-runtime-19.07.90.tar.xz">kdepim-runtime-19.07.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>5aa972ed3184117d60feadc26e7cf6226fe598de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kdesdk-kioslaves-19.07.90.tar.xz">kdesdk-kioslaves-19.07.90</a></td>
   <td align="right">36kB</td>
   <td><tt>24a7068ba736df0f12df2809061685e390541768</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kdesdk-thumbnailers-19.07.90.tar.xz">kdesdk-thumbnailers-19.07.90</a></td>
   <td align="right">16kB</td>
   <td><tt>3ea69e9d683ef45c3a76e5ea6bb0059466f747ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kdf-19.07.90.tar.xz">kdf-19.07.90</a></td>
   <td align="right">450kB</td>
   <td><tt>cec14c469c908dc6c56948d077c94fb58385d330</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kdialog-19.07.90.tar.xz">kdialog-19.07.90</a></td>
   <td align="right">100kB</td>
   <td><tt>6e1b8d0943201eff6ee810da87e7869451b495e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kdiamond-19.07.90.tar.xz">kdiamond-19.07.90</a></td>
   <td align="right">4.4MB</td>
   <td><tt>00baad48e6aec3998819c783196353abd3746318</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/keditbookmarks-19.07.90.tar.xz">keditbookmarks-19.07.90</a></td>
   <td align="right">183kB</td>
   <td><tt>e957d9851167644cc5b63bdc61fc4d7527ec5a53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kfind-19.07.90.tar.xz">kfind-19.07.90</a></td>
   <td align="right">263kB</td>
   <td><tt>7e927b7865501bfc181e141d7d81446522507b03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kfloppy-19.07.90.tar.xz">kfloppy-19.07.90</a></td>
   <td align="right">194kB</td>
   <td><tt>306f48ff95b15a9d0dd71aaa005876234c2272e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kfourinline-19.07.90.tar.xz">kfourinline-19.07.90</a></td>
   <td align="right">622kB</td>
   <td><tt>5571120e9d1992d54affe2ab9bcf5a4c3912c176</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kgeography-19.07.90.tar.xz">kgeography-19.07.90</a></td>
   <td align="right">10MB</td>
   <td><tt>7b269bfba5e89836ea77c17fc5c8d4756f57ea9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kget-19.07.90.tar.xz">kget-19.07.90</a></td>
   <td align="right">4.9MB</td>
   <td><tt>cbe4084a800bc350ca274e9f799a7a0145bffe1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kgoldrunner-19.07.90.tar.xz">kgoldrunner-19.07.90</a></td>
   <td align="right">4.2MB</td>
   <td><tt>b193851206b6564652ab4602398585797d5dbbfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kgpg-19.07.90.tar.xz">kgpg-19.07.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>b457af4db1dcd6cfa87982f119a92d61d79f4336</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/khangman-19.07.90.tar.xz">khangman-19.07.90</a></td>
   <td align="right">6.7MB</td>
   <td><tt>84d7ee8c8a2c17752499025c8a3188315d50efc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/khelpcenter-19.07.90.tar.xz">khelpcenter-19.07.90</a></td>
   <td align="right">3.6MB</td>
   <td><tt>44c528b1601dc02ac22404d8e1104bd0871e7c8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kidentitymanagement-19.07.90.tar.xz">kidentitymanagement-19.07.90</a></td>
   <td align="right">145kB</td>
   <td><tt>061002f144e1f216d13a615654147095d8cc1ecb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kig-19.07.90.tar.xz">kig-19.07.90</a></td>
   <td align="right">3.3MB</td>
   <td><tt>802bb57547558a04c1274c529d90c9847ea084da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kigo-19.07.90.tar.xz">kigo-19.07.90</a></td>
   <td align="right">4.9MB</td>
   <td><tt>e82bfa706d411d895751548a0a31ee8cb56d6d3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/killbots-19.07.90.tar.xz">killbots-19.07.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>838db4108ce161479a9f5a01a6598804b0c314f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kimagemapeditor-19.07.90.tar.xz">kimagemapeditor-19.07.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>347ee4b1d51b9047a909f8e3d2611f9c63c3f0da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kimap-19.07.90.tar.xz">kimap-19.07.90</a></td>
   <td align="right">116kB</td>
   <td><tt>4dd7d492cfffb09f893e1c283d170f7dc7afb898</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kio-extras-19.07.90.tar.xz">kio-extras-19.07.90</a></td>
   <td align="right">563kB</td>
   <td><tt>fc04f9ff410290528b513ef4728b11521f3e0c0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kipi-plugins-19.07.90.tar.xz">kipi-plugins-19.07.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>14bee3bb9b73166686fb0d66337291ffaf188105</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kirigami-gallery-19.07.90.tar.xz">kirigami-gallery-19.07.90</a></td>
   <td align="right">268kB</td>
   <td><tt>ecf9ebe709be813e383631dd9117f27ab95b9658</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kiriki-19.07.90.tar.xz">kiriki-19.07.90</a></td>
   <td align="right">363kB</td>
   <td><tt>9a4984827eb962adb8e5c7ecffa2eabe29d365f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kiten-19.07.90.tar.xz">kiten-19.07.90</a></td>
   <td align="right">10MB</td>
   <td><tt>53f5d8dcc8206e79084ebde7fcbd2e6f8c9bb7b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kitinerary-19.07.90.tar.xz">kitinerary-19.07.90</a></td>
   <td align="right">929kB</td>
   <td><tt>7ae81a6836c697cb992fa4fa3b520dce281504bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kjumpingcube-19.07.90.tar.xz">kjumpingcube-19.07.90</a></td>
   <td align="right">281kB</td>
   <td><tt>1c14a90bc0557b54a4617dd5e8a34e9d7e14f8d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kldap-19.07.90.tar.xz">kldap-19.07.90</a></td>
   <td align="right">152kB</td>
   <td><tt>08f013eb7c79153c0d444844562df40f1692691a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kleopatra-19.07.90.tar.xz">kleopatra-19.07.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>d8aae83e77f35387df8b11a43a310480dd94659e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/klettres-19.07.90.tar.xz">klettres-19.07.90</a></td>
   <td align="right">38MB</td>
   <td><tt>2b269cffdfa6554568285706892cc0e8224d0b7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/klickety-19.07.90.tar.xz">klickety-19.07.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>0ee0f59867d3f8702d38aa87cef74762ef170cdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/klines-19.07.90.tar.xz">klines-19.07.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>92bf413a26e656e8bacaa21e127704248f7de107</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kmag-19.07.90.tar.xz">kmag-19.07.90</a></td>
   <td align="right">658kB</td>
   <td><tt>a5579af283b124e9e4c632867770d54d97fe8501</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kmahjongg-19.07.90.tar.xz">kmahjongg-19.07.90</a></td>
   <td align="right">3.2MB</td>
   <td><tt>9c4e1788f330794eabc6d059d67d9418f9ba99ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kmail-19.07.90.tar.xz">kmail-19.07.90</a></td>
   <td align="right">4.5MB</td>
   <td><tt>390a912b701c91b5b615dd586e26ec55bfb8f1c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kmail-account-wizard-19.07.90.tar.xz">kmail-account-wizard-19.07.90</a></td>
   <td align="right">154kB</td>
   <td><tt>61be2cb6d78ab65b6d0872344440a971feea6ee7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kmailtransport-19.07.90.tar.xz">kmailtransport-19.07.90</a></td>
   <td align="right">162kB</td>
   <td><tt>8985af5f4e2a98550c97fa1c436015cba035e713</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kmbox-19.07.90.tar.xz">kmbox-19.07.90</a></td>
   <td align="right">24kB</td>
   <td><tt>2eea578656d5f74152130572a0e4e1c138ad884a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kmime-19.07.90.tar.xz">kmime-19.07.90</a></td>
   <td align="right">142kB</td>
   <td><tt>03d3d860edcff0766f7f2958ed6d8300a09fe10b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kmines-19.07.90.tar.xz">kmines-19.07.90</a></td>
   <td align="right">876kB</td>
   <td><tt>94b9b48392d0339bf787e348a8ad71314958a751</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kmix-19.07.90.tar.xz">kmix-19.07.90</a></td>
   <td align="right">981kB</td>
   <td><tt>13c6e159e3a7b7750b149249003f4a55e06bacd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kmousetool-19.07.90.tar.xz">kmousetool-19.07.90</a></td>
   <td align="right">111kB</td>
   <td><tt>a059777bf6845eb6024c8f22871550f6b5512ee5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kmouth-19.07.90.tar.xz">kmouth-19.07.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>cc44fd27a3171716258b0716b55a9ed9ddec2494</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kmplot-19.07.90.tar.xz">kmplot-19.07.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>29783850153d6d14278cf0363576ab6f924f446d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/knavalbattle-19.07.90.tar.xz">knavalbattle-19.07.90</a></td>
   <td align="right">1.2MB</td>
   <td><tt>40042207fec8f7c59792a09b2c6705fbc01fc7b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/knetwalk-19.07.90.tar.xz">knetwalk-19.07.90</a></td>
   <td align="right">1013kB</td>
   <td><tt>5928f324bfbe3b64f2921dea638defe42aa1487f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/knights-19.07.90.tar.xz">knights-19.07.90</a></td>
   <td align="right">3.3MB</td>
   <td><tt>eab41b4e9cdccbcda67b0dfc9fdb77af5905fa75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/knotes-19.07.90.tar.xz">knotes-19.07.90</a></td>
   <td align="right">312kB</td>
   <td><tt>70e977db7e114213ae6d170e496aa9ea5d5804cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kolf-19.07.90.tar.xz">kolf-19.07.90</a></td>
   <td align="right">1001kB</td>
   <td><tt>5fa4acea5f6357d560d3f97aaa5f5ca92af920ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kollision-19.07.90.tar.xz">kollision-19.07.90</a></td>
   <td align="right">274kB</td>
   <td><tt>974d276ce8760b089ea77c618fa80da83d3e0038</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kolourpaint-19.07.90.tar.xz">kolourpaint-19.07.90</a></td>
   <td align="right">5.3MB</td>
   <td><tt>92a9afb7f280bf12a5b334a758894826e75d9e68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kompare-19.07.90.tar.xz">kompare-19.07.90</a></td>
   <td align="right">783kB</td>
   <td><tt>3c87f6b8d8d83d6309f8218d8e05d3f7ed6f6105</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/konqueror-19.07.90.tar.xz">konqueror-19.07.90</a></td>
   <td align="right">7.2MB</td>
   <td><tt>37afc8a4d91bbc91f5a0eb52f113b9f65bd5c9bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/konquest-19.07.90.tar.xz">konquest-19.07.90</a></td>
   <td align="right">643kB</td>
   <td><tt>6fa554d02a1eedf77fac6a3ca26e94be7c832e09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/konsole-19.07.90.tar.xz">konsole-19.07.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>f74c8660eb9768ad2ea69e96a3e74939b59eb3bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kontact-19.07.90.tar.xz">kontact-19.07.90</a></td>
   <td align="right">774kB</td>
   <td><tt>28ed62c3cb268d392ca37cf3ae6b23f61aff0c23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kontactinterface-19.07.90.tar.xz">kontactinterface-19.07.90</a></td>
   <td align="right">32kB</td>
   <td><tt>b9f2c40b4a3439f6be0252b7d08b5369b7079ea5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kopete-19.07.90.tar.xz">kopete-19.07.90</a></td>
   <td align="right">8.9MB</td>
   <td><tt>fffc34af3a92192b4dfe05c418b093d342a24c70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/korganizer-19.07.90.tar.xz">korganizer-19.07.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>cddbfcd82a8ee5bb6e95d3fe9e7aee3866f4957b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kpat-19.07.90.tar.xz">kpat-19.07.90</a></td>
   <td align="right">3.4MB</td>
   <td><tt>5ccb92a639024702a0696c7bf6a76d3cd680ebbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kpimtextedit-19.07.90.tar.xz">kpimtextedit-19.07.90</a></td>
   <td align="right">149kB</td>
   <td><tt>1821c86896e4b2a58a41438b65ab7a7ccbac4b9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kpkpass-19.07.90.tar.xz">kpkpass-19.07.90</a></td>
   <td align="right">22kB</td>
   <td><tt>794f132add378b1fbe5d4c3f4f2449951c6042e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kqtquickcharts-19.07.90.tar.xz">kqtquickcharts-19.07.90</a></td>
   <td align="right">24kB</td>
   <td><tt>49cf7258f87fb8c5f361473cab364acd19ffbcfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/krdc-19.07.90.tar.xz">krdc-19.07.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f1f0760f85033832f3f0f9fdb1694c6f86a3b9ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kreversi-19.07.90.tar.xz">kreversi-19.07.90</a></td>
   <td align="right">920kB</td>
   <td><tt>954f7b673742c11446d838fa57f355110f4a367e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/krfb-19.07.90.tar.xz">krfb-19.07.90</a></td>
   <td align="right">1.2MB</td>
   <td><tt>d58b2d3e78193f5ddabed25b19f9e999ac6ee3d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kross-interpreters-19.07.90.tar.xz">kross-interpreters-19.07.90</a></td>
   <td align="right">148kB</td>
   <td><tt>09c6c6ad4b9751282c9af714a2f6b38d621b510f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kruler-19.07.90.tar.xz">kruler-19.07.90</a></td>
   <td align="right">243kB</td>
   <td><tt>7bdc5bad6b4417612ab219a1e4cc1f2fb1141f23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kshisen-19.07.90.tar.xz">kshisen-19.07.90</a></td>
   <td align="right">802kB</td>
   <td><tt>b3a843e584d427a048c9f0f261465c9d85b59c12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/ksirk-19.07.90.tar.xz">ksirk-19.07.90</a></td>
   <td align="right">6.6MB</td>
   <td><tt>38ce1705c95d0874b41798019957bdf71a18027f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/ksmtp-19.07.90.tar.xz">ksmtp-19.07.90</a></td>
   <td align="right">39kB</td>
   <td><tt>565095d603fab77763441b18c875870b90b77901</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/ksnakeduel-19.07.90.tar.xz">ksnakeduel-19.07.90</a></td>
   <td align="right">591kB</td>
   <td><tt>be53b108112aa395f4d349da13d97aef5fe1381d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kspaceduel-19.07.90.tar.xz">kspaceduel-19.07.90</a></td>
   <td align="right">597kB</td>
   <td><tt>669f91f240e067c9eee18eae504cfd38d9873786</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/ksquares-19.07.90.tar.xz">ksquares-19.07.90</a></td>
   <td align="right">254kB</td>
   <td><tt>0169fe2035a9546c7b397dedb068b63b4916481d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/ksudoku-19.07.90.tar.xz">ksudoku-19.07.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>b1aaf095da5b67609ec04ae70f22fd1299091b01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/ksystemlog-19.07.90.tar.xz">ksystemlog-19.07.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>c2bdd1203b9ae5b84ae253e7ead680946de357f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kteatime-19.07.90.tar.xz">kteatime-19.07.90</a></td>
   <td align="right">279kB</td>
   <td><tt>7aa809c0043efa910e6fe16e7a7852c8c11c4947</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/ktimer-19.07.90.tar.xz">ktimer-19.07.90</a></td>
   <td align="right">368kB</td>
   <td><tt>0613670f105167812138add1d1baae70b8e31a38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/ktnef-19.07.90.tar.xz">ktnef-19.07.90</a></td>
   <td align="right">292kB</td>
   <td><tt>fc59116f07c386af003294a71e548edd5d4d838c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/ktouch-19.07.90.tar.xz">ktouch-19.07.90</a></td>
   <td align="right">4.7MB</td>
   <td><tt>b11be5eeacaf2848db083105ac3ffc866e909b6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/ktp-accounts-kcm-19.07.90.tar.xz">ktp-accounts-kcm-19.07.90</a></td>
   <td align="right">259kB</td>
   <td><tt>eb8d10286928e140b1a53a24616d60534e284f5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/ktp-approver-19.07.90.tar.xz">ktp-approver-19.07.90</a></td>
   <td align="right">36kB</td>
   <td><tt>1fd421715460a919b9c2ee8f5d2ece044e114c82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/ktp-auth-handler-19.07.90.tar.xz">ktp-auth-handler-19.07.90</a></td>
   <td align="right">45kB</td>
   <td><tt>91ab2c296525bdb891b63d47ed262c9bf87f11a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/ktp-call-ui-19.07.90.tar.xz">ktp-call-ui-19.07.90</a></td>
   <td align="right">94kB</td>
   <td><tt>1d010cf8c5dd5e4c126bccf7a6ab37a6672bd7c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/ktp-common-internals-19.07.90.tar.xz">ktp-common-internals-19.07.90</a></td>
   <td align="right">434kB</td>
   <td><tt>1d640fdf8ecf4f1c38f07c7ec79c118787c2e997</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/ktp-contact-list-19.07.90.tar.xz">ktp-contact-list-19.07.90</a></td>
   <td align="right">144kB</td>
   <td><tt>45eb2699d6b5e61922726f4d65971d0cd08c9897</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/ktp-contact-runner-19.07.90.tar.xz">ktp-contact-runner-19.07.90</a></td>
   <td align="right">42kB</td>
   <td><tt>3cf9507e4ee6b06985bf48573a9530623f47887b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/ktp-desktop-applets-19.07.90.tar.xz">ktp-desktop-applets-19.07.90</a></td>
   <td align="right">42kB</td>
   <td><tt>f3b8e02aaa4cd5135a3dc5fc613f0b7cf0bae213</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/ktp-filetransfer-handler-19.07.90.tar.xz">ktp-filetransfer-handler-19.07.90</a></td>
   <td align="right">45kB</td>
   <td><tt>e475a5ed10c9d1272d77668640b02d903ee195ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/ktp-kded-module-19.07.90.tar.xz">ktp-kded-module-19.07.90</a></td>
   <td align="right">93kB</td>
   <td><tt>5183481b68c85b4a4b9165472461ffa9c385f67d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/ktp-send-file-19.07.90.tar.xz">ktp-send-file-19.07.90</a></td>
   <td align="right">28kB</td>
   <td><tt>17a96024abae421f0d3d05d447c558182f01d043</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/ktp-text-ui-19.07.90.tar.xz">ktp-text-ui-19.07.90</a></td>
   <td align="right">460kB</td>
   <td><tt>181478b42c1103cd1282474f6d83d0d1cbc560ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/ktuberling-19.07.90.tar.xz">ktuberling-19.07.90</a></td>
   <td align="right">31MB</td>
   <td><tt>c76b707797df5e89c1fe8a1b7c454ee2d2ddc715</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kturtle-19.07.90.tar.xz">kturtle-19.07.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>511de3c0f74b61391c85863d1e9571fa3aa6c3a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kubrick-19.07.90.tar.xz">kubrick-19.07.90</a></td>
   <td align="right">305kB</td>
   <td><tt>3dc67b89ab0852ed5b6d65a4fc86494170bbbf92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kwalletmanager-19.07.90.tar.xz">kwalletmanager-19.07.90</a></td>
   <td align="right">767kB</td>
   <td><tt>6d902b3d488b496486fe8b48667c4693437bc896</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kwave-19.07.90.tar.xz">kwave-19.07.90</a></td>
   <td align="right">5.9MB</td>
   <td><tt>66ac66d1959fbd604d3c83fad28c1c1b1f96ef1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/kwordquiz-19.07.90.tar.xz">kwordquiz-19.07.90</a></td>
   <td align="right">3.9MB</td>
   <td><tt>bc2a63888fb0dfff29096e4e81d0373cf6429a65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/libgravatar-19.07.90.tar.xz">libgravatar-19.07.90</a></td>
   <td align="right">30kB</td>
   <td><tt>cd9e2627d81ee24e1b800cfb187297470ab42527</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/libkcddb-19.07.90.tar.xz">libkcddb-19.07.90</a></td>
   <td align="right">414kB</td>
   <td><tt>f75e9103549f73d0a1ed91054b854281d01016f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/libkcompactdisc-19.07.90.tar.xz">libkcompactdisc-19.07.90</a></td>
   <td align="right">86kB</td>
   <td><tt>eaef4ca7ca6f6dfc5691dd442720bc2552185a07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/libkdcraw-19.07.90.tar.xz">libkdcraw-19.07.90</a></td>
   <td align="right">41kB</td>
   <td><tt>c93017afb5566327952a18b125391c2d6d430cae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/libkdegames-19.07.90.tar.xz">libkdegames-19.07.90</a></td>
   <td align="right">6.0MB</td>
   <td><tt>f2c05d210ff9473c80830faee70cd63bef8f958a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/libkdepim-19.07.90.tar.xz">libkdepim-19.07.90</a></td>
   <td align="right">325kB</td>
   <td><tt>506dc330dbb1c1ec5f3e293f675973d5e4ce7323</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/libkeduvocdocument-19.07.90.tar.xz">libkeduvocdocument-19.07.90</a></td>
   <td align="right">206kB</td>
   <td><tt>3998bef57de893384408360b259ede81cc63c0d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/libkexiv2-19.07.90.tar.xz">libkexiv2-19.07.90</a></td>
   <td align="right">62kB</td>
   <td><tt>bb3a21fcfec398064c51ddae783fbd41eee46ce7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/libkgapi-19.07.90.tar.xz">libkgapi-19.07.90</a></td>
   <td align="right">229kB</td>
   <td><tt>80dbe486e6e3960bde1bef4bed020058a1415d75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/libkgeomap-19.07.90.tar.xz">libkgeomap-19.07.90</a></td>
   <td align="right">147kB</td>
   <td><tt>5f2f8a862666b8c0fa6f56c2578212a745997a80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/libkipi-19.07.90.tar.xz">libkipi-19.07.90</a></td>
   <td align="right">101kB</td>
   <td><tt>1171a2dc298a5fa3aaabd9bf8f263734c51d881b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/libkleo-19.07.90.tar.xz">libkleo-19.07.90</a></td>
   <td align="right">330kB</td>
   <td><tt>a1213b4949d5ff135b3eed29435ce49f4aac81c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/libkmahjongg-19.07.90.tar.xz">libkmahjongg-19.07.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a91ec58db7d6e1d88ed1816befd20384ed06fde3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/libkomparediff2-19.07.90.tar.xz">libkomparediff2-19.07.90</a></td>
   <td align="right">169kB</td>
   <td><tt>0974b2ef7ab13ffc8ec268000eda834d0f85cdee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/libksane-19.07.90.tar.xz">libksane-19.07.90</a></td>
   <td align="right">135kB</td>
   <td><tt>80f32036ec98be68735fa5b2adc04cf0e339186f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/libksieve-19.07.90.tar.xz">libksieve-19.07.90</a></td>
   <td align="right">536kB</td>
   <td><tt>5efe311edd52376874aae39a8bed3431195916cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/lokalize-19.07.90.tar.xz">lokalize-19.07.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>ba56a1d24a6f0cc233c9739506bc3f3b1f65e15a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/lskat-19.07.90.tar.xz">lskat-19.07.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>aabaeb6aeb5ff7b7cc041756ca77919c3eef7078</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/mailcommon-19.07.90.tar.xz">mailcommon-19.07.90</a></td>
   <td align="right">674kB</td>
   <td><tt>38cccf94a54f68f2ad39b81ea94c4955d6cc7c23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/mailimporter-19.07.90.tar.xz">mailimporter-19.07.90</a></td>
   <td align="right">527kB</td>
   <td><tt>5de99deeb82d82488c51a0fbda32430dcd92a3a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/marble-19.07.90.tar.xz">marble-19.07.90</a></td>
   <td align="right">49MB</td>
   <td><tt>e2632f752cdb3f6074d82a62018932efd8902522</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/mbox-importer-19.07.90.tar.xz">mbox-importer-19.07.90</a></td>
   <td align="right">32kB</td>
   <td><tt>9fe87d75e532c86eb71005ec7875d9a27bf7deea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/messagelib-19.07.90.tar.xz">messagelib-19.07.90</a></td>
   <td align="right">9.8MB</td>
   <td><tt>062de2e4448afe5a846e092bb6aaba64b9b09c62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/minuet-19.07.90.tar.xz">minuet-19.07.90</a></td>
   <td align="right">26MB</td>
   <td><tt>80496f61f34354216537c1780018c23ffd6a496c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/okular-19.07.90.tar.xz">okular-19.07.90</a></td>
   <td align="right">6.7MB</td>
   <td><tt>19c572325706ae93f36a62d9339af25dd61c6118</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/palapeli-19.07.90.tar.xz">palapeli-19.07.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>4c0012a312b24146e1ac103b1f20923fd368da4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/parley-19.07.90.tar.xz">parley-19.07.90</a></td>
   <td align="right">8.4MB</td>
   <td><tt>77701ec4ee839e4ebe4df62a390ae62a4d9c3c80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/picmi-19.07.90.tar.xz">picmi-19.07.90</a></td>
   <td align="right">1.2MB</td>
   <td><tt>a367abf0f7e3ee43b7abb804d3226841854ec3e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/pimcommon-19.07.90.tar.xz">pimcommon-19.07.90</a></td>
   <td align="right">287kB</td>
   <td><tt>3e2f00d4a3cb24491939db10a6d764259517001b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/pim-data-exporter-19.07.90.tar.xz">pim-data-exporter-19.07.90</a></td>
   <td align="right">198kB</td>
   <td><tt>de823b347524bcf074aa756664871c61a4aee487</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/pim-sieve-editor-19.07.90.tar.xz">pim-sieve-editor-19.07.90</a></td>
   <td align="right">440kB</td>
   <td><tt>fd22a99dec79cd3422b40d13735fbfcbfd1ed4a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/poxml-19.07.90.tar.xz">poxml-19.07.90</a></td>
   <td align="right">42kB</td>
   <td><tt>a1a666ce37c2d86704789449874f41cb7d24e0dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/print-manager-19.07.90.tar.xz">print-manager-19.07.90</a></td>
   <td align="right">236kB</td>
   <td><tt>240c5c5ad0eff0358edb9f4b7bb0a3834d7c2e51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/rocs-19.07.90.tar.xz">rocs-19.07.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>71afd8d416b71fa8540d6f9da7a1898dfe8bc0ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/signon-kwallet-extension-19.07.90.tar.xz">signon-kwallet-extension-19.07.90</a></td>
   <td align="right">10kB</td>
   <td><tt>2af16d66c667336e01182328d814d6b23c37029e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/spectacle-19.07.90.tar.xz">spectacle-19.07.90</a></td>
   <td align="right">941kB</td>
   <td><tt>17fb43748a40c6cb46e6f4ed6b37bc89151b0376</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/step-19.07.90.tar.xz">step-19.07.90</a></td>
   <td align="right">849kB</td>
   <td><tt>d4eaa4bc667662a5378a2ddef65a1875323a8ae7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/svgpart-19.07.90.tar.xz">svgpart-19.07.90</a></td>
   <td align="right">20kB</td>
   <td><tt>25d8e84e6b0923caa2f476fb0bf4e228d3960346</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/sweeper-19.07.90.tar.xz">sweeper-19.07.90</a></td>
   <td align="right">359kB</td>
   <td><tt>5d4066c0e72aacd388129b6ece9deb41f0d51c8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/umbrello-19.07.90.tar.xz">umbrello-19.07.90</a></td>
   <td align="right">3.5MB</td>
   <td><tt>443bd1f3ea7c765df2331cb32e333886e0443a7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/yakuake-19.07.90.tar.xz">yakuake-19.07.90</a></td>
   <td align="right">361kB</td>
   <td><tt>8e727063ad0f00719f944fd00bc30cbc88d85864</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.90/src/zeroconf-ioslave-19.07.90.tar.xz">zeroconf-ioslave-19.07.90</a></td>
   <td align="right">38kB</td>
   <td><tt>c65240246134fb7d65fd40cae2c68178437b5927</tt></td>
</tr>

</table>
